Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

cached rep bounds and made use of generator in io packet selection
  src/fandango/constraints/repetition_bounds.py
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

Intensify breakage
  src/fandango/language/parse.py
Due: black, mypy-strict

Further intensivation—break already!
  src/fandango/language/parse.py
Due: black, mypy-strict

fix k-path bug (that was already fixed on the other branch but not on this (old) one.
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

fix k-path bug (that was already fixed on the other branch but not on this (old) one.
  src/fandango/io/__init__.py
Due: black, mypy-strict

Break all the way to Paris
  src/fandango/language/parse.py
Due: black, mypy-strict

Split benchmark CI runs into two files to be able to run on PRs across forks
  .github/workflows/benchmarks-prs-upload.yml
  .github/workflows/benchmarks-prs.yml
Due: none

Please break
  src/fandango/language/parse.py
Due: black, mypy-strict

Increase timeout for benchmark
  .github/workflows/benchmarks-main.yml
  .github/workflows/benchmarks-prs.yml
Due: none

Refactor comparison constraint evaluation
  src/fandango/constraints/comparison.py
  src/fandango/constraints/failing_tree.py
Due: black, mypy-strict

Implement distance-aware fitness for ComparisonConstraint
  src/fandango/constraints/comparison.py
  src/fandango/constraints/fitness.py
Due: black, mypy-strict

Make DistanceAwareConstraintFitness to inherit from ConstraintFitness
  src/fandango/constraints/comparison.py
  src/fandango/constraints/fitness.py
Due: black, mypy-strict

Fix type check in distance normalization calculation
  src/fandango/constraints/comparison.py
Due: black, mypy-strict

Add permission defintion to CI def
  .github/workflows/benchmarks-prs.yml
Due: none

mypy fixes
  src/fandango/constraints/comparison.py
  src/fandango/constraints/failing_tree.py
  src/fandango/constraints/fitness.py
Due: black, mypy-strict

Update Contributing.md to remove Jupytext config
  docs/Contributing.md
Due: none

Delete supported versions from SECURITY.md
  SECURITY.md
Due: none

Update deployment branch in workflow
  .github/workflows/deploy-book.yml
Due: none

Fix CI definitions now that we use a more simplified branching
  .github/workflows/benchmarks-closed.yml
  .github/workflows/benchmarks-main.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/deploy-book.yml
  .github/workflows/python-coverage.yml
  .github/workflows/python-tests.yml
Due: none

Potential fix for code scanning alert no. 36: Workflow does not contain permissions
  .github/workflows/python-coverage.yml
Due: none

Add dummy profiling code
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

Move to upstream plugin for pytest-pythonhashseed
  pyproject.toml
  src/fandango/pytest_pythonhashseed_fix.py
  tests/conftest.py
Due: black, mypy, mypy-strict

parser bug. Allow adding doubled states to parse table
  src/fandango/language/grammar/parser/column.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parse_state.py
  src/fandango/language/symbols/non_terminal.py
Due: black, mypy-strict

revert to old build system
  CMakeLists.txt
  pyproject.toml
  setup.py
Due: none

Initial beartype fixes
  src/fandango/io/packetforecaster.py
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/grammar/nodes/char_set.py
  src/fandango/language/grammar/nodes/concatenation.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
  src/fandango/language/grammar/nodes/terminal.py
  src/fandango/language/parser/FandangoLexerBase.py
  tests/test_cli.py
Due: black, mypy, mypy-strict
