Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

fix bad pointer for repetition constraints in repetition node
  src/fandango/language/parse/convert.py
Due: black, mypy-strict

remove unnecessary deepcopy in packetforecaster
  src/fandango/io/navigation/graph/packetforecaster.py
Due: black, mypy-strict

optimized forecaster to use session messages instead of deepcopy
  src/fandango/io/navigation/graph/forecasting_result.py
  src/fandango/io/navigation/graph/packetforecaster.py
  src/fandango/io/navigation/selection/forecast_view.py
  src/fandango/io/navigation/selection/packet_guide.py
  src/fandango/io/navigation/selection/packetselector.py
  src/fandango/io/packet_evolution/io_population_manager.py
  src/fandango/io/packet_evolution/packet_mounter.py
  src/fandango/io/packetparser.py
  tests/test_forecaster.py
Due: black, mypy, mypy-strict

moved forecaster to own package
  src/fandango/io/navigation/forecasting/__init__.py
  src/fandango/io/navigation/forecasting/forecast_view.py
  src/fandango/io/navigation/forecasting/forecasting_result.py
  src/fandango/io/navigation/forecasting/packetforecaster.py
  src/fandango/io/navigation/selection/packet_guide.py
  src/fandango/io/navigation/selection/packetselector.py
  src/fandango/io/packet_evolution/io_population_manager.py
  src/fandango/io/packet_evolution/packet_mounter.py
  src/fandango/io/packetparser.py
  tests/test_ambiguous_packet_parsing.py
  tests/test_forecaster.py
  tests/test_packet_boundaries.py
  tests/test_permutation_selector.py
Due: black, mypy, mypy-strict

removed dead code
  src/fandango/io/navigation/forecasting/packetforecaster.py
  src/fandango/io/navigation/graph/packetiterativeparser.py
  src/fandango/io/navigation/graph/packetnavigator.py
Due: black, mypy-strict

message hanging as contextmanager
  src/fandango/io/navigation/forecasting/packetforecaster.py
  src/fandango/io/navigation/graph/packetiterativeparser.py
  src/fandango/io/packet_evolution/packet_mounter.py
Due: black, mypy-strict

bounds constraint in packageforecaster
  src/fandango/io/navigation/forecasting/packetforecaster.py
  src/fandango/io/navigation/graph/visitor/continuing_nodevisitor.py
Due: black, mypy-strict

fallback packets are ignored if fuzzable_packets is empty
  src/fandango/io/packet_evolution/io_population_manager.py
Due: black, mypy-strict

made PathFinder private
  src/fandango/io/navigation/forecasting/packetforecaster.py
  tests/test_forecaster.py
Due: black, mypy, mypy-strict

removed code duplications for repetitionbounds and coverage_filter
  src/fandango/constraints/repetition_bounds.py
  src/fandango/io/coverage_filter.py
  src/fandango/io/navigation/graph/visitor/continuing_nodevisitor.py
  src/fandango/io/navigation/selection/coverage_tracker.py
Due: black, mypy-strict

moved history matching to stategrammarconverter
  src/fandango/io/navigation/forecasting/packetforecaster.py
  src/fandango/io/navigation/graph/packetnavigator.py
  src/fandango/io/navigation/graph/stategrammarconverter.py
  src/fandango/language/grammar/grammar.py
  tests/test_coverage_tracker.py
Due: black, mypy, mypy-strict

renamed messageholders to messageholder
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/forecasting/packetforecaster.py
  src/fandango/io/navigation/graph/packetiterativeparser.py
  src/fandango/io/packet_evolution/packet_mounter.py
Due: black, mypy-strict

cleanup check method
  src/fandango/language/symbols/terminal.py
Due: black, mypy-strict

removed duplicated code in iterative parser
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

removed duplicated code in iterative parser
  src/fandango/language/grammar/parser/forest.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parse_state.py
Due: black, mypy-strict

removed short method with only one caller
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

removed unnecessary free method
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
Due: black, mypy-strict

removed unused code
  src/fandango/io/navigation/forecasting/forecasting_result.py
Due: black, mypy-strict

removed unused code
  tests/test_coverage_tracker.py
Due: black, mypy

removed unused code
  src/fandango/evolution/algorithm/protocol.py
  tests/resources/nested_alternatives_io.fan
  tests/test_coverage_tracker.py
  tests/test_evaluate_individual.py
  tests/test_forecaster.py
  tests/test_io_buffer.py
Due: black, mypy, mypy-strict

removed unused code
  tests/test_parsing.py
Due: black, mypy

removed unused code
  tests/resources/violation_io.fan
  tests/test_violation_runs.py
Due: black, mypy

common wait until method in io
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/__init__.py
  src/fandango/io/packetparser.py
Due: black, mypy-strict

common wait until method in io
  src/fandango/io/packetparser.py
Due: black, mypy-strict

removed duplicate
  src/fandango/io/packetparser.py
Due: black, mypy-strict

removed duplicate
  src/fandango/io/navigation/graph/visitor/continuing_nodevisitor.py
Due: black, mypy-strict

coverage goal single source of truth
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/selection/coverage_tracker.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

allow empty regex matches
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

regex fixes from io speedup branch
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parser.py
  src/fandango/language/parse/convert.py
  src/fandango/language/symbols/terminal.py
  src/fandango/language/tree.py
Due: black, mypy-strict

packet parser and session trees
  src/fandango/io/packetparser.py
Due: black, mypy-strict

don't deepcopy suggestions. we already deepcopy them in the tree.replace method.
  src/fandango/constraints/fitness.py
Due: black, mypy-strict

removed tree find_subtrees cache again.
  src/fandango/language/tree.py
Due: black, mypy-strict

simplify tree.repalce interface
  src/fandango/language/tree.py
  tests/test_cli.py
Due: black, mypy, mypy-strict

use split_end via context instead of deepcopy.
  src/fandango/evolution/mutation.py
  src/fandango/language/tree.py
Due: black, mypy-strict

reduced DEFAULT_WAIT_FOR_COMPLETION_TIME to 0.15 seconds
  src/fandango/io/packetparser.py
Due: black, mypy-strict

removed redundant logic from node_before_repetition
  src/fandango/constraints/repetition_bounds.py
  src/fandango/io/navigation/graph/visitor/continuing_nodevisitor.py
Due: black, mypy-strict

ruff & mypy
  tests/test_coverage_tracker.py
  tests/test_network_party.py
Due: black, mypy

more efficient k-path computation
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

added k-path test
  tests/resources/k_path_io.fan
  tests/test_k_path_extraction.py
Due: black, mypy
