Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Added synthetic party handling
  src/fandango/evolution/algorithm.py
  src/fandango/io/__init__.py
Due: black, mypy-strict

Added method to check which parties have received messages
  src/fandango/io/__init__.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

Update pylock.toml
  pylock.toml
Due: none

Update .github/workflows/dependabot-pylock.yml
  .github/workflows/dependabot-pylock.yml
Due: none

remove exception catch in io method
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

added timer party classes
  src/fandango/io/__init__.py
Due: black, mypy-strict

resolve merge conflicts from main
  src/fandango/language/parse/io.py
Due: black, mypy-strict

run black
  src/fandango/language/parse/io.py
Due: black, mypy-strict

exclude dist and build from mypy
  pyproject.toml
Due: none

uvlock
  pylock.toml
  uv.lock
Due: none

type annontation
  src/fandango/cli/shell.py
Due: black, mypy-strict

Add installation target "full"
  pylock.toml
  pyproject.toml
  uv.lock
Due: none

Add stop options
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

s/leonbett/fandango-fuzzer
  Makefile
Due: none

Exit installation if LLVM version < 18
  Makefile
Due: none

remove dependency on mermaid-cli
  Makefile
Due: none

More PATH fun
  tests/test_execution_feedback.py
Due: black, mypy

remove broken uv dependency on linux
  Makefile
Due: none

remove no-longer-necessary PATH fixing
  .github/workflows/python-tests.yml
Due: none
