Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

renamed variables
  src/fandango/language/grammar/parser/column.py
  src/fandango/language/grammar/parser/grammar_compiler.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parse_state.py
Due: black, mypy-strict

renamed variables for consistency
  src/fandango/language/grammar/parser/column.py
  src/fandango/language/grammar/parser/forest.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parse_state.py
Due: black, mypy-strict

renamed variables for consistency
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

mypy
  src/fandango/language/tree.py
Due: black, mypy-strict

fix test
  tests/test_cli.py
Due: black, mypy

is_ambiguous caching
  src/fandango/language/grammar/parser/forest.py
Due: black, mypy-strict

find message borders while parsing without extreme parsing fragmentation
  src/fandango/io/packetparser.py
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

take longest parse from iterative parser
  src/fandango/io/__init__.py
  src/fandango/io/packetparser.py
Due: black, mypy-strict

take longest parse from iterative parser
  src/fandango/io/packetparser.py
Due: black, mypy-strict

take longest parse from iterative parser
  src/fandango/io/__init__.py
  src/fandango/io/packetparser.py
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

added buffering tests
  tests/test_io_buffer.py
Due: black, mypy

better consume interface
  src/fandango/io/packetparser.py
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

added parser tests
  tests/test_parsing.py
Due: black, mypy

Added packet parsing tests
  tests/test_packet_boundaries.py
  tests/test_parsing.py
Due: black, mypy

broke parse_next_remote_packet into multiple sub-methods
  src/fandango/io/packetparser.py
Due: black, mypy-strict

make parser yield trees only at the end in one step
  src/fandango/language/grammar/parser/forest.py
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

make parser yield trees only at the end in one step
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parse_state.py
Due: black, mypy-strict

ruff
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

Regexes can now match at multiple positions
  src/fandango/io/__init__.py
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

Added test for empty messages package parsing
  tests/test_io_buffer.py
Due: black, mypy

added greedy test for regex parsing (iterative and non-iterative)
  tests/test_parsing.py
Due: black, mypy

ruff
  tests/test_parsing.py
Due: black, mypy

incomplete parses should be yielded even if the same tree has already been yielded as complete
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

changed iterative parser interface so consume is not a generator anymore
  src/fandango/io/navigation/graph/packetforecaster.py
  src/fandango/io/navigation/graph/packetnavigator.py
  src/fandango/io/packetparser.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parser.py
  tests/test_benchmarks.py
Due: black, mypy, mypy-strict

changed iterative parser interface so consume is not a generator anymore
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parser.py
Due: black, mypy-strict

changed iterative parser interface so consume is not a generator anymore
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

better incomplete/complete parsing semantics
  src/fandango/language/grammar/parser/iterative_parser.py
  tests/test_parsing.py
Due: black, mypy, mypy-strict

better incomplete/complete parsing semantics
  tests/test_parsing.py
Due: black, mypy

better incomplete/complete parsing semantics
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parse_state.py
  tests/test_parsing.py
Due: black, mypy, mypy-strict

comments
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

removed name caching in non_terminal.py
  src/fandango/language/symbols/non_terminal.py
Due: black, mypy-strict

use flatten() in hash function
  src/fandango/language/tree.py
Due: black, mypy-strict

modev grammar with all nodes to test resources.
  tests/resources/grammar_with_all_nodes.fan
  tests/test_benchmarks.py
Due: black, mypy

removed anti measures for PYTHONHASHSEED sorted methods
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/crossover.py
Due: black, mypy-strict

better parser caching
  src/fandango/language/grammar/parser/parser.py
Due: black, mypy-strict

fixed flat method
  src/fandango/language/tree.py
Due: black, mypy-strict

fixed caching
  src/fandango/language/grammar/parser/parser.py
Due: black, mypy-strict

fix cli hashes
  tests/test_cli.py
Due: black, mypy

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
