Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Improve check for errors in book
  Makefile
Due: none

Introduce an experimental module and move FCC to it
  docs/PythonAPI.md
  src/fandango/evolution/evaluation.py
  src/fandango/experimental/__init__.py
  src/fandango/experimental/execution/__init__.py
  src/fandango/experimental/execution/dynamic_analysis.py
  src/fandango/experimental/execution/fcc.py
  src/fandango/experimental/execution/static_analysis.py
  src/fandango/experimental/execution/trace_types.py
  tests/test_execution_feedback.py
  tests/test_meta.py
Due: black, mypy, mypy-strict

Add custom warning type for improved ignorability
  docs/PythonAPI.md
  src/fandango/__init__.py
  src/fandango/experimental/__init__.py
  tests/test_execution_feedback.py
  tests/test_meta.py
Due: black, mypy, mypy-strict

Make tests more stable
  tests/test_meta.py
Due: black, mypy

Introduce tree.find_subtrees
  docs/DNS.md
  evaluation/protocol_testing_eval/dns/dns.fan
  evaluation/protocol_testing_eval/dune/dune.fan
  evaluation/protocol_testing_eval/ftp/ftp.fan
  src/fandango/language/search.py
  src/fandango/language/tree.py
  tests/test_tree.py
Due: black, mypy, mypy-strict

Remove reliance on interface only suppported by Python 3.14+
  src/fandango/language/tree.py
Due: black, mypy-strict

Only emit one warning per experimental module
  src/fandango/experimental/__init__.py
  tests/test_execution_feedback.py
  tests/test_meta.py
Due: black, mypy, mypy-strict

Introduce --enable-experimental-module
  src/fandango/cli/__init__.py
  src/fandango/cli/parser.py
  src/fandango/evolution/evaluation.py
  src/fandango/experimental/__init__.py
Due: black, mypy-strict

Improve balancing across cores for unit tests
  pyproject.toml
Due: none

Fix type checks and fitness comparisons
  src/fandango/constraints/comparison.py
Due: black, mypy-strict

Only test 5 random specs in differential spec file parser tests for performance reasons
  tests/test_fan_parsers.py
Due: black, mypy

Set generator outputs to read-only on update to parameters
  src/fandango/language/tree.py
Due: black, mypy-strict

Added testcase to check for fixed bug in converter parameter update
  tests/test_grammar.py
Due: black, mypy

run black
  tests/test_grammar.py
Due: black, mypy

Prevent runaway processes
  docs/Protocols.md
  docs/minitelnet.py
Due: none

Introduce `pylock.toml`
  .github/workflows/code-checks.yml
  .pre-commit-config.yaml
  pylock.toml
Due: none

Document pylock.toml alongside uv.lock
  docs/Contributing.md
Due: none

Keep pylock.toml in sync
  pylock.toml
Due: none

Update docs/Contributing.md
  docs/Contributing.md
Due: none

Auto-update `pylock.toml` for Dependabot
  .github/workflows/code-checks.yml
  .github/workflows/dependabot-pylock.yml
Due: none
