Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

unit tests for new coverage tracker
  tests/test_coverage_tracker.py
  tests/test_network_party.py
Due: black, mypy

unit tests for new coverage tracker
  tests/resources/echo_io.fan
  tests/test_coverage_filter.py
  tests/test_coverage_tracker.py
Due: black, mypy

optimized replace_multiple. ignore subtrees that dont contain replacements
  src/fandango/language/tree.py
  tests/test_cli.py
Due: black, mypy, mypy-strict

fixed bug for read only flag when appending mounting new population entry along mounting path. Fixed SimpelMutation size computation, made tree.protocol_msgs a generator
  evaluation/protocol_testing_eval/dune/utils.py
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/mutation.py
  src/fandango/evolution/population.py
  src/fandango/io/coverage_filter.py
  src/fandango/io/navigation/selection/packet_guide.py
  src/fandango/language/tree.py
  tests/test_ambiguous_packet_parsing.py
  tests/test_msg_exchange.py
Due: black, mypy, mypy-strict

use detached packets for generation
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/population.py
  src/fandango/io/packet_evolution/__init__.py
  src/fandango/io/packet_evolution/io_population_manager.py
  src/fandango/io/packet_evolution/mounting_operators.py
  src/fandango/io/packet_evolution/packet_mounting.py
Due: black, mypy-strict

mypy and ruff
  src/fandango/evolution/mutation.py
  src/fandango/evolution/population.py
  src/fandango/io/navigation/selection/coverage_tracker.py
Due: black, mypy-strict

_find_subtrees-cache
  src/fandango/language/tree.py
  tests/test_cli.py
Due: black, mypy, mypy-strict

_find_subtrees-cache
  src/fandango/language/tree.py
Due: black, mypy-strict

dynamic number of fix rounds in fix_individual
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/population.py
  src/fandango/io/packet_evolution/io_population_manager.py
  tests/test_cli.py
Due: black, mypy, mypy-strict

mark k paths as unreachable in coverage filter
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/coverage_filter.py
Due: black, mypy-strict

tests for coverage filter
  tests/test_coverage_filter.py
Due: black, mypy

fixed converter named method parameters
  src/fandango/language/parse/convert.py
  tests/test_language.py
Due: black, mypy, mypy-strict

add lambda expressions to the converter
  src/fandango/language/parse/convert.py
  tests/test_language.py
Due: black, mypy, mypy-strict

parser don't use tree copy for tree parsing context
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/packet_evolution/io_population_manager.py
  src/fandango/io/packet_evolution/mounting_operators.py
  src/fandango/io/packet_evolution/packet_mounter.py
  src/fandango/io/packet_evolution/packet_mounting.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parser.py
Due: black, mypy-strict

comments
  src/fandango/io/packet_evolution/io_population_manager.py
  src/fandango/io/packet_evolution/mounting_operators.py
  tests/test_violation_runs.py
Due: black, mypy, mypy-strict

preserve caches for parsed messages.
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/packet_evolution/io_population_manager.py
  src/fandango/io/packet_evolution/packet_mounter.py
Due: black, mypy-strict

better packet_mounter interface
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/packet_evolution/io_population_manager.py
  src/fandango/io/packet_evolution/mounting_operators.py
  src/fandango/io/packet_evolution/packet_mounter.py
  src/fandango/language/tree.py
Due: black, mypy-strict

added warning for incoming messages with possible further message growth
  src/fandango/io/packetparser.py
Due: black, mypy-strict

add path coverage info class
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/selection/coverage_tracker.py
Due: black, mypy-strict

cleanup
  src/fandango/io/navigation/selection/coverage_tracker.py
  src/fandango/io/navigation/selection/protocol_model.py
Due: black, mypy-strict

cleanup
  src/fandango/io/navigation/selection/coverage_tracker.py
  src/fandango/io/navigation/selection/packetselector.py
  src/fandango/io/navigation/selection/target_selector.py
  tests/test_coverage_tracker.py
  tests/test_grammar_graph.py
  tests/test_permutation_selector.py
Due: black, mypy, mypy-strict

_rule_terminals_matching compares if terminal type matches binary/non-binary
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/coverage_filter.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

_rule_terminals_matching compares if terminal type matches binary/non-binary
  tests/test_coverage_filter.py
Due: black, mypy

fix fitness function rounding error
  src/fandango/evolution/evaluation.py
  tests/test_evaluate_individual.py
Due: black, mypy, mypy-strict

store hash values instead of entire trees as keys for tree_at
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

parser: cache only the last yielded tree instead of the entire forest.
  src/fandango/language/grammar/parser/parser.py
Due: black, mypy-strict

let the generator use hookinparent for parsing of grammars including contextual repetitions.
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/nodes/non_terminal.py
Due: black, mypy-strict

let the generator use hookinparent for parsing of grammars including contextual repetitions.
  tests/test_grammar.py
Due: black, mypy

added remove_child method to get list of shallow list copies on every tree children removal operation
  src/fandango/io/packet_evolution/packet_mounter.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/tree.py
Due: black, mypy-strict

more efficient computation of remaining nodes per new child in repetition node fix
  src/fandango/language/grammar/nodes/repetition.py
Due: black, mypy-strict

bounds constraint repair can now deny repairing on extreme repetition suggestions
  src/fandango/constraints/repetition_bounds.py
  src/fandango/evolution/adaptation.py
  src/fandango/language/grammar/nodes/__init__.py
Due: black, mypy-strict

bounds constraint repair can now deny repairing on extreme repetition suggestions
  tests/test_cli.py
  tests/test_evaluate_individual.py
Due: black, mypy

mutator fix
  src/fandango/evolution/mutation.py
Due: black, mypy-strict

throw and print generator grammar if generator can be parsed with grammar
  src/fandango/constraints/repetition_bounds.py
  src/fandango/errors.py
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/mutation.py
  src/fandango/evolution/population.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

throw and print generator grammar if generator can be parsed with grammar
  tests/test_evaluate_individual.py
Due: black, mypy

ruff
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict

clear graph after navigation of grammar graph navigation
  src/fandango/io/navigation/graph/grammarnavigator.py
Due: black, mypy-strict

workaround for partial match issue in the official, standard Python library. (wtf)
  src/fandango/language/symbols/terminal.py
Due: black, mypy-strict

fix can continue logic for regex symbols
  src/fandango/language/symbols/terminal.py
Due: black, mypy-strict
