Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

mypy/ruff
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/selection/packet_guider.py
  src/fandango/io/navigation/selection/packetselector.py
  tests/test_blocked_steps.py
Due: black, mypy, mypy-strict

mypy/ruff
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

moved path confirmation to observe new message method
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

validate incoming messages for containing self._guide_target
  src/fandango/io/navigation/selection/guide_path_tracker.py
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

validate incoming messages for containing self._guide_target
  src/fandango/io/navigation/forecasting/forecasting_result.py
  src/fandango/io/navigation/forecasting/packetforecaster.py
  src/fandango/io/navigation/selection/guide_path_tracker.py
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

Add -F option to use specs from Fanbase
  docs/Fanbase.md
  docs/_toc.yml
  pyproject.toml
  src/fandango/cli/commands.py
  src/fandango/cli/fanbase_files.py
  src/fandango/cli/output.py
  src/fandango/cli/parser.py
  tests/test_fanbase.py
Due: black, mypy, mypy-strict

Lock fanbase 0.4.0
  pylock.toml
  uv.lock
Due: none

Read Fanbase spec files into memory so no file stays open
  src/fandango/cli/fanbase_files.py
Due: black, mypy-strict

Close Fanbase spec files after the command, fix tests under beartype
  src/fandango/cli/commands.py
  src/fandango/cli/fanbase_files.py
  tests/test_fanbase.py
Due: black, mypy, mypy-strict

Remove the test directory only after leaving it, for Windows
  tests/test_fanbase.py
Due: black, mypy

Open Fanbase spec files with with-statements
  src/fandango/cli/commands.py
  src/fandango/cli/fanbase_files.py
  tests/test_fanbase.py
Due: black, mypy, mypy-strict

Close files given with -f when the command is done
  src/fandango/cli/commands.py
  tests/test_fanbase.py
Due: black, mypy, mypy-strict

Add the Fanbase changes to the 1.3 release notes
  docs/ReleaseNotes.md
Due: none

Bump to 1.3 and complete the release notes
  CITATION.cff
  docs/ReleaseNotes.md
  docs/_config.yml
  pyproject.toml
  tutorial/requirements.txt
  uv.lock
Due: none

target selection strategy extended to include longer lengths if needed
  src/fandango/io/navigation/selection/target_selector.py
Due: black, mypy-strict

Say how to get a Fanbase spec when its include is not found
  docs/Fanbase.md
  src/fandango/language/parse/splitter.py
  tests/test_fanbase.py
Due: black, mypy, mypy-strict

Document that Fanbase installs the packages a spec needs
  docs/Fanbase.md
  docs/ReleaseNotes.md
  pylock.toml
  pyproject.toml
  tests/test_fanbase.py
  uv.lock
Due: black, mypy

Move Fanbase docs under Hatching Specs
  docs/_toc.yml
Due: none

added connection violation
  src/fandango/errors.py
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/__init__.py
  src/fandango/io/violation.py
Due: black, mypy-strict

left recursion forecaster
  src/fandango/io/navigation/graph/visitor/continuing_nodevisitor.py
  tests/test_forecaster.py
Due: black, mypy, mypy-strict

init external parties first
  src/fandango/io/__init__.py
Due: black, mypy-strict

make forecaster only return the last steps
  src/fandango/io/navigation/forecasting/forecasting_result.py
  src/fandango/io/navigation/forecasting/packetforecaster.py
  src/fandango/io/navigation/selection/packet_guider.py
  tests/test_blocked_step_pruner.py
  tests/test_blocked_steps.py
Due: black, mypy, mypy-strict

faster find_by_origin
  src/fandango/language/tree.py
Due: black, mypy-strict

scoping takes case of constraint bases
  src/fandango/io/constraints/constraint_scope.py
  tests/test_packet_evolution.py
Due: black, mypy, mypy-strict

comment
  src/fandango/io/constraints/constraint_scope.py
Due: black, mypy-strict

ruff
  src/fandango/io/__init__.py
Due: black, mypy-strict

replace method. Ignore replacements targeting other replacements
  src/fandango/language/tree.py
Due: black, mypy-strict

Fix parsing for double comparison constraints
  language/FandangoParser.g4
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/cpp_parser/FandangoParserBaseVisitor.h
  src/fandango/language/cpp_parser/FandangoParserVisitor.h
  src/fandango/language/cpp_parser/sa_fandango_translator.cpp
  src/fandango/language/cpp_parser/sa_fandango_translator.h
  src/fandango/language/parse/convert.py
  src/fandango/language/parse/parse_tree.py
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/parser/FandangoParserVisitor.py
  src/fandango/language/parser/sa_fandango.py
  tests/test_constraints.py
Due: black, mypy, mypy-strict

added get_root_symbol to constraint
  src/fandango/language/search.py
  tests/test_searches.py
Due: black, mypy, mypy-strict

Drop unnecessary semicolons
  tests/test_constraints.py
Due: black, mypy

Update lockfiles
  pylock.toml
Due: none

quantifier scopes. better distinguish
  src/fandango/io/constraints/constraint_scope.py
  tests/test_packet_evolution.py
Due: black, mypy, mypy-strict

constraint scoping forall
  src/fandango/constraints/forall.py
  src/fandango/io/constraints/constraint_scope.py
  src/fandango/io/packet_evolution/io_evaluator.py
  tests/test_packet_evolution.py
Due: black, mypy, mypy-strict

more fine-grained coverage filter release
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/coverage_filter.py
  tests/test_coverage_filter.py
Due: black, mypy, mypy-strict

Search include() directories in a fixed, documented order
  docs/Including.md
  src/fandango/language/parse/splitter.py
  tests/test_include_order.py
Due: black, mypy, mypy-strict

Test the system directories without XDG_DATA_DIRS
  tests/test_include_order.py
Due: black, mypy

Say where Fanbase 0.5 installs specs on a Mac
  docs/Fanbase.md
Due: none

comment
  src/fandango/evolution/population.py
Due: black, mypy-strict

added comment to split_end_context
  src/fandango/language/tree.py
Due: black, mypy-strict
