Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Add uv to system dev tools for all platforms
  Makefile
Due: none

fixed tests under windows
  Makefile
  tests/test_cli.py
  tests/test_softconstraint.py
Due: black, mypy

coverage_guidance coverage goal
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

run black fixed coverage goals
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/population.py
  src/fandango/io/navigation/coverage_goal.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/io/navigation/powerschedule.py
  src/fandango/io/navigation/stategrammarconverter.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/nodes/node.py
Due: black, mypy-strict

run black fixed coverage goals
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

run black fixed coverage goals
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

Remove a repr call
  src/fandango/constraints/repetition_bounds.py
Due: black, mypy-strict

fixed none case in packet selector
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

Make docutils version requirement consistent in book and test
  pyproject.toml
  uv.lock
Due: none

fixed none case in packet selector
  src/fandango/io/__init__.py
Due: black, mypy-strict

fixed bug when parsing whole packages in constraint fixes
  src/fandango/constraints/comparison.py
Due: black, mypy-strict

Fix bug where mismatched types in single sides of constraints lead to an exception
  src/fandango/constraints/comparison.py
  src/fandango/language/tree.py
  src/fandango/language/tree_value.py
  tests/resources/non_matching_types_eq_constraint.fan
  tests/test_evaluate_individual.py
Due: black, mypy, mypy-strict

fixed bug when parsing whole packages in constraint fixes
  src/fandango/evolution/algorithm.py
  src/fandango/io/navigation/coverage_goal.py
Due: black, mypy-strict

Added Valentin and Alex as authors
  docs/_config.yml
Due: none

Moved intro -> index (new landing page w/o redirect)
  docs/index.md
Due: none

New structure with more parts
  docs/Parsing.md
  docs/Tutorial.md
  docs/_toc.yml
Due: none

Fix: telnet reply is \n
  docs/smtp-telnet.fan
Due: none

Fix: telnet needs localhost
  docs/Protocols.md
Due: none

print coverage as /100%
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

Prepared chapter on diversity (coverage, k-path)
  docs/Diversity.md
  docs/_toc.yml
Due: none

New: Let Fandango actually run
  docs/Protocols.md
Due: none
