Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

added run abandonment check
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/selection/packet_guider.py
  src/fandango/io/navigation/selection/packetselector.py
  tests/test_blocked_steps.py
Due: black, mypy, mypy-strict

_update_open_below in target selector
  src/fandango/io/navigation/selection/target_selector.py
Due: black, mypy-strict

added as_in_calling_last_rule to step
  src/fandango/io/navigation/step.py
Due: black, mypy-strict

added blocking in context and rule directly to step refusals
  src/fandango/io/navigation/selection/step_refusals.py
Due: black, mypy-strict

_shallowest_derivable_unreached_targets
  src/fandango/io/navigation/selection/target_selector.py
Due: black, mypy-strict

_shallowest_derivable_unreached_targets
  evaluation/protocol_testing_eval/ftp/ftp.fan
  src/fandango/io/navigation/graph/packetnavigator.py
Due: black, mypy-strict

added _target_packets
  src/fandango/io/navigation/selection/packet_guider.py
  tests/test_blocked_step_pruner.py
  tests/test_blocked_steps.py
Due: black, mypy, mypy-strict

moved guide path to guidepathtracker
  src/fandango/io/navigation/graph/packetnavigator.py
  src/fandango/io/navigation/route.py
  src/fandango/io/navigation/selection/guide_path_tracker.py
  src/fandango/io/navigation/selection/packet_guider.py
  tests/test_blocked_step_pruner.py
  tests/test_permutation_selector.py
Due: black, mypy, mypy-strict

moved guide path to guidepathtracker
  tests/test_grammar_graph.py
Due: black, mypy

doc
  src/fandango/io/navigation/selection/step_refusals.py
Due: black, mypy-strict

step refusals add counting takes
  src/fandango/io/navigation/selection/step_refusals.py
Due: black, mypy-strict

added count_unanswered step as refused
  src/fandango/io/navigation/selection/packet_guider.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

navigator
  src/fandango/io/navigation/graph/grammarnavigator.py
  src/fandango/io/navigation/graph/packetnavigator.py
Due: black, mypy-strict

split navigator in multiple klasses and moved them to a package
  src/fandango/io/navigation/graph/grammar_navigator/__init__.py
  src/fandango/io/navigation/graph/grammar_navigator/future_keys.py
  src/fandango/io/navigation/graph/grammar_navigator/grammar_graph_converter.py
  src/fandango/io/navigation/graph/grammar_navigator/navigator.py
  src/fandango/io/navigation/graph/grammar_navigator/path_search.py
  src/fandango/io/navigation/graph/grammar_navigator/rule_costs.py
  src/fandango/io/navigation/graph/grammar_navigator/search_targets.py
  src/fandango/io/navigation/graph/grammarnavigator.py
  src/fandango/io/navigation/graph/packetnavigator.py
Due: black, mypy-strict

tests
  tests/resources/refused_reply.fan
  tests/test_blocked_steps.py
  tests/test_grammar_graph.py
Due: black, mypy

renamed StepRefusals to StepRefusalCounter
  src/fandango/io/navigation/selection/packet_guider.py
  src/fandango/io/navigation/selection/packetselector.py
  src/fandango/io/navigation/selection/step_refusals.py
  tests/test_blocked_steps.py
  tests/test_permutation_selector.py
Due: black, mypy, mypy-strict

StepRefusalCounter and navigator live in PacketGuider
  src/fandango/io/navigation/selection/packet_guider.py
  src/fandango/io/navigation/selection/packetselector.py
  src/fandango/io/navigation/selection/protocol_model.py
  tests/test_permutation_selector.py
Due: black, mypy, mypy-strict

StepRefusalCounter and navigator live in PacketGuider
  tests/test_blocked_steps.py
  tests/test_permutation_selector.py
Due: black, mypy

StepRefusalCounter and navigator live in PacketGuider
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/selection/packet_guider.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

protocol commit
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict

guide_path tracker uses steps for follow function
  src/fandango/io/navigation/selection/guide_path_tracker.py
Due: black, mypy-strict

guide_path tracker uses steps for follow function
  src/fandango/io/navigation/selection/packet_guider.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

removed target_packets from route
  src/fandango/io/navigation/graph/packetnavigator.py
  src/fandango/io/navigation/route.py
Due: black, mypy-strict

make navigator return only unexpanded routes
  src/fandango/io/navigation/graph/grammar_navigator/path_search.py
  src/fandango/io/navigation/selection/guide_path_tracker.py
Due: black, mypy-strict

also count steps of fuzzer packets
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

Joint refusal counting for step and target
  src/fandango/io/navigation/selection/guide_path_tracker.py
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

move derivation counting to observe packet method
  src/fandango/io/navigation/selection/packet_guider.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

count refusals in observe method
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

merge abandon run and signal_session_end
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/selection/packet_guider.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

move_to_next_session_start
  src/fandango/io/navigation/selection/guide_path_tracker.py
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

move_to_next_session_start
  src/fandango/io/navigation/selection/guide_path_tracker.py
Due: black, mypy-strict

move_to_next_session_start
  src/fandango/io/navigation/selection/packet_guider.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

test
  tests/test_blocked_step_pruner.py
  tests/test_permutation_selector.py
Due: black, mypy

renamings
  src/fandango/io/navigation/selection/step_refusals.py
Due: black, mypy-strict

made self._deviated a bool
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

navigator build on demand
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

tests
  tests/test_blocked_steps.py
  tests/test_grammar_graph.py
Due: black, mypy
