Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

Added comments to dns.fan, Fixed that replacements generated by EqualComparisonSuggestion could be read only
  evaluation/experiments/dns/dns.fan
  src/fandango/constraints/comparison.py
Due: black, mypy-strict

Merge main
  .github/dependabot.yml
  src/fandango/constraints/comparison.py
  src/fandango/language/tree.py
  src/fandango/language/tree_value.py
  tests/resources/non_matching_types_eq_constraint.fan
  tests/test_evaluate_individual.py
  tests/test_optimizer.py
  uv.lock
Due: black, mypy, mypy-strict

Remove `uv pip install` from Contribution guide
  docs/Contributing.md
Due: none

fix repetition_bounds
  evaluation/experiments/dns/dns.fan
  evaluation/experiments/dns/dns.py
  src/fandango/constraints/failing_tree.py
  src/fandango/constraints/repetition_bounds.py
  src/fandango/evolution/evaluation.py
Due: black, mypy, mypy-strict

fix repetition_bounds
  src/fandango/constraints/comparison.py
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

run black
  evaluation/experiments/dns/dns.py
Due: black, mypy

fixed mypy
  src/fandango/constraints/comparison.py
  src/fandango/constraints/failing_tree.py
  src/fandango/constraints/repetition_bounds.py
Due: black, mypy-strict

fixed black
  src/fandango/constraints/comparison.py
  src/fandango/constraints/failing_tree.py
  src/fandango/constraints/repetition_bounds.py
Due: black, mypy-strict

Group patch updates for dependabot
  .github/dependabot.yml
Due: none

fixed msg_parties
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/non_terminal.py
Due: black, mypy-strict

dns documentation
  evaluation/experiments/dns/dns.fan
Due: none

ftp documentation
  evaluation/experiments/ftp/ftp.fan
Due: none

Typo
  evaluation/experiments/ftp/ftp.fan
Due: none

Minor fixes
  evaluation/experiments/ftp/ftp.fan
Due: none

Started with documentation
  docs/FTP.md
Due: none

More docs
  docs/FTP.md
Due: none

Expanded relation between FSA and protocol grammars
  docs/Protocols.md
Due: none

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
