Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Added permutations using .fan parser and alternative nodes
  language/FandangoParser.g4
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  tests/resources/permutation.fan
  tests/test_grammar.py
Due: black, mypy

Prioritize Execution Feedback unit tests
  tests/conftest.py
Due: black, mypy

Permutations process
  language/FandangoLexer.g4
  language/FandangoParser.g4
  src/fandango/language/cpp_parser/FandangoLexer.cpp
  src/fandango/language/cpp_parser/FandangoLexer.h
  src/fandango/language/cpp_parser/FandangoLexer.interp
  src/fandango/language/cpp_parser/FandangoLexer.tokens
  src/fandango/language/cpp_parser/FandangoLexerBase.cpp
  src/fandango/language/cpp_parser/FandangoLexerBase.h
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/cpp_parser/FandangoParser.tokens
  src/fandango/language/parse/convert.py
  src/fandango/language/parse/parse_tree.py
  src/fandango/language/parser/FandangoLexer.interp
  src/fandango/language/parser/FandangoLexer.py
  src/fandango/language/parser/FandangoLexer.tokens
  src/fandango/language/parser/FandangoLexerBase.py
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/parser/FandangoParser.tokens
  tests/resources/permutation.fan
  tests/test_grammar.py
Due: black, mypy, mypy-strict

Permutations process
  language/FandangoLexer.g4
  language/FandangoParser.g4
  src/fandango/language/cpp_parser/FandangoLexer.cpp
  src/fandango/language/cpp_parser/FandangoLexer.h
  src/fandango/language/cpp_parser/FandangoLexer.interp
  src/fandango/language/cpp_parser/FandangoLexer.tokens
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/cpp_parser/FandangoParser.tokens
  src/fandango/language/parser/FandangoLexer.interp
  src/fandango/language/parser/FandangoLexer.py
  src/fandango/language/parser/FandangoLexer.tokens
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/parser/FandangoParser.tokens
  tests/resources/permutation.fan
Due: none

Protocol algorithm
  src/fandango/evolution/algorithm/base.py
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/algorithm/simple.py
  src/fandango/io/packetparser.py
Due: black, mypy-strict

Protocol algorithm
  src/fandango/api.py
  src/fandango/evolution/algorithm/__init__.py
  src/fandango/evolution/algorithm/algorithm_selector.py
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/algorithm/simple.py
  tests/test_grammar_coverage.py
Due: black, mypy, mypy-strict

Protocol algorithm
  src/fandango/api.py
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict

Protocol algorithm
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict

Added is_permutation to alternatives
  language/FandangoParser.g4
  src/fandango/io/navigation/stategrammarconverter.py
  src/fandango/io/navigation/visitor/continuing_nodevisitor.py
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/cpp_parser/FandangoParserBaseVisitor.h
  src/fandango/language/cpp_parser/FandangoParserVisitor.h
  src/fandango/language/cpp_parser/sa_fandango_translator.cpp
  src/fandango/language/cpp_parser/sa_fandango_translator.h
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/parse/convert.py
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/parser/FandangoParserVisitor.py
Due: black, mypy-strict

Added support for permutations to packetselector
  src/fandango/io/navigation/packetiterativeparser.py
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/packetselector.py
  tests/resources/permutation_io.fan
  tests/test_permutation_selector.py
Due: black, mypy, mypy-strict

Added constraint validation when hooking in new messages to protocol session tree
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/packetparser.py
  tests/resources/ambiguous_io.fan
  tests/test_ambiguous_packet_parsing.py
Due: black, mypy, mypy-strict

Added constraint validation when hooking in new messages to protocol session tree
  tests/resources/ambiguous_io.fan
  tests/test_ambiguous_packet_parsing.py
Due: black, mypy

Update pylock.toml
  pylock.toml
Due: none

changed permutation symbol
  language/FandangoLexer.g4
  language/FandangoParser.g4
  src/fandango/language/cpp_parser/FandangoLexer.cpp
  src/fandango/language/cpp_parser/FandangoLexer.h
  src/fandango/language/cpp_parser/FandangoLexer.interp
  src/fandango/language/cpp_parser/FandangoLexer.tokens
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/cpp_parser/FandangoParser.tokens
  src/fandango/language/parser/FandangoLexer.interp
  src/fandango/language/parser/FandangoLexer.py
  src/fandango/language/parser/FandangoLexer.tokens
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/parser/FandangoParser.tokens
  tests/resources/permutation.fan
Due: none

changed permutation symbol
  tests/test_grammar.py
Due: black, mypy

make parser
  src/fandango/language/cpp_parser/FandangoParserBaseVisitor.h
  src/fandango/language/cpp_parser/FandangoParserVisitor.h
  src/fandango/language/cpp_parser/sa_fandango_translator.cpp
  src/fandango/language/cpp_parser/sa_fandango_translator.h
  src/fandango/language/parse/convert.py
Due: black, mypy-strict

make parser again
  language/FandangoLexer.g4
  src/fandango/language/cpp_parser/FandangoLexer.cpp
  src/fandango/language/cpp_parser/FandangoLexer.h
  src/fandango/language/cpp_parser/FandangoLexer.interp
  src/fandango/language/cpp_parser/FandangoLexer.tokens
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/cpp_parser/FandangoParser.tokens
  src/fandango/language/parser/FandangoLexer.interp
  src/fandango/language/parser/FandangoLexer.py
  src/fandango/language/parser/FandangoLexer.tokens
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/parser/FandangoParser.tokens
  src/fandango/language/parser/FandangoParserVisitor.py
Due: none

fix fallback packet bug
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict
