Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

Add informational message for skipped C++ parser
  setup.py
Due: none

Make uv build works
  CMakeLists.txt
  pyproject.toml
  setup.py
Due: none

Simplify CI environment setup
  .github/workflows/setup-fandango/action.yml
Due: none

Enable LTO and simplify CMake configuration
  CMakeLists.txt
Due: none

type annotations
  src/fandango/io/navigation/PacketNonTerminal.py
  src/fandango/io/navigation/pathutils.py
  src/fandango/io/navigation/reachability_checker.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
  src/fandango/logger.py
Due: black, mypy-strict

type annotations
  src/fandango/evolution/adaptation.py
  src/fandango/io/__init__.py
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/powerschedule.py
  src/fandango/io/navigation/reachability_checker.py
  src/fandango/io/navigation/stategrammarconverter.py
  src/fandango/io/navigation/visitor/continuing_nodevisitor.py
Due: black, mypy-strict

type annotations
  src/fandango/io/__init__.py
  src/fandango/io/navigation/PacketNonTerminal.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
Due: black, mypy-strict

type annotations
  src/fandango/evolution/evaluation.py
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/packetforecaster.py
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

type annotations
  src/fandango/io/navigation/packetforecaster.py
  src/fandango/io/navigation/powerschedule.py
Due: black, mypy-strict

type annotations
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/packetforecaster.py
  src/fandango/io/navigation/visitor/continuing_nodevisitor.py
Due: black, mypy-strict

type annotations
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

run black
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/packetforecaster.py
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/io/navigation/powerschedule.py
  src/fandango/io/navigation/reachability_checker.py
  src/fandango/io/navigation/visitor/continuing_nodevisitor.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
Due: black, mypy-strict

fixed mypy errors
  src/fandango/io/navigation/packetnavigator.py
  tests/test_grammar_graph.py
Due: black, mypy, mypy-strict

fixed mypy errors
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/language/grammar/node_visitors/__init__.py
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
  tests/test_grammar_graph.py
Due: black, mypy, mypy-strict

Add astar to lockfile
  uv.lock
Due: none

run black
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
Due: black, mypy-strict

run black
  tests/test_grammar_graph.py
Due: black, mypy

Add pre-commit hook for checking uv.lock
  .pre-commit-config.yaml
Due: none

Document uv.lock file and update instructions
  docs/Contributing.md
Due: none

Add uv to system dev tools for all platforms
  Makefile
Due: none

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
