Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Fixed a bug in reachability_checker.py
  src/fandango/io/navigation/reachability_checker.py
Due: black, mypy-strict

Update __init__.py
  src/fandango/io/__init__.py
Due: black, mypy-strict

Added new ftp grammar
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fandango-scripts/ftp_client.fan
Due: none

ftp target
  evaluation/protocol_testing_eval/profuzzbench/bind9/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/bind9/gcov-flush-snippet.c
  evaluation/protocol_testing_eval/profuzzbench/bind9/gcov-shutdown.c
  evaluation/protocol_testing_eval/profuzzbench/lightftp/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fftp.conf
  evaluation/protocol_testing_eval/profuzzbench/lightftp/gcov-flush-snippet.c
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/gcov-flush-snippet.c
Due: none

ftp target
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/run_coverage.sh
Due: none

Prevent deepcopy on node
  src/fandango/language/grammar/nodes/node.py
Due: black, mypy-strict

ftp grammar
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fandango-scripts/ftp.fan
  evaluation/protocol_testing_eval/profuzzbench/lightftp/gcov-fandango.patch
Due: none

Clear evaluation on reset()
  src/fandango/evolution/algorithm/simple.py
Due: black, mypy-strict

ftp grammar
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fandango-scripts/ftp.fan
Due: none

ftp fix coverage measurement
  evaluation/protocol_testing_eval/profuzzbench/lightftp/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/lightftp/gcov-flush-snippet.c
Due: none

better dns grammar
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/dns.fan
Due: none

better dns grammar
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/dns.fan
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/dns.py
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/dns_client.fan
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/dns_server.fan
Due: black, mypy

Record violations
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict

record violation as past interaction
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict

Update lockfile
  pylock.toml
Due: none

Added timers to stdlib
  src/fandango/language/stdlib.py
Due: black, mypy-strict

timer bugfix
  src/fandango/io/__init__.py
Due: black, mypy-strict

timer bugfix
  src/fandango/language/stdlib.py
Due: black, mypy-strict

Added evaluation measurement points in fandango
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/coverage_filter.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

timer bug
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict

added testcase
  src/fandango/language/grammar/grammar.py
  tests/resources/timer.fan
  tests/test_msg_exchange.py
Due: black, mypy, mypy-strict

added testcase
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict

added wireguard
  evaluation/protocol_testing_eval/profuzzbench/wireguard/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/wireguard/fandango-scripts/wireguard.fan
  evaluation/protocol_testing_eval/profuzzbench/wireguard/fandango-scripts/wireguard_functions.py
Due: black, mypy

reworked infrastructure scripts to support experiments
  evaluation/protocol_testing_eval/profuzzbench/bind9/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/dns.py
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/lightftp/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fandango-scripts/ftp.py
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/smtp.py
  evaluation/protocol_testing_eval/profuzzbench/run_coverage.sh
  evaluation/protocol_testing_eval/profuzzbench/run_experiments.sh
  evaluation/protocol_testing_eval/profuzzbench/wireguard/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/wireguard/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/wireguard/fandango-scripts/wireguard.py
Due: black, mypy

pinned boringtun version
  evaluation/protocol_testing_eval/profuzzbench/wireguard/Dockerfile-fandango
Due: none

Added percent
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/profuzzbench/wireguard/fandango-scripts/measure.py
Due: black, mypy

coverage merger
  evaluation/protocol_testing_eval/multi_run_merger.py
  evaluation/protocol_testing_eval/profuzzbench/experiments/merge_coverage.py
Due: black, mypy

dns zones
  evaluation/protocol_testing_eval/profuzzbench/bind9/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/bind9/cache/0.0.127.in-addr.arpa
  evaluation/protocol_testing_eval/profuzzbench/bind9/cache/example.com
  evaluation/protocol_testing_eval/profuzzbench/bind9/config/named.conf
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/dns.fan
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/run_fandango.sh
Due: none
