Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Allow unused ignores on python version dependent issues
  src/fandango/language/parse/convert.py
Due: black, mypy-strict

merge main
  src/fandango/language/parse/parse_spec.py
Due: black, mypy-strict

Rebuild caching
  src/fandango/language/parse/cache.py
  src/fandango/language/parse/parse.py
  src/fandango/language/parse/parse_spec.py
  src/fandango/language/parse/spec.py
Due: black, mypy-strict

Rebuild caching
  src/fandango/language/parse/spec.py
Due: black, mypy-strict

increase smtp server startup timeout
  tests/test_grammar_coverage.py
Due: black, mypy

updated Makefile parser script
  Makefile
  language/FandangoParser.g4
Due: none

disable cache again
  src/fandango/language/parse/parse_spec.py
Due: black, mypy-strict

Fix: `fuzz` needs -n1
  docs/Protocols.md
Due: none

Force rebuild
  docs/Protocols.md
Due: none

delete compiled parser on make install
  Makefile
Due: none

Addressed comments from @riesentoaster
  src/fandango/cli/commands.py
  src/fandango/cli/upgrade.py
Due: black, mypy-strict

Black
  src/fandango/cli/upgrade.py
Due: black, mypy-strict

Update README
  README.md
  docs/About.md
Due: none

Use `uv pip` to generate `pip` outputs in docs
  docs/Including.md
Due: none

compute evaluation constraint hash also on tree root
  src/fandango/constraints/base.py
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

compute evaluation constraint hash also on tree root
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

increase startup timeout for test_grammar_coverage smtp server startup
  tests/test_grammar_coverage.py
Due: black, mypy
