Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

speed up benchmarking by removing rounds
  tests/test_benchmarks.py
Due: black, mypy

rename flatten to flattened.
  src/fandango/constraints/predicates.py
  src/fandango/io/navigation/selection/protocol_model.py
  src/fandango/language/tree.py
  tests/test_grammar.py
Due: black, mypy, mypy-strict

moved symbol hashing to superclass
  src/fandango/language/symbols/non_terminal.py
  src/fandango/language/symbols/symbol.py
Due: black, mypy-strict

more efficient regex checking
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/symbols/terminal.py
Due: black, mypy-strict

empty completion handling
  src/fandango/language/grammar/parser/column.py
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

added test
  tests/test_parsing.py
Due: black, mypy

add error if generator dependencies cannot be derived
  src/fandango/language/grammar/grammar.py
  src/fandango/language/tree.py
Due: black, mypy-strict

fixed primer visitor
  src/fandango/language/grammar/node_visitors/primer.py
Due: black, mypy-strict

fixed the grammar navigator once again
  src/fandango/io/navigation/graph/grammarnavigator.py
Due: black, mypy-strict

k-path optimizations for protocols
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

better k-path generation for derivationtrees
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

fix ruff
  src/fandango/io/navigation/graph/grammarnavigator.py
Due: black, mypy-strict

Fandango single derivation can now generate random paths with the guidance disabled
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

renamed CoverageGoal.SINGLE_DERIVATION to CoverageGoal.RANDOM
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/coverage/coverage_goal.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

Actual random grammar traverse on GoverageGoal.RANDOM
  src/fandango/api.py
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/selection/packet_guide.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

added abort_run for failing inputs
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/selection/packet_guide.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

mypy
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict

added peach lightftp
  evaluation/protocol_testing_eval/lightftp/Dockerfile-peach
  evaluation/protocol_testing_eval/lightftp/peach-scripts/ftp.xml
  evaluation/protocol_testing_eval/lightftp/peach-scripts/ftp_proxy.py
  evaluation/protocol_testing_eval/lightftp/peach-scripts/run_peach.sh
Due: black, mypy

added peach bind9 and lightftp
  concat_grammar.py
  evaluation/protocol_testing_eval/bind9/Dockerfile-peach
  evaluation/protocol_testing_eval/bind9/peach-scripts/dns.xml
  evaluation/protocol_testing_eval/bind9/peach-scripts/run_peach.sh
  evaluation/protocol_testing_eval/opensmtpd/Dockerfile-peach
  evaluation/protocol_testing_eval/opensmtpd/peach-scripts/run_peach.sh
  evaluation/protocol_testing_eval/opensmtpd/peach-scripts/smtp.xml
Due: none

added traffic recorder
  evaluation/protocol_testing_eval/bind9/Dockerfile-peach
  evaluation/protocol_testing_eval/bind9/peach-scripts/dns.xml
  evaluation/protocol_testing_eval/bind9/peach-scripts/run_peach.sh
  evaluation/protocol_testing_eval/lightftp/Dockerfile-peach
  evaluation/protocol_testing_eval/lightftp/peach-scripts/ftp.xml
  evaluation/protocol_testing_eval/lightftp/peach-scripts/ftp_proxy.py
  evaluation/protocol_testing_eval/lightftp/peach-scripts/run_peach.sh
  evaluation/protocol_testing_eval/opensmtpd/Dockerfile-peach
  evaluation/protocol_testing_eval/opensmtpd/peach-scripts/run_peach.sh
  evaluation/protocol_testing_eval/opensmtpd/peach-scripts/smtp.xml
Due: black, mypy

added traffic recorder
  evaluation/protocol_testing_eval/peach/Dockerfile-analyzer
  evaluation/protocol_testing_eval/peach/traffic_recorder.py
Due: black, mypy

added traffic analyzer
  evaluation/protocol_testing_eval/peach/analyze_traffic.py
Due: black, mypy

violation categories
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/packetparser.py
  src/fandango/io/violation.py
  tests/test_ambiguous_packet_parsing.py
  tests/test_packet_boundaries.py
Due: black, mypy, mypy-strict

another navigator speedup (will this ever stop)
  src/fandango/io/navigation/graph/packetforecaster.py
  src/fandango/io/navigation/graph/visitor/continuing_nodevisitor.py
Due: black, mypy-strict

another navigator speedup (will this ever stop)
  src/fandango/io/navigation/graph/grammarnavigator.py
Due: black, mypy-strict

test cases and let packet parser pick up if prior histories are continued
  src/fandango/io/navigation/graph/packetforecaster.py
  src/fandango/io/navigation/graph/packetiterativeparser.py
  src/fandango/io/navigation/graph/packetnavigator.py
  tests/resources/nested_alternatives_io.fan
  tests/test_forecaster.py
  tests/test_grammar_graph.py
Due: black, mypy, mypy-strict

optimizations walking trees in continuing_nodevisitor, grammar k_path caching, packet parsing
  src/fandango/io/navigation/graph/visitor/continuing_nodevisitor.py
  src/fandango/io/packetparser.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/parser/parser.py
  src/fandango/language/tree.py
Due: black, mypy-strict

more changes from recursive to iterative
  src/fandango/io/navigation/graph/grammarnavigator.py
  src/fandango/io/navigation/graph/visitor/continuing_nodevisitor.py
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
  src/fandango/language/tree.py
Due: black, mypy-strict

ruff mypy
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/graph/grammarnavigator.py
  src/fandango/io/navigation/graph/visitor/continuing_nodevisitor.py
  src/fandango/io/violation.py
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
Due: black, mypy-strict

added recursing to iterative function helper
  src/fandango/io/navigation/nested_steps.py
Due: black, mypy-strict

fix beartype
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
Due: black, mypy-strict

test hashes were outdated
  tests/test_cli.py
Due: black, mypy

better network connect method
  src/fandango/io/__init__.py
Due: black, mypy-strict

removed baseexception
  src/fandango/io/navigation/nested_steps.py
Due: black, mypy-strict

removed astar lib dependency
  src/fandango/io/navigation/graph/grammarnavigator.py
Due: black, mypy-strict

removed astar lib dependency
  pylock.toml
  pyproject.toml
  uv.lock
Due: none

connector add deadline
  src/fandango/io/__init__.py
Due: black, mypy-strict

Added timeout violation
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/violation.py
Due: black, mypy-strict

better and more efficient k-path coverage tracker
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/coverage_filter.py
  src/fandango/io/navigation/selection/coverage_tracker.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict
