Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

increase startup timeout fot test_grammar_coverage smtp server startup
  tests/test_grammar_coverage.py
Due: black, mypy

updated test_grammar_coverage
  tests/test_grammar_coverage.py
Due: black, mypy

updated test_grammar_coverage
  evaluation/experiments/smtp/smtp_client.fan
Due: none

undo updates to test_grammar_coverage
  tests/test_grammar_coverage.py
Due: black, mypy

updates to test_grammar_coverage
  tests/test_grammar_coverage.py
Due: black, mypy

Fixed docs badge
  README.md
Due: none

Bumped copyright 2025 -> 2026
  src/fandango/cli/commands.py
Due: black, mypy-strict

Added a LTS -> Grammar animation
  docs/Protocols.md
  docs/lts2grammar.gif
  docs/lts2grammar.key
Due: none

Bump version to 1.1.0-rc.1
  pyproject.toml
Due: none

fix: bump uv lock
  uv.lock
Due: none

refactor: improve code formatting for better readability in iso8601 and parser modules
  docs/iso8601.py
  src/fandango/cli/parser.py
  tests/test_language.py
Due: black, mypy, mypy-strict

fix: correct version format in pyproject.toml
  pyproject.toml
Due: none

refactor: streamline string formatting in iso8601 and parser modules
  docs/iso8601.py
  src/fandango/cli/parser.py
  tests/test_language.py
Due: black, mypy, mypy-strict

Bump version to 1.1.0rc1 in pyproject.toml
  pyproject.toml
Due: none

Bump version of fandango-fuzzer to 1.1.0rc1 in uv.lock
  uv.lock
Due: none

Update build-docs workflow to use 'main' branch
  .github/workflows/build-docs.yml
Due: none

Banner for 1.1.0rc1
  docs/_config.yml
Due: none

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
