Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

Added ftp_auth_fail_snippet
  evaluation/protocol_testing_eval/ftp/ftp_auth_fail_snippet.fan
Due: none

adjusted wait times for server readiness
  docs/Protocols.md
Due: none

Add dependency for upgrade check
  pyproject.toml
  src/fandango/cli/upgrade.py
  tests/conftest.py
  tests/test_cli.py
  uv.lock
Due: black, mypy, mypy-strict

removed global variables for stdlib grammar and constraints and use local ones
  src/fandango/language/parse/parse.py
  tests/test_grammar.py
Due: black, mypy, mypy-strict

run black
  src/fandango/language/parse/parse.py
Due: black, mypy-strict

No dynamic imports please
  tests/test_cli.py
Due: black, mypy

added more tests for repetitions bounds
  src/fandango/constraints/repetition_bounds.py
  tests/resources/global_var_bounds.fan
  tests/test_grammar.py
Due: black, mypy, mypy-strict

cleanup parse method
  src/fandango/language/parse/parse.py
Due: black, mypy-strict

added comment
  tests/test_grammar.py
Due: black, mypy

run black
  tests/test_grammar.py
Due: black, mypy

feat: 1.1.1 bugfixes
  pyproject.toml
  uv.lock
Due: none

Enable parallel test execution with pytest
  .github/workflows/python-tests.yml
Due: none

set max_repetition_rate=0.0 and max_nodes_rate=0.0 for test_generate_with_single_soft_constraint
  src/fandango/api.py
  tests/test_benchmarks.py
Due: black, mypy, mypy-strict

Slow down a touch on windows
  .github/workflows/python-tests.yml
Due: none

Just skip the broken test
  .github/workflows/python-tests.yml
  tests/test_benchmarks.py
Due: black, mypy

Revert parallelization slowdown
  .github/workflows/python-tests.yml
Due: none

Added link to evaluation folder in readme
  README.md
  evaluation/README.md
  evaluation/protocol_testing_eval/README.md
Due: none

New case studies: MP3, GIF. PNG
  docs/Gif.md
  docs/Mp3.md
  docs/Png.md
  docs/ReleaseNotes.md
  docs/_toc.yml
  docs/mp3.fan
  docs/prompt.txt
Due: none

Add MP3 example
  docs/Mp3.md
  docs/silence.mp3
Due: none

fixed bug in repetition bound that causes that repetitions with functions instead of searches couldn't be processed.
  src/fandango/constraints/repetition_bounds.py
Due: black, mypy-strict

mypy
  src/fandango/constraints/repetition_bounds.py
Due: black, mypy-strict

fix: update release notes for version 1.1.1 and fix announcement link in config
  docs/ReleaseNotes.md
  docs/_config.yml
Due: none

Introduce abstractions for genetic algorithms, chromosomes and fitness functions
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/algorithms/__init__.py
  src/fandango/evolution/algorithms/base.py
  src/fandango/evolution/algorithms/dynamosa.py
  src/fandango/evolution/algorithms/mio.py
  src/fandango/evolution/algorithms/wholesuite.py
  src/fandango/evolution/chromosomes/__init__.py
  src/fandango/evolution/chromosomes/base.py
  src/fandango/evolution/chromosomes/individual.py
  src/fandango/evolution/chromosomes/suite.py
  src/fandango/evolution/crossover.py
  src/fandango/evolution/fitness/__init__.py
  src/fandango/evolution/fitness/base.py
  src/fandango/evolution/mutation.py
  tests/resources/simple_digits.fan
  tests/test_optimizer.py
Due: black, mypy, mypy-strict

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
