Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Initial beartype fixes
  src/fandango/io/packetforecaster.py
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/grammar/nodes/char_set.py
  src/fandango/language/grammar/nodes/concatenation.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
  src/fandango/language/grammar/nodes/terminal.py
  src/fandango/language/parser/FandangoLexerBase.py
  tests/test_cli.py
Due: black, mypy, mypy-strict

Clean code — don't unnecessarily nest classes
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/population.py
  src/fandango/io/packetforecaster.py
  src/fandango/io/packetparser.py
  tests/test_forecaster.py
Due: black, mypy, mypy-strict

Remove exception for __repr__ and __str__ in favor of warnings
  src/fandango/constraints/base.py
  src/fandango/constraints/constraint.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/search.py
  src/fandango/language/symbols/symbol.py
Due: black, mypy-strict

beartype fixes
  src/fandango/beartype.py
  src/fandango/constraints/fitness.py
  src/fandango/constraints/soft.py
  src/fandango/evolution/evaluation.py
  tests/test_cli.py
  tests/test_evaluation.py
Due: black, mypy, mypy-strict

Warnings are errors in pytest
  pyproject.toml
Due: none

.gitignore add jetbrains template
  .gitignore
  .run/Template Python tests.run.xml
Due: none

.gitignore add jetbrains template
  .run/Template Python tests.run.xml
Due: none

Disable beartype for benchmarks
  .github/workflows/benchmarks-main.yml
  .github/workflows/benchmarks-prs.yml
  tests/conftest.py
Due: black, mypy

Add unit test to check if beartype is active in unit tests
  src/fandango/meta.py
  tests/test_meta.py
Due: black, mypy, mypy-strict

Increase timeout for unit tests as a temporary fix
  pyproject.toml
Due: none

Fix randomness calculation in algorithm?
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/crossover.py
Due: black, mypy-strict

Run benchmarks first in unit tests
  tests/conftest.py
Due: black, mypy

Run benchmarks first in unit tests to better use parallelization
  tests/conftest.py
Due: black, mypy

Fix mypy issue in tests
  tests/test_optimizer.py
Due: black, mypy

Add debugging flag for windows
  pyproject.toml
Due: none

Fix how debugging is handled
  .github/workflows/python-tests.yml
  pyproject.toml
Due: none

Add benchmarks
  .gitignore
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/evolution/mutation.py
  src/fandango/evolution/population.py
  src/fandango/evolution/profiler.py
Due: black, mypy-strict

Ignore the warning, it's probably fine
  .github/workflows/python-tests.yml
  pyproject.toml
Due: none

undo removal of unique constraint in parser table
  src/fandango/language/grammar/parser/column.py
Due: black, mypy-strict

Optimized tar grammar
  evaluation/tar/tar.fan
  evaluation/tar/tar_evaluation.py
Due: black, mypy

Optimized tar grammar
  evaluation/tar/tar_evaluation.py
Due: black, mypy

Use Optional for nullable type hints
  docs/DerivationTree.md
  src/fandango/cli/__init__.py
  src/fandango/cli/commands.py
  src/fandango/cli/parser.py
  src/fandango/cli/shell.py
  src/fandango/cli/utils.py
  src/fandango/constraints/comparison.py
  src/fandango/constraints/soft.py
  src/fandango/converters/dtd/DTDFandangoConverter.py
  src/fandango/converters/fan/FandangoFandangoConverter.py
  src/fandango/errors.py
  src/fandango/evolution/population.py
  src/fandango/io/__init__.py
  src/fandango/io/packetforecaster.py
  src/fandango/language/convert.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/parser/parser_tree.py
  src/fandango/language/parse.py
  src/fandango/language/tree.py
  src/fandango/language/tree_value.py
  src/fandango/logger.py
  tests/test_grammar_settings.py
Due: black, mypy, mypy-strict

Use PEP 604 union types in annotations
  src/fandango/_version.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/evolution/profiler.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

packetforcaster remaining function change from merge.
  src/fandango/io/navigation/packetforecaster.py
Due: black, mypy-strict
