Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Allow coverage goal selection
  src/fandango/io/navigation/packetforecaster.py
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/symbols/symbol.py
  src/fandango/language/symbols/terminal.py
Due: black, mypy-strict

Allow coverage goal selection
  evaluation/experiments/smtp/smtp.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy, mypy-strict

Allow coverage goal selection
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

Exclude beartype 0.22.6 and 0.22.7
  pyproject.toml
Due: none

Fix TYPE_CHECKING import in repetition module
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/grammar/nodes/char_set.py
  src/fandango/language/grammar/nodes/concatenation.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
  src/fandango/language/grammar/nodes/terminal.py
Due: black, mypy-strict

Add Dependabot configuration for daily pip updates
  .github/dependabot.yml
Due: none

Use auto for versioning-strategy for dependabot
  .github/dependabot.yml
Due: none

Track uv.lock with Git
  uv.lock
Due: none

Add dependabot for uv
  .github/dependabot.yml
Due: none

Use `uv` in CI
  .github/workflows/benchmarks-main.yml
  .github/workflows/benchmarks-prs.yml
  .github/workflows/code-checks.yml
  .github/workflows/deploy-book.yml
  .github/workflows/python-tests.yml
  .github/workflows/setup-fandango/action.yml
Due: none

Install fandango package itself
  .github/workflows/setup-fandango/action.yml
Due: none

Split test step into separate Windows and Unix jobs
  .github/workflows/python-tests.yml
Due: none

Update docs for `uv`
  docs/Contributing.md
Due: none

Suppress SyntaxWarning raised from py010parser
  src/fandango/converters/bt/BTFandangoConverter.py
Due: black, mypy-strict

Remove pip cache from setup-python action
  .github/workflows/setup-fandango/action.yml
Due: none

Move Python setup after system dependencies
  .github/workflows/setup-fandango/action.yml
Due: none

Constrain jupyter-book to <2.0.0
  pyproject.toml
  uv.lock
Due: none

fix mypy errors
  src/fandango/evolution/algorithm.py
  src/fandango/io/__init__.py
  src/fandango/io/packetparser.py
Due: black, mypy-strict

fix mypy errors
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

fix mypy errors
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

fix mypy errors
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/population.py
Due: black, mypy-strict
