Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

added include_base parameter to search.get_access_points
  src/fandango/language/search.py
Due: black, mypy-strict

added test_access_point and ruff
  src/fandango/constraints/base.py
  tests/test_searches.py
Due: black, mypy, mypy-strict

set caplog level on the fandango logger in warning tests
  tests/test_evaluate_individual.py
  tests/test_structural_out_of_grammar_mutation.py
Due: black, mypy

get_access_points
  src/fandango/language/search.py
Due: black, mypy-strict

io constraint package
  src/fandango/io/constraints/__init__.py
Due: black, mypy-strict

made evaluator and actual decorator
  src/fandango/evolution/adaptation.py
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/evaluation.py
  src/fandango/io/packet_evolution/mounting_operators.py
Due: black, mypy-strict

made evaluator and actual decorator
  src/fandango/io/packet_evolution/mounting_operators.py
Due: black, mypy-strict

moved decorators from one file to their own package
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/evaluation.py
  src/fandango/io/packet_evolution/decorators/__init__.py
  src/fandango/io/packet_evolution/decorators/io_population_manager.py
  src/fandango/io/packet_evolution/decorators/mounting_crossover.py
  src/fandango/io/packet_evolution/decorators/mounting_evaluator.py
  src/fandango/io/packet_evolution/decorators/mounting_mutation.py
  src/fandango/io/packet_evolution/mounting_operators.py
Due: black, mypy-strict

mypy
  tests/test_evaluate_individual.py
Due: black, mypy

made tree return hash_cache
  src/fandango/language/tree.py
Due: black, mypy-strict

removed duplicated hash method
  src/fandango/language/symbols/terminal.py
Due: black, mypy-strict

added iterative primer
  src/fandango/language/grammar/node_visitors/primer.py
Due: black, mypy-strict

better method names for PacketMounter
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/packet_evolution/decorators/io_population_manager.py
  src/fandango/io/packet_evolution/decorators/mounting_crossover.py
  src/fandango/io/packet_evolution/decorators/mounting_mutation.py
  src/fandango/io/packet_evolution/packet_mounter.py
  src/fandango/io/packetforecaster.py
Due: black, mypy-strict

moved some methods around
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

moved some methods around
  src/fandango/io/packetparser.py
Due: black, mypy-strict

overload hash function of populationmanager
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/population.py
  src/fandango/io/packet_evolution/decorators/io_population_manager.py
Due: black, mypy-strict

beartype seeds
  tests/test_cli.py
Due: black, mypy

constructor type
  src/fandango/io/packet_evolution/packet_mounter.py
Due: black, mypy-strict

added mounting tests
  tests/resources/echo_io_constrained.fan
  tests/test_packet_evolution.py
Due: black, mypy

mypy/ruff
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/selection/packetselector.py
  src/fandango/io/packet_evolution/packet_mounter.py
Due: black, mypy-strict

documentation of packet_mounter
  src/fandango/io/packet_evolution/packet_mounter.py
Due: black, mypy-strict

make evaluator construct using a factory.
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/evaluation.py
  src/fandango/io/packet_evolution/decorators/mounting_evaluator.py
  tests/test_packet_evolution.py
Due: black, mypy, mypy-strict

make evaluator and populationmananger use a factory. Reset evaluator to-main branch implementation
  src/fandango/evolution/adaptation.py
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/evaluation.py
  tests/test_packet_evolution.py
Due: black, mypy, mypy-strict

construct packet_mounter in protocol.py
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/packet_evolution/decorators/io_population_manager.py
  tests/test_packet_evolution.py
Due: black, mypy, mypy-strict

mypy
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

clean up interface of repetition bounds-constraint/-suggestion
  src/fandango/constraints/repetition_bounds.py
Due: black, mypy-strict

flanky test_cli test
  tests/test_softconstraint.py
Due: black, mypy

fix baseexception
  tests/test_violation_runs.py
Due: black, mypy

okay, protocol is now using normal Evaluator and PopulationManager constructors again
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/algorithm/simple.py
  src/fandango/io/packet_evolution/decorators/mounting_evaluator.py
  tests/test_packet_evolution.py
Due: black, mypy, mypy-strict

okay, protocol is now using normal Evaluator and PopulationManager constructors again
  tests/test_coverage_tracker.py
  tests/test_evaluate_individual.py
  tests/test_io_buffer.py
Due: black, mypy

github suggestions
  tests/test_packet_evolution.py
  tests/test_violation_runs.py
Due: black, mypy

github suggestions
  tests/resources/nested_alternatives_io.fan
Due: none

ruff
  tests/test_evaluate_individual.py
Due: black, mypy

ruff
  tests/test_coverage_tracker.py
Due: black, mypy

ruff
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/algorithm/simple.py
  src/fandango/io/packet_evolution/decorators/mounting_evaluator.py
  tests/test_coverage_tracker.py
  tests/test_evaluate_individual.py
Due: black, mypy, mypy-strict

renamed mounting evaluator to io evaluator
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/packet_evolution/io_evaluator.py
  tests/test_packet_evolution.py
Due: black, mypy, mypy-strict

renamed mounting evaluator to io evaluator
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/packet_evolution/io_population_manager.py
Due: black, mypy-strict

fix mypy ruff
  src/fandango/evolution/algorithm/protocol.py
  tests/test_packet_evolution.py
Due: black, mypy, mypy-strict

constraint scope analyzer
  src/fandango/io/constraints/constraint_scope.py
Due: black, mypy-strict

IO evaluator used constraint scopes
  src/fandango/io/packet_evolution/io_evaluator.py
Due: black, mypy-strict
