Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Update lockfiles
  pylock.toml
Due: none

Only have one dependabot PR for minor and patch updates
  .github/dependabot.yml
Due: none

fixed some constraints were parsed as expressions, if they weren't
  language/FandangoParser.g4
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/parse/convert.py
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/parser/FandangoParserVisitor.py
  src/fandango/language/parser/sa_fandango.py
Due: black, mypy-strict

fixed some constraints were parsed as expressions, if they weren't
  src/fandango/language/parser/sa_fandango.py
Due: none

Set stdout encoding to something byte-friendly when using bytes
  src/fandango/cli/output.py
  tests/resources/high_bytes.fan
  tests/test_cli.py
Due: black, mypy, mypy-strict

Fix bug in encodings on windows
  src/fandango/cli/output.py
  src/fandango/cli/parser.py
  src/fandango/language/parse/splitter.py
  tests/resources/high_bytes.fan
  tests/test_cli.py
Due: black, mypy, mypy-strict

More bugfixes
  src/fandango/cli/output.py
Due: black, mypy-strict

Parser speedup
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parse_state.py
Due: black, mypy-strict

faster parser with LEO
  src/fandango/language/grammar/parser/column.py
  src/fandango/language/grammar/parser/forest.py
  src/fandango/language/grammar/parser/grammar_compiler.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parse_state.py
  src/fandango/language/grammar/parser/parser.py
  src/fandango/language/symbols/non_terminal.py
  src/fandango/language/tree.py
Due: black, mypy-strict

Update lockfile
  pylock.toml
Due: none

comments
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

comments and better variable names for clarity
  src/fandango/language/grammar/parser/forest.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parse_state.py
Due: black, mypy-strict

removed state.finished() for children_of caching. Removed local method cache
  src/fandango/language/grammar/parser/forest.py
Due: black, mypy-strict

Fix lockfile
  pylock.toml
Due: none

comments and some cleaning up
  src/fandango/language/grammar/parser/column.py
  src/fandango/language/grammar/parser/grammar_compiler.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parse_state.py
  src/fandango/language/grammar/parser/parser.py
Due: black, mypy-strict

Added ambiguous parsing test cases
  tests/test_parsing.py
Due: black, mypy

ruff & mypy
  src/fandango/language/grammar/parser/column.py
  src/fandango/language/grammar/parser/forest.py
  src/fandango/language/grammar/parser/grammar_compiler.py
  src/fandango/language/grammar/parser/parse_state.py
  tests/test_parsing.py
Due: black, mypy, mypy-strict

ruff & mypy
  src/fandango/language/grammar/parser/forest.py
  src/fandango/language/grammar/parser/grammar_compiler.py
Due: black, mypy-strict

fixed tests
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/crossover.py
Due: black, mypy-strict

disable garabge collector while parsing.
  src/fandango/language/grammar/parser/parser.py
Due: black, mypy-strict

expand leo uses append instead of copying lists
  src/fandango/language/grammar/parser/forest.py
Due: black, mypy-strict

mypy
  src/fandango/language/grammar/parser/parser.py
Due: black, mypy-strict

Update pylock.toml
  pylock.toml
Due: none

formatting
  src/fandango/language/grammar/parser/column.py
  src/fandango/language/grammar/parser/forest.py
  src/fandango/language/grammar/parser/parse_state.py
Due: black, mypy-strict

fixed infinite loop when parsing incomplete regexes
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

updated has_children. Everything that is not a list must be a child of the parsestate
  src/fandango/language/grammar/parser/column.py
  src/fandango/language/grammar/parser/parse_state.py
Due: black, mypy-strict

added parsing benchmark
  tests/test_benchmarks.py
Due: black, mypy

benchmark for parser as test
  tests/test_benchmarks.py
Due: black, mypy

made _populate_sources and _rec_remove_sources in grammar.py iterative
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

made __hash__ and set_all_read_only in tree.py iterative
  src/fandango/language/tree.py
Due: black, mypy-strict

skip beartype during benchmarking
  tests/conftest.py
Due: black, mypy

disable testcases with input lengths beyond 100 in test_benchmarks.py for normal testing.
  tests/test_benchmarks.py
Due: black, mypy

disable testcases with input lengths beyond 100K in test_benchmarks.py for normal testing.
  tests/test_benchmarks.py
Due: black, mypy

made parser construct trees iteratively instead of recursively
  src/fandango/language/grammar/parser/forest.py
  src/fandango/language/grammar/parser/parse_state.py
Due: black, mypy-strict

made parser construct trees iteratively instead of recursively
  src/fandango/language/grammar/parser/__init__.py
Due: black, mypy-strict

consistent naming of variables
  src/fandango/language/grammar/parser/forest.py
Due: black, mypy-strict

fix
  src/fandango/language/grammar/parser/forest.py
Due: black, mypy-strict
