Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Minor code cleanup
  src/fandango/cli/commands.py
  src/fandango/cli/utils.py
Due: black, mypy-strict

Fix validate
  docs/binary-pack.fan
Due: none

simplify conversion
  docs/binary-pack.fan
Due: none

fuzz command now treats IO grammars as normal grammars
  src/fandango/cli/commands.py
Due: black, mypy-strict

parse command now treats IO grammars as normal grammars
  src/fandango/cli/commands.py
Due: black, mypy-strict

run black again
  docs/iso8601.py
  src/fandango/cli/parser.py
  tests/test_language.py
Due: black, mypy, mypy-strict

fix mypy
  src/fandango/cli/commands.py
  src/fandango/language/grammar/node_visitors/packet_truncator.py
  src/fandango/language/parse.py
Due: black, mypy-strict

fix mypy and black
  src/fandango/language/parse.py
Due: black, mypy-strict

commented out warning that breaks my debugger
  src/fandango/language/grammar/nodes/node.py
Due: black, mypy-strict

re-add warning without breaking my debugger
  src/fandango/language/grammar/nodes/node.py
Due: black, mypy-strict

black
  src/fandango/language/grammar/nodes/node.py
Due: black, mypy-strict

Doc fix
  docs/ReleaseNotes.md
Due: none

Black
  docs/iso8601.py
  src/fandango/cli/parser.py
  tests/test_language.py
Due: black, mypy, mypy-strict

Simplify parsing
  src/fandango/language/parse/cache.py
  src/fandango/language/parse/parse_spec.py
  src/fandango/language/parse/spec.py
Due: black, mypy-strict

completed merge
  src/fandango/language/parse/__init__.py
  src/fandango/language/parse/io.py
  src/fandango/language/parse/parse.py
  src/fandango/language/parse/parse_spec.py
  src/fandango/language/parse/slice_parties.py
Due: black, mypy-strict

completed merge
  src/fandango/language/parse/io.py
Due: black, mypy-strict

black
  src/fandango/cli/parser.py
Due: black, mypy-strict

black
  tests/test_grammar_coverage.py
Due: black, mypy

mypy and use same globals dict for all specs during parsing
  evaluation/experiments/chatgpt/gpt_novel.py
  evaluation/experiments/dns/dns.py
  evaluation/experiments/dune/dune.py
  evaluation/experiments/ftp/ftp.py
  evaluation/experiments/smtp/smtp.py
  src/fandango/constraints/predicates.py
  src/fandango/converters/state/FandangoStateConverter.py
  src/fandango/language/parse/io.py
  src/fandango/language/parse/parse.py
  src/fandango/language/parse/parse_spec.py
  src/fandango/language/parse/spec.py
Due: black, mypy, mypy-strict

third attempt to refactor io_instance singelton
  src/fandango/io/__init__.py
  src/fandango/language/parse/parse.py
Due: black, mypy-strict
