Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

reachability checker test for completable_by_extension
  tests/test_grammar_graph.py
Due: black, mypy

fixed collapsed path in continuing_nodevisitor.py
  src/fandango/io/navigation/visitor/continuing_nodevisitor.py
Due: black, mypy-strict

fixed collapsed path in continuing_nodevisitor.py
  tests/test_grammar_graph.py
Due: black, mypy

Forecaster can now check if an existing partial k-path can be completed to the searched k-path
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/reachability_checker.py
  tests/resources/navigation_io.fan
  tests/test_grammar_graph.py
Due: black, mypy, mypy-strict

Better grammar graph navigator: add forbidden path tracking
  src/fandango/io/navigation/grammarnavigator.py
Due: black, mypy-strict

Added wireguard grammar
  evaluation/protocol_testing_eval/wireguard/wireguard.fan
Due: none

Added wireguard grammar
  evaluation/protocol_testing_eval/wireguard/__init__.py
  evaluation/protocol_testing_eval/wireguard/wireguard.fan
  evaluation/protocol_testing_eval/wireguard/wireguard_functions.py
Due: black, mypy

Update lock file
  pylock.toml
Due: none

added wireguard docker server config
  evaluation/protocol_testing_eval/wireguard/docker/config/.donoteditthisfile
  evaluation/protocol_testing_eval/wireguard/docker/config/coredns/Corefile
  evaluation/protocol_testing_eval/wireguard/docker/config/peer1/peer1.conf
  evaluation/protocol_testing_eval/wireguard/docker/config/peer1/peer1.png
  evaluation/protocol_testing_eval/wireguard/docker/config/peer1/presharedkey-peer1
  evaluation/protocol_testing_eval/wireguard/docker/config/peer1/privatekey-peer1
  evaluation/protocol_testing_eval/wireguard/docker/config/peer1/publickey-peer1
  evaluation/protocol_testing_eval/wireguard/docker/config/server/privatekey-server
  evaluation/protocol_testing_eval/wireguard/docker/config/server/publickey-server
  evaluation/protocol_testing_eval/wireguard/docker/config/templates/peer.conf
  evaluation/protocol_testing_eval/wireguard/docker/config/templates/server.conf
  evaluation/protocol_testing_eval/wireguard/docker/config/wg_confs/wg0.conf
  evaluation/protocol_testing_eval/wireguard/docker/docker-compose.yml
Due: none

added wireguard docker server config
  evaluation/protocol_testing_eval/wireguard/wireguard.py
Due: black, mypy

removed synthetic parties
  src/fandango/io/__init__.py
Due: black, mypy-strict

mypy
  src/fandango/language/parse/convert.py
Due: black, mypy-strict

mypy
  src/fandango/evolution/algorithm/base.py
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/algorithm/simple.py
  src/fandango/io/__init__.py
  src/fandango/io/coverage_filter.py
Due: black, mypy-strict

mypy
  src/fandango/evolution/algorithm/algorithm_selector.py
  src/fandango/evolution/algorithm/base.py
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/io/packetparser.py
  src/fandango/language/parse/convert.py
Due: black, mypy-strict

fixing tests
  src/fandango/api.py
  src/fandango/evolution/algorithm/simple.py
  tests/resources/permutation_io.fan
  tests/test_grammar_graph.py
Due: black, mypy, mypy-strict
