Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

updated navigator for routing api
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

updated packet guider for routing api
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

updated packet guider for routing api
  src/fandango/io/navigation/selection/packet_guider.py
  tests/test_grammar_graph.py
Due: black, mypy, mypy-strict

updated packet guider for routing api
  src/fandango/io/navigation/selection/packet_guider.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

updated packet guider for routing api
  src/fandango/io/navigation/graph/packetnavigator.py
Due: black, mypy-strict

unreachable symbols count as underivable
  src/fandango/io/navigation/selection/protocol_model.py
  src/fandango/io/navigation/selection/target_selector.py
Due: black, mypy-strict

test for step blocking
  tests/resources/blocked_steps.fan
  tests/test_blocked_steps.py
Due: black, mypy

test for new components
  tests/resources/blocked_steps.fan
  tests/test_blocked_step_pruner.py
  tests/test_blocked_steps.py
  tests/test_grammar_graph.py
Due: black, mypy

test for new components
  tests/test_blocked_steps.py
Due: black, mypy

mark unused variables as _
  tests/test_packet_evolution.py
Due: black, mypy

better fix_individual
  src/fandango/evolution/population.py
Due: black, mypy-strict

lazy break fix_individual function
  src/fandango/evolution/population.py
Due: black, mypy-strict

add support for state-only k-paths at end of route
  src/fandango/io/navigation/graph/packetnavigator.py
  src/fandango/io/navigation/selection/packet_guider.py
  tests/test_blocked_step_pruner.py
Due: black, mypy, mypy-strict

added rule_recursion_tester
  src/fandango/io/navigation/graph/rule_recursion_tester.py
Due: black, mypy-strict

step.py
  src/fandango/io/navigation/step.py
Due: black, mypy-strict

added repr
  src/fandango/io/navigation/step.py
Due: black, mypy-strict

added targeting strategy targeting shortest k-paths first
  src/fandango/io/navigation/selection/target_selector.py
Due: black, mypy-strict

planned packet repr
  src/fandango/io/navigation/route.py
Due: black, mypy-strict

repr
  src/fandango/io/navigation/graph/rule_recursion_tester.py
Due: black, mypy-strict

repr
  src/fandango/io/navigation/graph/reachability_checker.py
Due: black, mypy-strict

repr
  src/fandango/io/navigation/selection/packet_guider.py
  src/fandango/io/navigation/selection/step_refusals.py
Due: black, mypy-strict

repr
  src/fandango/io/navigation/selection/guide_path_tracker.py
Due: black, mypy-strict

repr
  src/fandango/io/navigation/forecasting/forecast_view.py
  src/fandango/io/navigation/forecasting/forecasting_result.py
Due: black, mypy-strict

repr
  src/fandango/io/navigation/graph/packetiterativeparser.py
Due: black, mypy-strict

repr
  src/fandango/io/navigation/selection/coverage_tracker.py
Due: black, mypy-strict

repr
  src/fandango/io/navigation/forecasting/packetforecaster.py
Due: black, mypy-strict

repr
  src/fandango/io/navigation/graph/packetnavigator.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

repr
  src/fandango/io/navigation/step.py
Due: black, mypy-strict

reworked step pruner
  src/fandango/io/navigation/graph/blocked_step_pruner.py
Due: black, mypy-strict

reworked step pruner
  tests/test_blocked_steps.py
Due: black, mypy

reworked step pruner
  tests/test_permutation_selector.py
Due: black, mypy

adde tests
  tests/test_blocked_step_pruner.py
Due: black, mypy

bad import
  src/fandango/io/navigation/step.py
Due: black, mypy-strict

cache to target selector
  src/fandango/io/navigation/selection/target_selector.py
Due: black, mypy-strict

caching
  src/fandango/io/navigation/graph/blocked_step_pruner.py
  src/fandango/io/navigation/graph/packetnavigator.py
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

test
  tests/resources/blocked_login.fan
  tests/test_blocked_step_pruner.py
Due: black, mypy

to_pruned_k_paths
  src/fandango/io/navigation/graph/blocked_step_pruner.py
  src/fandango/io/navigation/selection/packet_guider.py
Due: black, mypy-strict

cache to_pruned k_paths in packetnavigator
  src/fandango/io/navigation/graph/packetnavigator.py
  src/fandango/io/navigation/selection/target_selector.py
Due: black, mypy-strict

is_block_deferred
  src/fandango/io/navigation/selection/step_refusals.py
Due: black, mypy-strict
