Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Update lockfiles
  pylock.toml
Due: none

Fix --warnings-are-errors
  src/fandango/api.py
  src/fandango/cli/__init__.py
  src/fandango/evolution/algorithm/base.py
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/evaluation.py
  src/fandango/evolution/population.py
  src/fandango/logger.py
  tests/test_optimizer.py
Due: black, mypy, mypy-strict

added bugfix from different branch
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict

Addressed @riesentoaster's concerns
  docs/Style.md
Due: none

fixed bad_ro_flag
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

merging fixes
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

Add the hands-on FDP tutorial and document it in the book
  .gitignore
  docs/Conventions.md
  docs/HandsOn.md
  docs/_toc.yml
  docs/index.md
  tutorial/00_random.fan
  tutorial/01_grammar.fan
  tutorial/02_constraints.fan
  tutorial/03_coverage.fan
  tutorial/03_target.fan
  tutorial/04_protocol.fan
  tutorial/04_session.fan
  tutorial/README.md
  tutorial/docs/FDP-SPEC.txt
  tutorial/exercises/00_random.fan
  tutorial/exercises/01_grammar.fan
  tutorial/exercises/02_constraints.fan
  tutorial/exercises/03_coverage.fan
  tutorial/exercises/03_target.fan
  tutorial/exercises/04a_session.fan
  tutorial/exercises/04b_protocol.fan
  tutorial/fdp.py
  tutorial/fdp_cover.py
  tutorial/fdp_harness.py
  tutorial/fdp_reference.json
  tutorial/fdp_server.py
  tutorial/fdp_validate.py
  tutorial/requirements.txt
Due: none

Rework the contributing guide and add the community health files
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CITATION.cff
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  SUPPORT.md
  docs/Contributing.md
Due: none

Fix GIF parsing test: keep the generated grammar gif89a.fan refines
  docs/gif-generated.fan
  docs/gif89a.fan
Due: none

Remove docs/wav.fan
  docs/wav.fan
Due: none

Style.md: small corrections, and fix the gif.fan header
  docs/Style.md
  docs/gif.fan
Due: none

Address review feedback on the contributing policy
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/Contributing.md
Due: none

Document the fork and pull request process
  CONTRIBUTING.md
  docs/Contributing.md
Due: none

Ruff format now checks .md files, fixing the formatting it suggests
  docs/DNS.md
  docs/FTP.md
  docs/FandangoParty.md
  docs/Parties.md
Due: none

fix: shortening templates
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Bump to 1.2 and write the release notes
  CITATION.cff
  docs/Contributing.md
  docs/Diversity.md
  docs/ReleaseNotes.md
  docs/_config.yml
  pyproject.toml
  src/fandango/cli/parser.py
  tutorial/requirements.txt
  uv.lock
Due: black, mypy-strict

Added priming as visitor
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/node_visitors/primer.py
Due: black, mypy-strict

added recursion breaker
  src/fandango/language/grammar/node_visitors/primer.py
Due: black, mypy-strict

better error message
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

better error message
  src/fandango/language/grammar/node_visitors/primer.py
Due: black, mypy-strict

primer fix
  src/fandango/language/grammar/node_visitors/primer.py
Due: black, mypy-strict

Added unittest
  tests/resources/infinite_loops.fan
  tests/test_grammar.py
Due: black, mypy

mypy and ruff
  src/fandango/language/grammar/node_visitors/primer.py
  tests/test_grammar.py
Due: black, mypy, mypy-strict

mypy and ruff
  tests/test_grammar.py
Due: black, mypy

better test_who_is_infinite
  tests/test_grammar.py
Due: black, mypy

ruff
  tests/test_grammar.py
Due: black, mypy

allow underscore in numbers
  language/FandangoLexer.g4
  src/fandango/language/cpp_parser/FandangoLexer.cpp
  src/fandango/language/cpp_parser/FandangoLexer.interp
  src/fandango/language/parser/FandangoLexer.interp
  src/fandango/language/parser/FandangoLexer.py
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/parser/FandangoParserVisitor.py
  src/fandango/language/parser/sa_fandango.py
  tests/test_language.py
Due: black, mypy

Added feedback
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/node_visitors/primer.py
  tests/test_grammar.py
Due: black, mypy, mypy-strict

Added feedback
  src/fandango/language/grammar/node_visitors/primer.py
Due: black, mypy-strict

feedback apply
  src/fandango/language/grammar/node_visitors/primer.py
Due: black, mypy-strict

sa_fandango.py
  src/fandango/language/parser/sa_fandango.py
Due: none

Added checksum to nonterminalnode equality and hash methods
  src/fandango/language/grammar/nodes/non_terminal.py
Due: black, mypy-strict

Fix for protocol grammar navigation that caused nonterminals to be incorrectly trimmed when used in nested calls would be used as protocol message starters at different positions
  src/fandango/io/navigation/selection/protocol_model.py
  src/fandango/io/navigation/selection/target_selector.py
Due: black, mypy-strict

Added unittest for bugfix
  tests/resources/cross_reference_protocol_msg.fan
  tests/test_grammar_graph.py
Due: black, mypy

run ruff
  src/fandango/io/navigation/selection/target_selector.py
  src/fandango/language/grammar/nodes/non_terminal.py
  tests/test_grammar_graph.py
Due: black, mypy, mypy-strict
