Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

Better Python version gates to workaround mypy checks
  src/fandango/cli/utils.py
  src/fandango/language/parse/parse.py
  src/fandango/logger.py
Due: black, mypy-strict

Make consistent use of Python version checkings
  src/fandango/cli/commands.py
  tests/test_convert.py
Due: black, mypy, mypy-strict

Gate `ast.TryStar`
  src/fandango/language/parse/convert.py
Due: black, mypy-strict

Replace assert with if/else for TryStar version gate
  src/fandango/language/parse/convert.py
Due: black, mypy-strict

Drop Python 3.10 support
  .github/workflows/code-checks.yml
  .github/workflows/python-tests.yml
  pyproject.toml
  src/fandango/cli/utils.py
  src/fandango/constraints/comparison.py
  src/fandango/constraints/conjunction.py
  src/fandango/constraints/disjunct.py
  src/fandango/constraints/exists.py
  src/fandango/constraints/expression.py
  src/fandango/constraints/forall.py
  src/fandango/constraints/implication.py
  src/fandango/constraints/repetition_bounds.py
  src/fandango/language/parse/convert.py
  src/fandango/language/parse/parse.py
  src/fandango/logger.py
  uv.lock
Due: black, mypy-strict

Combine typing imports in constraints
  src/fandango/constraints/comparison.py
  src/fandango/constraints/conjunction.py
  src/fandango/constraints/disjunct.py
  src/fandango/constraints/exists.py
  src/fandango/constraints/expression.py
  src/fandango/constraints/forall.py
  src/fandango/constraints/implication.py
  src/fandango/constraints/repetition_bounds.py
Due: black, mypy-strict

Remove explicit to_bytes defaults for 3.10
  src/fandango/cli/utils.py
  src/fandango/language/grammar/parser/parser.py
  src/fandango/language/tree_value.py
Due: black, mypy-strict

Declare Python 3.14 support
  pyproject.toml
Due: none

Cancel CI runs on new pushes
  .github/workflows/benchmarks-main.yml
  .github/workflows/benchmarks-prs.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/build-docs.yml
  .github/workflows/code-checks.yml
  .github/workflows/python-coverage.yml
  .github/workflows/python-tests.yml
Due: none

Update src/fandango/language/parse/convert.py
  src/fandango/language/parse/convert.py
Due: black, mypy-strict

Update src/fandango/language/parse/parse.py
  src/fandango/language/parse/parse.py
Due: black, mypy-strict

Update tests/test_convert.py
  tests/test_convert.py
Due: black, mypy

Added sender and recipient to NonTerminalNode equal and hash function
  src/fandango/language/grammar/nodes/non_terminal.py
Due: black, mypy-strict

fixed issue in which nested protocol message stating symbols should lead to confusion of message navigator
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/nodes/non_terminal.py
Due: black, mypy-strict

Set the default algorithm to 'genetic'
  src/fandango/cli/parser.py
Due: black, mypy-strict

Remove internally used Archive and CoverageArchive from algorithms/__init__.py's __all__
  src/fandango/evolution/algorithms/__init__.py
  src/fandango/evolution/algorithms/base.py
Due: black, mypy-strict

Specify default algorithm via constant
  src/fandango/api.py
  src/fandango/cli/parser.py
  src/fandango/cli/utils.py
  src/fandango/evolution/algorithms/__init__.py
Due: black, mypy-strict

Add TODOs for future work
  src/fandango/evolution/algorithms/archive.py
  src/fandango/evolution/algorithms/wholesuite.py
Due: black, mypy-strict

Add support for hard and soft constraints for random.py, Whole Suite and DynaMOSA
  src/fandango/evolution/algorithms/dynamosa.py
  src/fandango/evolution/algorithms/random.py
  src/fandango/evolution/algorithms/wholesuite.py
  src/fandango/evolution/fitness/__init__.py
  src/fandango/evolution/fitness/suite.py
  tests/test_dynamosa_algorithm.py
  tests/test_random_algorithm.py
  tests/test_whole_suite_algorithm.py
Due: black, mypy, mypy-strict

Use existing mutation operations in wholesuite.py
  src/fandango/evolution/algorithms/wholesuite.py
Due: black, mypy-strict

Add MIO algorithm implementation
  src/fandango/api.py
  src/fandango/cli/parser.py
  src/fandango/evolution/algorithms/archive.py
  src/fandango/evolution/algorithms/mio.py
  tests/test_mio_algorithm.py
Due: black, mypy, mypy-strict

Add support for hard and soft constraints to MIO
  src/fandango/evolution/algorithms/archive.py
  src/fandango/evolution/algorithms/dynamosa.py
  src/fandango/evolution/algorithms/mio.py
  tests/test_archive.py
  tests/test_mio_algorithm.py
Due: black, mypy, mypy-strict

Use existing mutation operations in wholesuite.py
  src/fandango/evolution/algorithms/mio.py
Due: black, mypy-strict

Fix suite crossover to ensure non-empty child suites
  src/fandango/evolution/crossover.py
  tests/test_chromosome.py
Due: black, mypy, mypy-strict

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
