Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

cleanup
  evaluation/experiments/smtp/docker/opensmtpd/image/Dockerfile
  evaluation/experiments/smtp/smtp.py
Due: black

bind9 coverage container
  evaluation/experiments/dns/docker/coverage/data/cache/managed-keys.bind
  evaluation/experiments/dns/docker/coverage/data/cache/managed-keys.bind.jnl
  evaluation/experiments/dns/docker/coverage/docker-compose.yml
  evaluation/experiments/dns/docker/coverage/image/Dockerfile
  evaluation/experiments/dns/docker/coverage/image/coverage_loop.sh
  evaluation/experiments/dns/docker/coverage/image/named.conf
  evaluation/experiments/dns/docker/coverage/image/zones/fandango.io
  evaluation/experiments/dns/docker/wo_coverage/data/cache/fandango.io
  evaluation/experiments/dns/docker/wo_coverage/data/config/named.conf
  evaluation/experiments/dns/docker/wo_coverage/docker-compose.yml
Due: none

bind9 coverage container
  evaluation/experiments/dns/docker/coverage/docker-compose.yml
  evaluation/experiments/dns/docker/coverage/image/Dockerfile
  evaluation/experiments/dns/docker/coverage/image/coverage_loop.sh
Due: none

bind9 coverage container
  evaluation/experiments/dns/docker/coverage/image/named.conf
Due: none

bind9 coverage container
  evaluation/experiments/dns/dns.py
  src/fandango/evolution/algorithm.py
Due: black, mypy

fix for dns grammar
  evaluation/experiments/dns/dns.fan
Due: none

updated chatgpt report grammar
  evaluation/experiments/chatgpt/gpt_novel.py
  evaluation/experiments/chatgpt/loop.sh
  evaluation/experiments/chatgpt/multi_run_merger.py
  evaluation/experiments/chatgpt/report.fan
  evaluation/experiments/dns/docker/coverage/image/Dockerfile
  evaluation/experiments/dns/docker/coverage/image/coverage_loop.sh
  evaluation/experiments/dns/docker/coverage/image/zones/fandango.io
  evaluation/experiments/dns/docker/wo_coverage/data/cache/fandango.io
  evaluation/experiments/ftp/docker/coverage/Dockerfile
  evaluation/experiments/ftp/docker/coverage/image/coverage_snapshots_loop.sh
Due: black

better dune grammar
  evaluation/experiments/dune/dune.fan
  evaluation/experiments/dune/dune.py
Due: black

better dune grammar
  evaluation/experiments/dune/dune.py
  evaluation/experiments/dune/loop.sh
  evaluation/experiments/dune/multi_run_merger.py
Due: black

better gpt grammar
  evaluation/experiments/chatgpt/report.fan
Due: none

better gpt grammar
  evaluation/experiments/chatgpt/gpt_novel.py
  evaluation/experiments/ftp/ftp.fan
Due: black

mutations adjust max nodes to the number of nodes already existing in the individual
  src/fandango/evolution/mutation.py
Due: black, mypy

crossover enforces max_nodes
  src/fandango/evolution/algorithm.py
Due: black, mypy

fixed early break of repetition
  src/fandango/language/grammar/nodes/repetition.py
Due: black, mypy

black
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/mutation.py
Due: black, mypy

adjusted test error message
  tests/test_cli.py
Due: black, mypy

clean code
  src/fandango/evolution/algorithm.py
  tests/test_cli.py
Due: black, mypy

black
  src/fandango/evolution/algorithm.py
Due: black, mypy

black
  tests/test_cli.py
Due: black, mypy

Fix test
  tests/test_cli.py
Due: black, mypy

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(src|tests|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

