Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

fix fallback packet bug
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

fix fallback packet bug
  src/fandango/io/coverage_filter.py
Due: black, mypy-strict

Update pylock.toml
  pylock.toml
Due: none

Introduce flake8
  .flake8
  .github/workflows/code-checks.yml
  .pre-commit-config.yaml
  docs/Contributing.md
  pylock.toml
  pyproject.toml
  uv.lock
Due: none

Apply flake8
  .flake8
  docs/Tree.py
  docs/fan_lexer.py
  src/fandango/cli/commands.py
  src/fandango/cli/shell.py
  src/fandango/constraints/constraint.py
  src/fandango/constraints/predicates.py
  src/fandango/evolution/__init__.py
  src/fandango/experimental/execution/dynamic_analysis.py
  src/fandango/io/__init__.py
  src/fandango/io/navigation/reachability_checker.py
  src/fandango/io/navigation/visitor/continuing_nodevisitor.py
  src/fandango/io/packetparser.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
  src/fandango/language/grammar/nodes/terminal.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/parse/parse.py
  src/fandango/language/parse/slice_parties.py
  src/fandango/language/parser/FandangoLexerBase.py
  src/fandango/language/symbols/symbol.py
  src/fandango/language/tree.py
  src/fandango/logger.py
  tests/test_cli.py
  tests/test_grammar_settings.py
  tests/test_msg_exchange.py
  tests/test_optimizer.py
  tests/test_tree_value.py
Due: black, mypy, mypy-strict

Fix unit tests
  src/fandango/io/__init__.py
  src/fandango/language/parse/parse_spec.py
Due: black, mypy-strict

Fix lock file commands
  .github/workflows/code-checks.yml
  docs/Contributing.md
Due: none

Switch formatting and linting to Ruff
  .flake8
  .github/workflows/code-checks.yml
  .pre-commit-config.yaml
  Makefile
  docs/Contributing.md
  pylock.toml
  pyproject.toml
  uv.lock
Due: none

Fix ruff warnings
  setup.py
  src/fandango/cli/commands.py
  src/fandango/constraints/comparison.py
  src/fandango/constraints/repetition_bounds.py
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/evaluation.py
  src/fandango/evolution/havoc.py
  src/fandango/experimental/execution/static_analysis.py
  src/fandango/io/__init__.py
  src/fandango/io/navigation/PacketNonTerminal.py
  src/fandango/io/navigation/packetforecaster.py
  src/fandango/io/navigation/packetiterativeparser.py
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/parse/convert.py
  src/fandango/language/parse/parse_tree.py
  src/fandango/language/search.py
  src/fandango/language/tree.py
  src/fandango/language/tree_value.py
  tests/test_api.py
  tests/test_constraints.py
  tests/test_fstrings.py
  tests/test_havoc.py
  tests/test_tree_value.py
  tests/test_visitor.py
Due: black, mypy, mypy-strict

One more ruff formatting
  src/fandango/language/search.py
Due: black, mypy-strict

Fix pylock.toml
  pylock.toml
Due: none

fix fallback packet bug
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict
