Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

Expanded relation between FSA and protocol grammars
  docs/Protocols.md
Due: none

Doc fix
  docs/Protocols.md
Due: none

New: convert grammar to state machine
  src/fandango/converters/state/FandangoStateConverter.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

Added Mermaid escapes
  src/fandango/converters/state/FandangoStateConverter.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

Integrated FSM and Mermaid export into CLI
  .gitignore
  src/fandango/cli/commands.py
  src/fandango/cli/parser.py
  src/fandango/converters/state/FandangoStateConverter.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

Fix: nonterminals with senders included extra `<`
  src/fandango/language/grammar/nodes/non_terminal.py
Due: black, mypy-strict

Improved error message
  src/fandango/language/grammar/nodes/node.py
Due: black, mypy-strict

Fix: handle repetition nodes
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

Fix: output proper bit sequences in a spec
  src/fandango/language/tree_value.py
Due: black, mypy-strict

Fix: when outputting a spec, use proper bit sequences
  src/fandango/language/tree_value.py
Due: black, mypy-strict

Make mypy happy
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

Progress
  docs/FTP.md
Due: none

New: FandangoParty.instance() class method to simplify party access (#768)
  docs/FTP.md
  docs/Parties.md
  evaluation/experiments/ftp/ftp.fan
  src/fandango/io/__init__.py
Due: black, mypy-strict

Protect against party not created (yet) (#769)
  docs/FTP.md
  docs/FandangoParty.md
  docs/Parties.md
  docs/ftp.fan
  evaluation/experiments/ftp/ftp.fan
Due: none

Added 1.1 warnings
  docs/FandangoParty.md
  docs/Parties.md
Due: none

Format with black
  docs/iso8601.py
  evaluation/experiments/chatgpt/utils.py
  evaluation/experiments/dns/utils.py
  evaluation/experiments/dune/utils.py
  evaluation/experiments/ftp/utils.py
  evaluation/experiments/smtp/utils.py
  evaluation/tar/tar_evaluation.py
  src/fandango/cli/parser.py
  src/fandango/constraints/comparison.py
  src/fandango/language/grammar/node_visitors/node_visitor.py
  src/fandango/language/parse.py
  tests/test_fan_parsers.py
  tests/test_language.py
  tests/test_tree_value.py
Due: black, mypy, mypy-strict

Format with black 26.1.0
  docs/iso8601.py
  evaluation/tar/tar_evaluation.py
  src/fandango/cli/parser.py
  src/fandango/constraints/comparison.py
  src/fandango/evolution/population.py
  src/fandango/language/grammar/node_visitors/node_visitor.py
  src/fandango/language/parse.py
  tests/test_fan_parsers.py
  tests/test_language.py
  tests/test_tree_value.py
Due: black, mypy, mypy-strict

Use uv run instead of uvx for black formatting check
  .github/workflows/code-checks.yml
Due: none

Setup fandango before black
  .github/workflows/code-checks.yml
Due: none

Change Dependabot update interval to weekly
  .github/dependabot.yml
Due: none

Black
  docs/iso8601.py
  src/fandango/cli/parser.py
  tests/test_language.py
Due: black, mypy, mypy-strict

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
