Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

More PATH fun
  tests/test_execution_feedback.py
Due: black, mypy

remove broken uv dependency on linux
  Makefile
Due: none

Fix paths
  Makefile
  pyproject.toml
  src/fandango/constraints/soft.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/execution/dynamic_analysis.py
  tests/test_execution_feedback.py
  uv.lock
Due: black, mypy, mypy-strict

remove no-longer-necessary PATH fixing
  .github/workflows/python-tests.yml
Due: none

Fix black
  src/fandango/api.py
Due: black, mypy-strict

Make "make fcc" part of "make test_tools"
  .github/workflows/python-tests.yml
  Makefile
Due: none

Split Makefile into fcc and fcc-local targets
  Makefile
Due: none

Improve error handling for docs
  Makefile
Due: none

minor change to trigger CI
  src/fandango/api.py
Due: black, mypy-strict

Exclude fcc from mypy
  pyproject.toml
Due: none

Also build docs on macos
  .github/workflows/build-docs.yml
Due: none

Only run grep on the outputs of the docs if there even are error files
  Makefile
Due: none

Speed up docs
  docs/Constraints.md
Due: none

Fix access to args
  src/fandango/cli/output.py
Due: black, mypy-strict

Use getattr
  Makefile
  src/fandango/cli/output.py
Due: black, mypy-strict

Check for use_fcc value to be present before accessing it
  src/fandango/cli/output.py
Due: black, mypy-strict

Improve check for errors in book
  Makefile
Due: none

Install telnet on macos
  Makefile
Due: none

Only sudo on ubuntu
  .github/workflows/build-docs.yml
Due: none

Improve access
  src/fandango/cli/utils.py
Due: black, mypy-strict

Only run install with sudo on ubuntu in docs CI; disable fail-fast
  .github/workflows/build-docs.yml
Due: none

Cast a wider net for error detection in book
  Makefile
Due: none

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
