Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        files: ^(src|tests|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
        entry: mypy
        language: system

added vsftpd and update ftp grammar to new fandango-spec syntax
  evaluation/experiments/ftp/ftp.fan
  src/fandango/io/__init__.py
  src/fandango/io/packetparser.py
Due: black, mypy

added vsftpd and update ftp grammar to new fandango-spec syntax
  evaluation/experiments/ftp/ftp.fan
Due: none

added vsftpd and update ftp grammar to new fandango-spec syntax
  src/fandango/language/grammar/nodes/repetition.py
Due: black, mypy

fix descendents
  src/fandango/language/grammar/nodes/repetition.py
Due: black, mypy

ftp
  evaluation/experiments/ftp/ftp.fan
  src/fandango/io/packetparser.py
  src/fandango/language/grammar/nodes/repetition.py
Due: black, mypy

ftp
  evaluation/experiments/ftp/ftp.fan
  src/fandango/io/packetparser.py
Due: black, mypy

ftp
  evaluation/experiments/ftp/ftp.fan
  src/fandango/io/__init__.py
  src/fandango/io/packetparser.py
Due: black, mypy

ftp
  evaluation/experiments/ftp/ftp.fan
Due: none

ftp
  evaluation/experiments/ftp/ftp.fan
  src/fandango/io/__init__.py
Due: black, mypy

ftp
  evaluation/experiments/ftp/attempt_1.md
  evaluation/experiments/ftp/attempt_1_grammar_coverage.csv
Due: none

ftp
  evaluation/experiments/ftp/attempt_1.md
  evaluation/experiments/ftp/attempt_2.md
  evaluation/experiments/ftp/attempt_2_grammar_coverage.csv
  evaluation/experiments/ftp/ftp.fan
  evaluation/experiments/ftp/ftp.py
  src/fandango/evolution/algorithm.py
  src/fandango/io/packetparser.py
Due: black, mypy

smtp
  evaluation/experiments/smtp/attempt_1.md
  evaluation/experiments/smtp/smtp.py
  grammar.fan
Due: black

smtp
  evaluation/experiments/smtp/attempt_1_grammar_coverage.csv
Due: none

smtp
  evaluation/experiments/smtp/attempt_1.md
  evaluation/experiments/smtp/attempt_2.md
  evaluation/experiments/smtp/attempt_2_grammar_coverage.csv
Due: none

smtp eval
  evaluation/experiments/ftp/ftp.py
  evaluation/experiments/smtp/attempt_10_grammar_coverage.csv
  evaluation/experiments/smtp/attempt_10_metrics.md
  evaluation/experiments/smtp/attempt_11_grammar_coverage.csv
  evaluation/experiments/smtp/attempt_11_metrics.md
  evaluation/experiments/smtp/attempt_3_grammar_coverage.csv
  evaluation/experiments/smtp/attempt_3_metrics.md
  evaluation/experiments/smtp/attempt_4_grammar_coverage.csv
  evaluation/experiments/smtp/attempt_4_metrics.md
  evaluation/experiments/smtp/attempt_5_grammar_coverage.csv
  evaluation/experiments/smtp/attempt_5_metrics.md
  evaluation/experiments/smtp/attempt_6_grammar_coverage.csv
  evaluation/experiments/smtp/attempt_6_metrics.md
  evaluation/experiments/smtp/attempt_7_grammar_coverage.csv
  evaluation/experiments/smtp/attempt_7_metrics.md
  evaluation/experiments/smtp/attempt_8_grammar_coverage.csv
  evaluation/experiments/smtp/attempt_8_metrics.md
  evaluation/experiments/smtp/attempt_9_grammar_coverage.csv
  evaluation/experiments/smtp/attempt_9_metrics.md
  src/fandango/evolution/algorithm.py
Due: black, mypy

smtp eval
  src/fandango/evolution/population.py
Due: black, mypy

smtp eval
  evaluation/experiments/ftp/ftp.fan
  evaluation/experiments/ftp/ftp.py
  evaluation/experiments/ftp/loop.sh
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_10_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_10_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_11_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_11_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_2.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_2_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_3_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_3_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_4_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_4_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_5_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_5_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_6_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_6_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_7_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_7_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_8_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_8_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_9_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_9_metrics.md
  evaluation/experiments/smtp/merger.py
  evaluation/experiments/smtp/smtp.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy

ftp eval
  evaluation/experiments/ftp/coverage_wo_guidance/attempt_1_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_wo_guidance/attempt_1_metrics.md
  evaluation/experiments/ftp/coverage_wo_guidance/attempt_2_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_wo_guidance/attempt_2_metrics.md
  evaluation/experiments/ftp/coverage_wo_guidance/attempt_3_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_wo_guidance/attempt_3_metrics.md
  evaluation/experiments/ftp/coverage_wo_guidance/attempt_4_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_wo_guidance/attempt_4_metrics.md
  evaluation/experiments/ftp/coverage_wo_guidance/attempt_5_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_wo_guidance/attempt_5_metrics.md
  evaluation/experiments/ftp/coverage_wo_guidance/attempt_6_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_wo_guidance/attempt_6_metrics.md
Due: none

Introduce Constraint.invert
  src/fandango/api.py
  src/fandango/cli/utils.py
  src/fandango/constraints/comparison.py
  src/fandango/constraints/conjunction.py
  src/fandango/constraints/constraint.py
  src/fandango/constraints/disjunct.py
  src/fandango/constraints/exists.py
  src/fandango/constraints/expression.py
  src/fandango/constraints/failing_tree.py
  src/fandango/constraints/forall.py
  src/fandango/constraints/implication.py
  src/fandango/constraints/repetition_bounds.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/language/parse.py
  src/fandango/logger.py
Due: black, mypy

smtp eval
  evaluation/experiments/smtp/convert_series.py
  evaluation/experiments/smtp/docker/coverage/Dockerfile
  evaluation/experiments/smtp/docker/coverage/docker-compose.yml
  evaluation/experiments/smtp/docker/coverage/dump.sh
  evaluation/experiments/smtp/docker/wo_coverage/docker-compose.yml
  evaluation/experiments/smtp/loop.sh
  evaluation/experiments/smtp/multi_run_merger.py
  evaluation/experiments/smtp/smtp.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy
