Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

smtp eval
  evaluation/experiments/smtp/convert_series.py
  evaluation/experiments/smtp/docker/coverage/Dockerfile
  evaluation/experiments/smtp/docker/coverage/docker-compose.yml
  evaluation/experiments/smtp/docker/coverage/dump.sh
  evaluation/experiments/smtp/docker/wo_coverage/docker-compose.yml
  evaluation/experiments/smtp/loop.sh
  evaluation/experiments/smtp/multi_run_merger.py
  evaluation/experiments/smtp/smtp.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy

ftp coverage compile
  evaluation/experiments/ftp/docker/coverage/Dockerfile
  evaluation/experiments/ftp/docker/coverage/docker-compose.yml
  evaluation/experiments/ftp/docker/coverage/image/Makefile
  evaluation/experiments/ftp/docker/coverage/image/coverage_snapshots_loop.sh
  evaluation/experiments/ftp/docker/coverage/image/vsftpd.conf
  evaluation/experiments/ftp/docker/wo_coverage/docker-compose.yml
Due: none

ftp coverage compile
  evaluation/experiments/ftp/docker/coverage/plot_coverage.py
Due: black

ftp coverage compile
  evaluation/experiments/ftp/docker/coverage/Dockerfile
Due: none

ftp coverage compile
  evaluation/experiments/ftp/docker/coverage/Dockerfile
  evaluation/experiments/ftp/docker/coverage/image/Makefile
  evaluation/experiments/ftp/docker/coverage/image/coverage_snapshots_loop.sh
  evaluation/experiments/ftp/docker/coverage/image/vsftpd.conf
Due: none

Speedup tests for soft constraints by reducing population size
  tests/test_cli.py
  tests/test_softconstraint.py
Due: black, mypy

Give more headroom to CLI tests
  tests/test_softconstraint.py
Due: black, mypy

Move to CMake/skbuild build system
  CMakeLists.txt
  pyproject.toml
  setup.py
Due: none

Fix beartype in unit tests
  tests/test_cli.py
Due: black, mypy

ftp coverage compile
  evaluation/experiments/ftp/docker/coverage/Dockerfile
  evaluation/experiments/ftp/docker/coverage/docker-compose.yml
  evaluation/experiments/ftp/docker/coverage/image/Makefile
  evaluation/experiments/ftp/docker/coverage/image/coverage_snapshots_loop.sh
  evaluation/experiments/ftp/docker/coverage/image/vsftpd.conf
Due: none

smtp docker with opensmtpd
  evaluation/experiments/smtp/docker/opensmtpd/docker-compose.yml
  evaluation/experiments/smtp/docker/opensmtpd/image/Dockerfile
  evaluation/experiments/smtp/docker/opensmtpd/image/credentials
  evaluation/experiments/smtp/docker/opensmtpd/image/smtpd.conf
  evaluation/experiments/smtp/docker/opensmtpd/image/stunnel.conf
  evaluation/experiments/smtp/docker/postfix/docker-compose.yml
  evaluation/experiments/smtp/docker/postfix/image/Dockerfile
Due: none

stunnel remove tls connection
  evaluation/experiments/smtp/docker/opensmtpd/image/Dockerfile
  evaluation/experiments/smtp/docker/opensmtpd/image/stunnel.conf
Due: none

stunnel remove tls connection
  evaluation/experiments/smtp/smtp.fan
Due: none

smtp coverage
  evaluation/experiments/smtp/docker/opensmtpd/docker-compose.yml
  evaluation/experiments/smtp/docker/opensmtpd/image/Dockerfile
  evaluation/experiments/smtp/docker/opensmtpd/image/coverage_snapshots_loop.sh
  evaluation/experiments/smtp/docker/opensmtpd/image/smtpd.conf
  evaluation/experiments/smtp/smtp.fan
Due: none

measured smtp coverage without guidance
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_10_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_10_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_1_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_1_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_2_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_2_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_3_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_3_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_4_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_4_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_5_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_5_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_6_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_6_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_7_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_7_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_8_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_8_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_9_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/attempt_9_metrics.md
  evaluation/experiments/smtp/coverage_wo_guidance/median_grammar_coverage.csv
  evaluation/experiments/smtp/smtp.fan
  src/fandango/io/navigation/packetselector.py
Due: black, mypy

measured smtp coverage with guidance
  evaluation/experiments/ftp/attempt_1.md
  evaluation/experiments/ftp/attempt_1_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/attempt_2.md
  evaluation/experiments/ftp/coverage_w_guidance/attempt_2_grammar_coverage.csv
  evaluation/experiments/ftp/ftp.fan
  evaluation/experiments/ftp/multi_run_merger.py
  evaluation/experiments/smtp/coverage_w_guidance/median_grammar_coverage.csv
  evaluation/experiments/smtp/coverage_wo_guidance/median_grammar_coverage.csv
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/io/__init__.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy

measured smtp coverage with guidance
  evaluation/experiments/ftp/coverage_w_guidance/attempt_10_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/attempt_10_metrics.md
  evaluation/experiments/ftp/coverage_w_guidance/attempt_1_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/attempt_1_metrics.md
  evaluation/experiments/ftp/coverage_w_guidance/attempt_3_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/attempt_3_metrics.md
  evaluation/experiments/ftp/coverage_w_guidance/attempt_4_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/attempt_4_metrics.md
  evaluation/experiments/ftp/coverage_w_guidance/attempt_5_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/attempt_5_metrics.md
  evaluation/experiments/ftp/coverage_w_guidance/attempt_6_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/attempt_6_metrics.md
  evaluation/experiments/ftp/coverage_w_guidance/attempt_7_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/attempt_7_metrics.md
  evaluation/experiments/ftp/coverage_w_guidance/attempt_8_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/attempt_8_metrics.md
  evaluation/experiments/ftp/coverage_w_guidance/attempt_9_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/attempt_9_metrics.md
  evaluation/experiments/ftp/coverage_w_guidance/merged.csv
Due: none

adjust dns grammar to use local dns server
  evaluation/experiments/dns/bind9/data/cache/fandango.io
  evaluation/experiments/dns/dns.fan
  src/fandango/io/__init__.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy

cleanup
  evaluation/experiments/smtp/docker/opensmtpd/image/Dockerfile
  evaluation/experiments/smtp/smtp.py
Due: black

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(src|tests|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

