Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

restructured eval folder
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/ftp.fan
Due: none

restructured eval folder
  evaluation/protocol_testing_eval/bind9/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/run_fandango.sh
Due: none

restructured eval folder
  evaluation/protocol_testing_eval/Readme.md
  evaluation/protocol_testing_eval/bind9/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/bind9/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/run_fandango.sh
Due: black, mypy

Update __init__.py
  src/fandango/io/__init__.py
Due: black, mypy-strict

Updated gcovr
  evaluation/protocol_testing_eval/bind9/Dockerfile-fandango
  evaluation/protocol_testing_eval/bind9/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/bind9/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/opensmtpd/Dockerfile-fandango
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/measure.py
Due: black, mypy

update coverage logging
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict

update coverage logging
  evaluation/protocol_testing_eval/bind9/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/run_experiments.sh
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/measure.py
Due: black, mypy

update coverage logging
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/ftp.fan
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/ftp.py
Due: black, mypy

update coverage logging
  evaluation/protocol_testing_eval/bind9/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/bind9/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/run_fandango.sh
Due: black, mypy

update coverage logging
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

Update continuing_nodevisitor.py
  src/fandango/io/navigation/visitor/continuing_nodevisitor.py
Due: black, mypy-strict

recursion depth limit increased to 10^6
  evaluation/protocol_testing_eval/bind9/fandango-scripts/dns.py
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/smtp.py
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/wireguard.py
  src/fandango/utils.py
Due: black, mypy, mypy-strict

Build fandango from local repo checkout
  evaluation/protocol_testing_eval/_stage_fandango.sh
  evaluation/protocol_testing_eval/bind9/Dockerfile-fandango
  evaluation/protocol_testing_eval/lightftp/Dockerfile-fandango
  evaluation/protocol_testing_eval/opensmtpd/Dockerfile-fandango
  evaluation/protocol_testing_eval/run_coverage.sh
  evaluation/protocol_testing_eval/run_experiments.sh
  evaluation/protocol_testing_eval/wireguard/Dockerfile-fandango
Due: none

Use tally instead of past derivations
  evaluation/protocol_testing_eval/bind9/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/measure.py
Due: black, mypy

Use union in forecaster
  src/fandango/io/navigation/packetforecaster.py
Due: black, mypy-strict

Added KPath coverage grammar for incremental coverage tracking
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/coverage_filter.py
  src/fandango/io/navigation/kpath_coverage.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

permutation groups from packet_selector to own class
  src/fandango/io/navigation/packetselector.py
  src/fandango/io/navigation/protocol_model.py
  tests/test_permutation_selector.py
Due: black, mypy, mypy-strict

added forecaster view
  src/fandango/io/navigation/forecast_view.py
  src/fandango/io/navigation/packetselector.py
  tests/test_permutation_selector.py
Due: black, mypy, mypy-strict

Added target selector
  src/fandango/io/navigation/packetselector.py
  src/fandango/io/navigation/target_selector.py
Due: black, mypy-strict

Added packet guide
  src/fandango/io/navigation/packet_guide.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

Permutation group tests
  tests/test_permutation_selector.py
Due: black, mypy

Added coverage tracker
  src/fandango/io/navigation/coverage_tracker.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

Refactored navigation packets into submodules
  evaluation/protocol_testing_eval/chatgpt/gpt_novel.py
  evaluation/protocol_testing_eval/dns/dns.py
  evaluation/protocol_testing_eval/dune/dune.py
  evaluation/protocol_testing_eval/ftp/ftp.py
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/fandango-scripts/ftp.py
  evaluation/protocol_testing_eval/smtp/smtp.py
  evaluation/protocol_testing_eval/wireguard/wireguard.py
  src/fandango/evolution/algorithm/base.py
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/population.py
  src/fandango/io/coverage_filter.py
  src/fandango/io/navigation/coverage/__init__.py
  src/fandango/io/navigation/coverage/coverage_goal.py
  src/fandango/io/navigation/coverage/kpath_coverage.py
  src/fandango/io/navigation/coverage/powerschedule.py
  src/fandango/io/navigation/graph/__init__.py
  src/fandango/io/navigation/graph/grammarnavigator.py
  src/fandango/io/navigation/graph/packetforecaster.py
  src/fandango/io/navigation/graph/packetiterativeparser.py
  src/fandango/io/navigation/graph/packetnavigator.py
  src/fandango/io/navigation/graph/reachability_checker.py
  src/fandango/io/navigation/graph/stategrammarconverter.py
  src/fandango/io/navigation/graph/visitor/__init__.py
  src/fandango/io/navigation/graph/visitor/continuing_nodevisitor.py
  src/fandango/io/navigation/selection/__init__.py
  src/fandango/io/navigation/selection/coverage_tracker.py
  src/fandango/io/navigation/selection/forecast_view.py
  src/fandango/io/navigation/selection/packet_guide.py
  src/fandango/io/navigation/selection/packetselector.py
  src/fandango/io/navigation/selection/protocol_model.py
  src/fandango/io/navigation/selection/target_selector.py
  src/fandango/io/packetparser.py
  src/fandango/language/grammar/grammar.py
  tests/test_ambiguous_packet_parsing.py
  tests/test_forecaster.py
  tests/test_grammar_coverage.py
  tests/test_grammar_graph.py
  tests/test_permutation_selector.py
Due: black, mypy, mypy-strict

removed kpath_coverage wrapper. Added coverage tracking by storing covered k-paths instead of whole trees
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/coverage_filter.py
  src/fandango/io/navigation/coverage/kpath_coverage.py
  src/fandango/io/navigation/selection/coverage_tracker.py
  src/fandango/io/navigation/selection/packet_guide.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

removed kpath_coverage wrapper. Added coverage tracking by storing covered k-paths instead of whole trees
  src/fandango/io/coverage_filter.py
Due: black, mypy-strict

Added tests
  tests/test_coverage_filter.py
  tests/test_coverage_tracker.py
  tests/test_permutation_selector.py
Due: black, mypy

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
