Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

mypy
  tests/test_coverage_filter.py
  tests/test_coverage_tracker.py
  tests/test_permutation_selector.py
Due: black, mypy

delete old data
  evaluation/protocol_testing_eval/experiments/bind9/coverage_guided_old/start_at_13
Due: none

readme
  evaluation/protocol_testing_eval/experiments/README.md
Due: none

deleted old debug artifact
  tcp.fan
Due: none

Readme
  README.md
Due: none

Readme
  evaluation/protocol_testing_eval/experiments/README.md
Due: none

cleanup
  evaluation/protocol_testing_eval/bind9/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/run_fandango.sh
Due: none

i think i forgot to push
  tutorial/00_random.fan
  tutorial/01_grammar.fan
  tutorial/02_constraints.fan
  tutorial/03_coverage.fan
  tutorial/03_target.fan
  tutorial/04_protocol.fan
  tutorial/04_session.fan
  tutorial/README.md
  tutorial/fdp.py
  tutorial/fdp_cover.py
  tutorial/fdp_harness.py
  tutorial/fdp_server.py
Due: none

cleanup
  evaluation/protocol_testing_eval/experiments/scoped_coverage.py
Due: black, mypy

Fix Lockfile
  pylock.toml
Due: none

resolve requested changes
  src/fandango/evolution/algorithm/algorithm_selector.py
  src/fandango/evolution/algorithm/base.py
  src/fandango/io/navigation/graph/stategrammarconverter.py
  src/fandango/io/navigation/graph/visitor/continuing_nodevisitor.py
  src/fandango/io/navigation/selection/protocol_model.py
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/parse/convert.py
  src/fandango/language/parse/parse_tree.py
Due: black, mypy-strict

run ruff
  src/fandango/language/parse/parse_tree.py
Due: black, mypy-strict

fix scikit bug in new release
  pyproject.toml
Due: none

Move to unified build system
  Dockerfile
  Makefile
  pylock.toml
  pyproject.toml
  setup.py
  src/fandango/beartype.py
  tests/conftest.py
  uv.lock
Due: black, mypy, mypy-strict

Move binary fan parser to a discoverable location
  CMakeLists.txt
  pyproject.toml
  src/fandango/beartype.py
  src/fandango/language/parse/parse_tree.py
  src/fandango/language/parser/sa_fandango.py
Due: black, mypy-strict

Adjust Makefile to install Fandango correctly for docs build
  Makefile
Due: none

applied getter syntax for _is_permutation
  src/fandango/io/navigation/graph/stategrammarconverter.py
  src/fandango/io/navigation/selection/protocol_model.py
  src/fandango/language/grammar/nodes/alternative.py
Due: black, mypy-strict

Remove additional import finder
  src/fandango/beartype.py
Due: black, mypy-strict

Update scikit-build-core and remove no longer necessary hacks
  pylock.toml
  pyproject.toml
  src/fandango/__init__.py
  src/fandango/beartype.py
  uv.lock
Due: black, mypy-strict

Minor cleanup
  .pre-commit-config.yaml
  pyproject.toml
Due: none

More attempted Windows fixes
  rust/Cargo.lock
  rust/Cargo.toml
  rust/build.rs
Due: none

Fix build on Windows and old macOS
  rust/Cargo.lock
  rust/Cargo.toml
  rust/build.rs
Due: none

Move to manturin
  .github/workflows/build-and-publish.yml
  .github/workflows/code-checks.yml
  .github/workflows/setup-fandango/action.yml
  CMakeLists.txt
  Dockerfile
  Makefile
  docs/Contributing.md
  pylock.toml
  pyproject.toml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/build.rs
  rust/src/cpp_bridge.rs
  rust/src/lib.rs
  src/fandango/language/parse/parse_tree.py
  src/fandango/language/parser/sa_fandango.py
  src/fandango/native.pyi
  tests/test_meta.py
  uv.lock
Due: black, mypy, mypy-strict

Simplified
  rust/build.rs
Due: none

Simplify
  rust/Cargo.lock
  rust/Cargo.toml
  rust/build.rs
Due: none

Moving back to CMake for building the C++ parser; fix packaging
  .github/workflows/build-and-publish.yml
  CMakeLists.txt
  Dockerfile
  Makefile
  docs/Contributing.md
  pyproject.toml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/build.rs
  rust/src/cpp_bridge.rs
  uv.lock
Due: none

Make parser go brrrr again
  pyproject.toml
Due: none

Remove codeql config
  .github/workflows/codeql.yml
  README.md
Due: none

Fix things
  .github/workflows/codeql.yml
  README.md
  rust/Cargo.lock
  rust/Cargo.toml
  rust/build.rs
Due: none

Fix things
  CMakeLists.txt
  pyproject.toml
  rust/build.rs
Due: none
