Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

Added LRUcache
  src/fandango/evolution/cache.py
Due: black, mypy-strict

Replaced dict-caches with LRUCaches
  src/fandango/cli/commands.py
  src/fandango/constraints/comparison.py
  src/fandango/constraints/constraint.py
  src/fandango/constraints/repetition_bounds.py
  src/fandango/constraints/soft.py
  src/fandango/evolution/cache.py
  src/fandango/evolution/evaluation.py
  src/fandango/evolution/havoc.py
  src/fandango/experimental/execution/static_analysis.py
  src/fandango/io/__init__.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/parser/parser.py
  src/fandango/language/tree.py
  src/fandango/language/tree_value.py
Due: black, mypy-strict

Replaced dict-caches with LRUCaches
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

Run ruff instead of black
  src/fandango/cli/commands.py
  src/fandango/constraints/comparison.py
  src/fandango/constraints/repetition_bounds.py
  src/fandango/evolution/evaluation.py
  src/fandango/evolution/havoc.py
  src/fandango/experimental/execution/static_analysis.py
  src/fandango/io/__init__.py
  src/fandango/language/tree.py
  src/fandango/language/tree_value.py
Due: black, mypy-strict

fix unit tests
  tests/test_cli.py
Due: black, mypy

Make cache size specifiable with an environment variable
  src/fandango/constraints/constraint.py
  src/fandango/constraints/soft.py
  src/fandango/evolution/algorithm/base.py
  src/fandango/evolution/evaluation.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/parser/parser.py
  src/fandango/utils.py
Due: black, mypy-strict

Introduce --format=1
  src/fandango/cli/output.py
  src/fandango/cli/parser.py
  tests/test_cli.py
Due: black, mypy, mypy-strict

Fix lock
  pylock.toml
Due: none

Improve Dockerfile
  Dockerfile
Due: none

adjusted parser cache strategy
  src/fandango/language/grammar/parser/parser.py
Due: black, mypy-strict

Added pfb stmp target
  evaluation/protocol_testing_eval/profuzzbench/Exim/Dockerfile
  evaluation/protocol_testing_eval/profuzzbench/Exim/Dockerfile-stateafl
  evaluation/protocol_testing_eval/profuzzbench/Exim/README.md
  evaluation/protocol_testing_eval/profuzzbench/Exim/blacklist_alloc.sh
  evaluation/protocol_testing_eval/profuzzbench/Exim/blacklist_global.sh
  evaluation/protocol_testing_eval/profuzzbench/Exim/clean.sh
  evaluation/protocol_testing_eval/profuzzbench/Exim/cov_script.sh
  evaluation/protocol_testing_eval/profuzzbench/Exim/crash_script
  evaluation/protocol_testing_eval/profuzzbench/Exim/exim-log-bug.patch
  evaluation/protocol_testing_eval/profuzzbench/Exim/exim-rand.patch
  evaluation/protocol_testing_eval/profuzzbench/Exim/exim.configure.patch
  evaluation/protocol_testing_eval/profuzzbench/Exim/exim.patch
  evaluation/protocol_testing_eval/profuzzbench/Exim/in-smtp-pcap/smtp_requests_full.pcap
  evaluation/protocol_testing_eval/profuzzbench/Exim/in-smtp-pcap/smtp_requests_full_bdat.pcap
  evaluation/protocol_testing_eval/profuzzbench/Exim/in-smtp-replay/ftp_requests_full_normal.raw
  evaluation/protocol_testing_eval/profuzzbench/Exim/in-smtp-replay/smtp_requests_full.raw
  evaluation/protocol_testing_eval/profuzzbench/Exim/in-smtp/smtp_requests_full.raw
  evaluation/protocol_testing_eval/profuzzbench/Exim/in-smtp/smtp_requests_full_bdat.raw
  evaluation/protocol_testing_eval/profuzzbench/Exim/run-stateafl.sh
  evaluation/protocol_testing_eval/profuzzbench/Exim/run.sh
  evaluation/protocol_testing_eval/profuzzbench/Exim/smtp.dict
Due: none

smtp target
  evaluation/protocol_testing_eval/profuzzbench/Exim/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/Exim/README.md
  evaluation/protocol_testing_eval/profuzzbench/Exim/exim-fandango-auth.conf
  evaluation/protocol_testing_eval/profuzzbench/Exim/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/Exim/fandango-scripts/smtp.fan
  evaluation/protocol_testing_eval/profuzzbench/Exim/fandango-scripts/smtp.py
  evaluation/protocol_testing_eval/profuzzbench/Exim/fandango-scripts/smtp_client.fan
  evaluation/protocol_testing_eval/profuzzbench/Exim/run-fandango-standalone.sh
  evaluation/protocol_testing_eval/profuzzbench/Exim/run.sh
Due: black, mypy

smtp coverage w fandango
  evaluation/protocol_testing_eval/profuzzbench/Exim/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/Exim/fandango-scripts/smtp.fan
  evaluation/protocol_testing_eval/profuzzbench/Exim/fandango-scripts/smtp.py
  evaluation/protocol_testing_eval/profuzzbench/Exim/fandango-scripts/smtp_client.fan
Due: black, mypy

smtp coverage w fandango
  evaluation/protocol_testing_eval/profuzzbench/Exim/fandango-scripts/smtp.fan
  evaluation/protocol_testing_eval/profuzzbench/Exim/fandango-scripts/smtp.py
  evaluation/protocol_testing_eval/profuzzbench/Exim/run-fandango-standalone.sh
  evaluation/protocol_testing_eval/profuzzbench/Exim/sync-fandango.sh
Due: black, mypy

better grammarnavigator.py heuristic
  src/fandango/io/navigation/grammarnavigator.py
Due: black, mypy-strict

smtp target
  evaluation/protocol_testing_eval/profuzzbench/Exim/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/Exim/README.md
  evaluation/protocol_testing_eval/profuzzbench/Exim/fandango-scripts/run_differential.sh
  evaluation/protocol_testing_eval/profuzzbench/Exim/fandango-scripts/smtp.fan
  evaluation/protocol_testing_eval/profuzzbench/Exim/fandango-scripts/smtp.py
  evaluation/protocol_testing_eval/profuzzbench/Exim/run-differential-standalone.sh
  evaluation/protocol_testing_eval/profuzzbench/Exim/scripts/analysis/coverage_plotting.py
  evaluation/protocol_testing_eval/profuzzbench/Exim/scripts/analysis/profuzzbench_generate_csv.sh
  evaluation/protocol_testing_eval/profuzzbench/Exim/scripts/analysis/profuzzbench_plot.py
  evaluation/protocol_testing_eval/profuzzbench/Exim/scripts/execution/profuzzbench_exec_common.sh
Due: black, mypy

heuristic based on connected k-path symbols
  src/fandango/io/navigation/grammarnavigator.py
Due: black, mypy-strict

fix received message after generating a message
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict

resolved timer deadlock
  src/fandango/io/__init__.py
Due: black, mypy-strict

Fix lock file
  pylock.toml
Due: none

better navigator, resolved race condition
  src/fandango/io/__init__.py
  src/fandango/io/navigation/grammarnavigator.py
Due: black, mypy-strict

reachability checker test for completable_by_extension
  tests/test_grammar_graph.py
Due: black, mypy

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
