Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

Remove pyppeteer and related dependencies
  pyproject.toml
  uv.lock
Due: none

Update urllib3 to version 2.6.3
  uv.lock
Due: none

Raise error if output file/dir exists
  src/fandango/cli/commands.py
Due: black, mypy-strict

Add unit tests, fix bugs
  src/fandango/cli/commands.py
  tests/test_cli.py
  tests/test_softconstraint.py
Due: black, mypy, mypy-strict

allow None arg in receive method
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

Added 1.1 version warning
  docs/Gif.md
  docs/Png.md
Due: none

new buffer size for TCP
  src/fandango/io/__init__.py
Due: black, mypy-strict

Added files for running guidance evaluation and throughput test
  evaluation/experiments/radius/docker/data/raddb/clients.conf
  evaluation/experiments/radius/docker/data/raddb/sites-enabled/default
  evaluation/experiments/radius/docker/data/raddb/users
  evaluation/experiments/radius/docker/docker-compose.yml
  evaluation/experiments/radius/radius.fan
  evaluation/experiments/radius/radius.py
  evaluation/experiments/radius/radius_spec.fan
  evaluation/experiments/run_guidance_eval.py
  evaluation/experiments/run_throughput_test.py
Due: black, mypy

added ftp experiment
  evaluation/experiments/ftp/ftp.py
  evaluation/protocol_testing_eval/ftp/__init__.py
  evaluation/protocol_testing_eval/ftp/docker/data/ftp_root/test.txt
  evaluation/protocol_testing_eval/ftp/docker/docker-compose.yml
  evaluation/protocol_testing_eval/ftp/ftp.fan
  evaluation/protocol_testing_eval/ftp/ftp.py
  evaluation/protocol_testing_eval/ftp/ftp_client.fan
  evaluation/protocol_testing_eval/ftp/ftp_server.fan
  evaluation/protocol_testing_eval/run_throughput_test.py
Due: black, mypy

added ftp experiment
  evaluation/protocol_testing_eval/run_throughput_test.py
Due: black, mypy

added profuzzbench target
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/Dockerfile
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/Dockerfile-stateafl
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/README.md
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/clean.sh
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/cov_script.sh
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/crash_script
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/fandango-scripts/ftp-cmds.fan
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/fandango-scripts/ftp.py
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/fandango-scripts/ftp_client.fan
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/fftp.conf
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/ftp.dict
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/fuzzing.patch
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/gcov-fandango.patch
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/gcov-fuzzing.patch
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/gcov.patch
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/in-ftp-pcap/ftp_requests_full_anonymous.pcap
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/in-ftp-pcap/ftp_requests_full_normal.pcap
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/in-ftp-replay/ftp_requests_full_anonymous.raw
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/in-ftp-replay/ftp_requests_full_normal.raw
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/in-ftp/ftp_requests_full_admin.raw
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/in-ftp/ftp_requests_full_anonymous.raw
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/in-ftp/ftp_requests_full_normal.raw
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/run-fandango-standalone.sh
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/run-stateafl.sh
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/run.sh
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/scripts/analysis/coverage_plotting.py
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/scripts/analysis/profuzzbench_generate_csv.sh
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/scripts/analysis/profuzzbench_plot.py
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/scripts/execution/profuzzbench_exec_common.sh
  evaluation/protocol_testing_eval/profuzzbench/Readme.md
Due: black, mypy

added readme for targets
  evaluation/protocol_testing_eval/Readme.md
  evaluation/protocol_testing_eval/merge_grammar_coverage.sh
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/Dockerfile-fandango
  evaluation/protocol_testing_eval/run_guidance_eval.py
  evaluation/protocol_testing_eval/run_throughput_eval.py
Due: black, mypy

clean up test target starter files
  evaluation/protocol_testing_eval/chatgpt/gpt_novel.py
  evaluation/protocol_testing_eval/dns/dns.py
  evaluation/protocol_testing_eval/dune/dune.py
  evaluation/protocol_testing_eval/ftp/ftp.py
  evaluation/protocol_testing_eval/run_guidance_eval.py
  evaluation/protocol_testing_eval/smtp/smtp.py
Due: black, mypy

tree value compare
  src/fandango/language/tree_value.py
Due: black, mypy-strict

added aflnet results for lightftp
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/README.md
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-aflnet/out-lightftp-aflnet_1.tar.gz
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-aflnet/out-lightftp-aflnet_10.tar.gz
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-aflnet/out-lightftp-aflnet_2.tar.gz
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-aflnet/out-lightftp-aflnet_3.tar.gz
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-aflnet/out-lightftp-aflnet_4.tar.gz
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-aflnet/out-lightftp-aflnet_5.tar.gz
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-aflnet/out-lightftp-aflnet_6.tar.gz
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-aflnet/out-lightftp-aflnet_7.tar.gz
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-aflnet/out-lightftp-aflnet_8.tar.gz
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-aflnet/out-lightftp-aflnet_9.tar.gz
Due: none

Overwrite existing outfile if it exists
  src/fandango/cli/commands.py
  tests/test_cli.py
Due: black, mypy, mypy-strict

Change error message wording
  src/fandango/cli/commands.py
  tests/test_cli.py
Due: black, mypy, mypy-strict

updated symlinks
  docs/dns.fan
  docs/ftp.fan
  docs/ftp_client.fan
  docs/ftp_server.fan
  evaluation/protocol_testing_eval/Readme.md
  evaluation/protocol_testing_eval/smtp/smtp.fan
  tests/test_grammar_coverage.py
Due: black, mypy

fixed test
  tests/test_cli.py
Due: black, mypy

ftp grammar fixed max error constraint
  evaluation/protocol_testing_eval/ftp/ftp.fan
Due: none

fixed mypy errors. Updated documentation for FTP.
  docs/FTP.md
  evaluation/protocol_testing_eval/ftp/ftp_client.fan
  evaluation/protocol_testing_eval/ftp/ftp_server.fan
  evaluation/protocol_testing_eval/multi_run_merger.py
  evaluation/protocol_testing_eval/run_guidance_eval.py
  evaluation/protocol_testing_eval/run_throughput_eval.py
  pyproject.toml
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/io/__init__.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/tree_value.py
Due: black, mypy, mypy-strict

fixed mypy errors. Updated documentation for FTP.
  docs/FTP.md
Due: none

Fix #821
  docs/Protocols.md
Due: none

added description of FandangoParty receive-function None argument to documentation
  docs/FandangoParty.md
  docs/Parties.md
  src/fandango/io/__init__.py
Due: black, mypy-strict

run black
  evaluation/protocol_testing_eval/chatgpt/gpt_novel.py
  evaluation/protocol_testing_eval/dns/dns.py
  evaluation/protocol_testing_eval/ftp/ftp.py
  evaluation/protocol_testing_eval/multi_run_merger.py
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/fandango-scripts/ftp.py
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/scripts/analysis/coverage_plotting.py
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/scripts/analysis/profuzzbench_plot.py
  evaluation/protocol_testing_eval/run_guidance_eval.py
  evaluation/protocol_testing_eval/run_throughput_eval.py
  evaluation/protocol_testing_eval/smtp/smtp.py
  evaluation/protocol_testing_eval/utils.py
  src/fandango/evolution/algorithm.py
  src/fandango/io/__init__.py
  src/fandango/io/navigation/packetselector.py
  tests/test_cli.py
Due: black, mypy, mypy-strict

added numpy and pandas to test dependencies
  pyproject.toml
  uv.lock
Due: none

removed non-callable files
  evaluation/protocol_testing_eval/Readme.md
  evaluation/protocol_testing_eval/multi_run_merger.py
  evaluation/protocol_testing_eval/run_guidance_eval.py
  evaluation/protocol_testing_eval/run_throughput_eval.py
  evaluation/protocol_testing_eval/smtp/smtp.py
  evaluation/protocol_testing_eval/utils.py
Due: black, mypy

feat: release 1.1.0rc2
  pyproject.toml
Due: none

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
