Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

Introduce suite-level fitness functions for symbol and path coverage
  src/fandango/evolution/fitness/__init__.py
  src/fandango/evolution/fitness/suite.py
  tests/test_suite_fitness.py
Due: black, mypy, mypy-strict

Add fitness to random algorithms
  src/fandango/evolution/algorithms/random.py
Due: black, mypy-strict

Use coverage archive for population management
  src/fandango/evolution/algorithms/base.py
  src/fandango/evolution/algorithms/random.py
  src/fandango/evolution/chromosomes/suite.py
  src/fandango/evolution/fitness/suite.py
  tests/test_random_algorithm.py
Due: black, mypy, mypy-strict

Remove generate_initial_population from algorithms and refactor random algorithm population handling
  src/fandango/evolution/algorithms/base.py
  src/fandango/evolution/algorithms/dynamosa.py
  src/fandango/evolution/algorithms/mio.py
  src/fandango/evolution/algorithms/random.py
  src/fandango/evolution/algorithms/wholesuite.py
  tests/test_random_algorithm.py
Due: black, mypy, mypy-strict

Add RandomIndividualAlgorithm and RandomSuiteAlgorithm
  src/fandango/evolution/algorithms/__init__.py
  src/fandango/evolution/algorithms/random.py
  tests/test_random_algorithm.py
Due: black, mypy, mypy-strict

Introduce KPathCoverageFitnessFunction for generalized k-path suite coverage
  src/fandango/evolution/fitness/__init__.py
  src/fandango/evolution/fitness/suite.py
  tests/test_suite_fitness.py
Due: black, mypy, mypy-strict

Introduce GraphCoverageFitnessFunction for normalized multi-k path suite coverage
  src/fandango/evolution/fitness/__init__.py
  src/fandango/evolution/fitness/suite.py
  tests/test_suite_fitness.py
Due: black, mypy, mypy-strict

Initial population generation on generate call
  src/fandango/evolution/algorithms/base.py
  src/fandango/evolution/algorithms/random.py
  tests/test_random_algorithm.py
Due: black, mypy, mypy-strict

Introduce Archive and CoverageArchive for tracking k-path coverage goals
  src/fandango/evolution/algorithms/__init__.py
  src/fandango/evolution/algorithms/archive.py
Due: black, mypy-strict

Refactor evolutionary algorithms to return Suite instead of generator
  src/fandango/evolution/algorithms/base.py
  src/fandango/evolution/algorithms/dynamosa.py
  src/fandango/evolution/algorithms/mio.py
  src/fandango/evolution/algorithms/random.py
  src/fandango/evolution/algorithms/wholesuite.py
  tests/test_random_algorithm.py
Due: black, mypy, mypy-strict

Remove evaluation property from algorithm base and implementations
  src/fandango/evolution/algorithms/base.py
  src/fandango/evolution/algorithms/dynamosa.py
  src/fandango/evolution/algorithms/mio.py
  src/fandango/evolution/algorithms/random.py
  src/fandango/evolution/algorithms/wholesuite.py
Due: black, mypy-strict

Add tests
  tests/test_archive.py
  tests/test_chromosome.py
  tests/test_random_algorithm.py
  tests/test_suite_fitness.py
  tests/test_whole_suite_algorithm.py
Due: black, mypy

Add WholeSuiteAlgorithm implementation
  src/fandango/api.py
  src/fandango/cli/parser.py
  src/fandango/evolution/algorithms/wholesuite.py
Due: black, mypy-strict

Add support for selecting search algorithm via CLI and API
  src/fandango/api.py
  src/fandango/cli/parser.py
  src/fandango/cli/utils.py
Due: black, mypy-strict

Make GenerationAlgorithm type compatible with Fandango class
  src/fandango/evolution/algorithms/base.py
  src/fandango/evolution/algorithms/dynamosa.py
  src/fandango/evolution/algorithms/mio.py
Due: black, mypy-strict

Add DynaMOSAAlgorithm implementation
  src/fandango/api.py
  src/fandango/cli/parser.py
  src/fandango/evolution/algorithms/dynamosa.py
  tests/test_dynamosa_algorithm.py
Due: black, mypy, mypy-strict

Add SuiteCrossover operator for combining suites of individuals
  src/fandango/evolution/crossover.py
Due: black, mypy-strict

Add selection operators
  src/fandango/evolution/selection.py
  tests/test_selection.py
Due: black, mypy, mypy-strict

Enable cooldown for dependabot updates
  .github/dependabot.yml
Due: none

Expand CI test matrix to include Python 3.11–3.14
  .github/workflows/code-checks.yml
  .github/workflows/python-tests.yml
Due: none

Try using simplefilter to suppress warnings in py010parser
  src/fandango/converters/bt/BTFandangoConverter.py
Due: black, mypy-strict

Feature gate btconverter to python version != 3.11 because py010parser does not support it
  src/fandango/cli/commands.py
Due: black, mypy-strict

Skip appropriate checks for feature gated exclusions
  tests/test_convert.py
Due: black, mypy

Import `Counter` from `collections` instead
  src/fandango/evolution/evaluation.py
  tests/test_structural_out_of_grammar_mutation.py
Due: black, mypy, mypy-strict

Fix invalid overrides
  src/fandango/converters/antlr/ANTLRFandangoConverter.py
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/language/grammar/node_visitors/node_visitor.py
  src/fandango/language/parse/parser_error_listeners.py
Due: black, mypy-strict

Add Python 3.10 compatibility for `Unpack` and `to_bytes`
  pyproject.toml
  src/fandango/cli/utils.py
  src/fandango/constraints/comparison.py
  src/fandango/constraints/conjunction.py
  src/fandango/constraints/disjunct.py
  src/fandango/constraints/exists.py
  src/fandango/constraints/expression.py
  src/fandango/constraints/forall.py
  src/fandango/constraints/implication.py
  src/fandango/constraints/repetition_bounds.py
  src/fandango/language/tree_value.py
  tests/test_constraints.py
  uv.lock
Due: black, mypy, mypy-strict

Add Python 3.10 to CI test matrix
  .github/workflows/code-checks.yml
  .github/workflows/python-tests.yml
Due: none

Quote Python version strings in workflow files
  .github/workflows/benchmarks-main.yml
  .github/workflows/benchmarks-prs.yml
  .github/workflows/build-docs.yml
  .github/workflows/code-checks.yml
  .github/workflows/python-coverage.yml
  .github/workflows/python-tests.yml
Due: none

Fix byte order to use big-endian instead of sys.byteorder
  src/fandango/cli/utils.py
  src/fandango/language/tree_value.py
Due: black, mypy-strict

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
