Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

Update build-docs.yml
  .github/workflows/build-docs.yml
Due: none

Doc update: new FandangoParty() interface
  docs/FandangoParty.md
  src/fandango/io/__init__.py
Due: black, mypy-strict

Initial rework of include mechanism
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/parse.py
Due: black, mypy-strict

simplify test command
  Makefile
Due: none

Initial rework of include mechanism
  src/fandango/language/parse.py
  tests/test_grammar.py
Due: black, mypy, mypy-strict

slice_party mechanism works
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/node_visitors/packet_truncator.py
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/grammar/nodes/concatenation.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/parse.py
Due: black, mypy-strict

slice_party mechanism works
  src/fandango/language/parse.py
Due: black, mypy-strict

slice_party mechanism works
  src/fandango/language/grammar/node_visitors/packet_truncator.py
Due: black, mypy-strict

Black
  src/fandango/language/cpp_parser/FandangoLexer.h
  src/fandango/language/grammar/node_visitors/packet_truncator.py
  src/fandango/language/parser/sa_fandango.py
Due: black, mypy-strict

Black
  src/fandango/language/cpp_parser/FandangoLexer.h
  src/fandango/language/parse.py
Due: black, mypy-strict

Updated docs with ftp_client.fan and ftp_server.fan
  docs/FTP.md
  docs/ftp_client.fan
  docs/ftp_server.fan
Due: none

Black? Whatever?
  docs/Calculator.fan
  src/fandango/language/cpp_parser/FandangoLexer.h
Due: none

Fix: apply "download PDF" to all files
  docs/patch-html.sh
Due: none

Fix: ANTLR def was missing
  Makefile
Due: none

Back to normal again
  src/fandango/language/cpp_parser/FandangoLexer.h
Due: none

PDF update
  docs/_static/fandango.pdf
Due: none

Doc update
  docs/ReleaseNotes.md
Due: none

Doc update
  docs/Protocols.md
  docs/ReleaseNotes.md
Due: none

Fix file handling for stdout
  src/fandango/cli/output.py
Due: black, mypy-strict

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
