Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

feat: release 1.1.0rc2
  pyproject.toml
Due: none

feat: update uv
  uv.lock
Due: none

updated symlinks
  docs/dns.fan
  docs/ftp.fan
  docs/ftp_client.fan
  docs/ftp_server.fan
Due: none

updated symlinks
  evaluation/protocol_testing_eval/ftp/ftp.py
Due: black, mypy

moved data
  evaluation/protocol_testing_eval/dns/docker/data/cache/fandango.io
  evaluation/protocol_testing_eval/dns/docker/data/config/named.conf
  evaluation/protocol_testing_eval/dns/docker/docker-compose.yml
  evaluation/protocol_testing_eval/smtp/docker/docker-compose.yml
  evaluation/protocol_testing_eval/smtp/docker/image/Dockerfile
  evaluation/protocol_testing_eval/smtp/docker/image/coverage_snapshots_loop.sh
  evaluation/protocol_testing_eval/smtp/docker/image/credentials
  evaluation/protocol_testing_eval/smtp/docker/image/smtpd.conf
  evaluation/protocol_testing_eval/smtp/docker/image/stunnel.conf
Due: none

Update src/fandango/io/__init__.py
  src/fandango/io/__init__.py
Due: black, mypy-strict

moved data
  src/fandango/io/__init__.py
Due: black, mypy-strict

moved data
  evaluation/protocol_testing_eval/dns/dns.fan
Due: none

fixed NameError: name 'FandangoIO' is not defined
  src/fandango/io/__init__.py
Due: black, mypy-strict

updated Readme.md
  evaluation/protocol_testing_eval/profuzzbench/Readme.md
Due: none

Added ftp guided measurements
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_10_grammar_coverage.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_10_grammar_coverage_overlap.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_10_metrics.md
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_1_grammar_coverage.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_1_grammar_coverage_overlap.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_1_metrics.md
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_2_grammar_coverage.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_2_grammar_coverage_overlap.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_2_metrics.md
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_3_grammar_coverage.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_3_grammar_coverage_overlap.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_3_metrics.md
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_4_grammar_coverage.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_4_grammar_coverage_overlap.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_4_metrics.md
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_5_grammar_coverage.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_5_grammar_coverage_overlap.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_5_metrics.md
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_6_grammar_coverage.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_6_grammar_coverage_overlap.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_6_metrics.md
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_7_grammar_coverage.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_7_grammar_coverage_overlap.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_7_metrics.md
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_8_grammar_coverage.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_8_grammar_coverage_overlap.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_8_metrics.md
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_9_grammar_coverage.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_9_grammar_coverage_overlap.csv
  evaluation/protocol_testing_eval/ftp/coverage_w_guidance/run_9_metrics.md
Due: none

s/leonbett/fandango-fuzzer
  Makefile
Due: none

Exit installation if LLVM version < 18
  Makefile
Due: none

feat: restrict Windows builds to 64-bit architecture
  .github/workflows/build-and-publish.yml
Due: none

feat: release 1.1.0
  pyproject.toml
  uv.lock
Due: none

Revise README for clarity and feature overview
  README.md
Due: none

Revise README for project introduction and clarity
  README.md
Due: none

Added ftp unguided measurements
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/README.md
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-fandango/1.tar
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-fandango/10.tar
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-fandango/2.tar
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-fandango/3.tar
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-fandango/4.tar
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-fandango/5.tar
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-fandango/6.tar
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-fandango/7.tar
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-fandango/8.tar
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/results-fandango/9.tar
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/scripts/analysis/profuzzbench_generate_csv.sh
  evaluation/protocol_testing_eval/profuzzbench/LightFTP/scripts/execution/profuzzbench_exec_common.sh
Due: none

Simplify dependency lookups
  .github/workflows/python-tests.yml
  Makefile
  tests/conftest.py
Due: black, mypy

Exclude fcc from mypy
  pyproject.toml
Due: none

Allow downgrading on Windows
  Makefile
Due: none

Use the current LLVM version
  Makefile
  tests/conftest.py
Due: black, mypy

Only check for fcc dependencies in conftest on non-windows
  tests/conftest.py
Due: black, mypy

fix: update announcement link for Fandango 1.1.0
  docs/_config.yml
Due: none

fix: update release date for version 1.1 in ReleaseNotes.md
  docs/ReleaseNotes.md
Due: none
