Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

fix mypy errors
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/population.py
Due: black, mypy-strict

fix mypy errors
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

black
  src/fandango/io/__init__.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

fix tests
  tests/test_cli.py
  tests/test_grammar.py
Due: black, mypy

black
  evaluation/experiments/chatgpt/gpt_novel.py
  evaluation/experiments/chatgpt/utils.py
  evaluation/experiments/dns/dns.py
  evaluation/experiments/dns/utils.py
  evaluation/experiments/dune/dune.py
  evaluation/experiments/dune/utils.py
  evaluation/experiments/ftp/ftp.py
  evaluation/experiments/ftp/utils.py
  evaluation/experiments/multi_run_merger.py
  evaluation/experiments/smtp/smtp.py
  evaluation/experiments/smtp/utils.py
  tests/test_grammar_graph.py
Due: black, mypy

Remove manual venv activation from workflows
  .github/workflows/benchmarks-main.yml
  .github/workflows/benchmarks-prs.yml
  .github/workflows/deploy-book.yml
  .github/workflows/python-tests.yml
  .github/workflows/setup-fandango/action.yml
Due: none

black
  evaluation/experiments/chatgpt/gpt_novel.py
  evaluation/experiments/dns/dns.py
  evaluation/experiments/dune/dune.py
  evaluation/experiments/ftp/ftp.py
  evaluation/experiments/multi_run_merger.py
  evaluation/experiments/smtp/smtp.py
  tests/test_forecaster.py
  tests/test_grammar_graph.py
Due: black, mypy

black
  evaluation/experiments/multi_run_merger.py
Due: black, mypy

black
  evaluation/experiments/chatgpt/gpt_novel.py
  evaluation/experiments/dns/dns.py
  evaluation/experiments/dune/dune.py
  evaluation/experiments/ftp/ftp.py
Due: black, mypy

Remove target input from setup-fandango action
  .github/workflows/benchmarks-main.yml
  .github/workflows/benchmarks-prs.yml
  .github/workflows/code-checks.yml
  .github/workflows/deploy-book.yml
  .github/workflows/python-coverage.yml
  .github/workflows/python-tests.yml
  .github/workflows/setup-fandango/action.yml
Due: none

Try again with scikit-build-core and cmake
  CMakeLists.txt
  pyproject.toml
  setup.py
Due: none

Try the setuptools within scikit_build
  pyproject.toml
  setup.py
Due: none

Make it work with cmake!
  pyproject.toml
  setup.py
Due: none

Fix mypy complains
  pyproject.toml
  setup.py
  uv.lock
Due: none

Check beartype
  src/fandango/evolution/havoc.py
Due: black, mypy-strict

Set patterns for pip and uv dependabot config
  .github/dependabot.yml
Due: none

Revert beartype check
  src/fandango/evolution/havoc.py
Due: black, mypy-strict

Move conditional build logic from CMake to setup.py
  CMakeLists.txt
  setup.py
Due: none

Add verbose flag to uv sync command
  .github/workflows/setup-fandango/action.yml
Due: none

Add informational message for skipped C++ parser
  setup.py
Due: none

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
