Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

New: check for fandango upgrades
  src/fandango/cli/__init__.py
  src/fandango/cli/commands.py
  src/fandango/cli/shell.py
  src/fandango/cli/upgrade.py
Due: black, mypy-strict

Black
  docs/iso8601.py
  src/fandango/cli/commands.py
  src/fandango/cli/parser.py
  src/fandango/cli/upgrade.py
  tests/test_language.py
Due: black, mypy, mypy-strict

third attempt to refactor io_instance singelton
  src/fandango/io/__init__.py
Due: black, mypy-strict

Black
  docs/iso8601.py
  src/fandango/cli/parser.py
  src/fandango/cli/upgrade.py
  tests/test_language.py
Due: black, mypy, mypy-strict

Mypy
  src/fandango/cli/upgrade.py
Due: black, mypy-strict

Implemented contextvar handling for cache
  src/fandango/constraints/predicates.py
  src/fandango/io/__init__.py
  src/fandango/language/parse/cache.py
  src/fandango/language/parse/parse.py
  src/fandango/language/parse/spec.py
Due: black, mypy-strict

Implemented contextvar handling for cache
  src/fandango/language/parse/cache.py
Due: black, mypy-strict

black
  docs/iso8601.py
  evaluation/experiments/dns/dns.py
  tests/test_language.py
Due: black, mypy

black
  src/fandango/io/__init__.py
  src/fandango/language/parse/cache.py
Due: black, mypy-strict

black
  src/fandango/language/parse/cache.py
Due: black, mypy-strict

disable caching
  src/fandango/language/parse/parse_spec.py
Due: black, mypy-strict

Improve error logging
  tests/test_cli.py
  tests/test_constraints.py
  tests/test_convert.py
  tests/test_grammar.py
  tests/test_optimizer.py
  tests/test_parsing.py
  tests/test_searches.py
  tests/test_slices.py
  tests/test_softconstraint.py
  tests/test_star.py
  tests/test_visitor.py
Due: black, mypy

Add more logging
  src/fandango/cli/commands.py
Due: black, mypy-strict

print full error on slice test fail
  tests/test_slices.py
Due: black, mypy

use antlr4 in Linux
  Makefile
Due: none

remove parser from web
  Makefile
Due: none

Fix validate for format=none
  src/fandango/cli/commands.py
  src/fandango/language/parse/convert.py
Due: black, mypy-strict
