Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

Only sudo on ubuntu
  .github/workflows/build-docs.yml
Due: none

Only run grep on the outputs of the docs if there even are error files
  Makefile
Due: none

Speed up docs
  docs/Constraints.md
Due: none

Introduce an experimental module and move FCC to it
  docs/PythonAPI.md
  src/fandango/evolution/evaluation.py
  src/fandango/experimental/__init__.py
  src/fandango/experimental/execution/__init__.py
  src/fandango/experimental/execution/dynamic_analysis.py
  src/fandango/experimental/execution/fcc.py
  src/fandango/experimental/execution/static_analysis.py
  src/fandango/experimental/execution/trace_types.py
  tests/test_execution_feedback.py
  tests/test_meta.py
Due: black, mypy, mypy-strict

Improve check for errors in book
  Makefile
Due: none

Add custom warning type for improved ignorability
  docs/PythonAPI.md
  src/fandango/__init__.py
  src/fandango/experimental/__init__.py
  tests/test_execution_feedback.py
  tests/test_meta.py
Due: black, mypy, mypy-strict

Cast a wider net for error detection in book
  Makefile
Due: none

Improve access
  src/fandango/cli/utils.py
Due: black, mypy-strict

Only emit one warning per experimental module
  src/fandango/experimental/__init__.py
  tests/test_execution_feedback.py
  tests/test_meta.py
Due: black, mypy, mypy-strict

Introduce --enable-experimental-module
  src/fandango/cli/__init__.py
  src/fandango/cli/parser.py
  src/fandango/evolution/evaluation.py
  src/fandango/experimental/__init__.py
Due: black, mypy-strict

Make tests more stable
  tests/test_meta.py
Due: black, mypy

uvlock
  pylock.toml
Due: none

exclude dist and build from mypy
  pyproject.toml
Due: none

build verbose
  Makefile
Due: none

Added explicit wait for timerevent
  src/fandango/evolution/algorithm.py
  src/fandango/io/__init__.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

Resolve file paths in import()s
  src/fandango/language/parse/splitter.py
  tests/test_fan_parsers.py
Due: black, mypy, mypy-strict

explicit ipv4 for protocols.md
  docs/Protocols.md
  docs/minitelnet.py
Due: none

explicit ipv4 for protocols.md
  docs/Protocols.md
Due: none

explicit ipv4 for protocols.md
  docs/Protocols.md
  src/fandango/io/__init__.py
Due: black, mypy-strict

explicit ipv4 for protocols.md
  src/fandango/io/__init__.py
Due: black, mypy-strict

refactor stdout handling in io __init__
  src/fandango/io/__init__.py
Due: black, mypy-strict

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
