Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Run packaging on branches that change build system related files
  .github/workflows/build-and-publish.yml
Due: none

Fix ABI errors
  .github/workflows/packaging.yml
  .github/workflows/python-tests.yml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/build.rs
Due: none

Don't build freethreaded on Windows, it's too complicated to build custom-version headers
  .github/workflows/packaging.yml
Due: none

Update lockfiles
  pylock.toml
Due: none

Update lockfile
  pylock.toml
Due: none

docs: Update PyPI project URLs for verification
  .github/workflows/build-and-publish.yml
  pyproject.toml
Due: none

docs: Fix missing transition labels in Protocols documentation (#807)
  docs/Protocols.md
Due: none

docs: Document max_repetitions configuration option (#797)
  docs/Configuration.md
  docs/_toc.yml
Due: none

docs: Add section on mutating inputs to tutorial (#592)
  docs/Fuzzing.md
Due: none

feat: Add support for setting options in .fan files (#605)
  docs/Configuration.md
  src/fandango/api.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/parse/parse.py
  src/fandango/language/parse/parse_spec.py
  src/fandango/language/parse/spec.py
  tests/test_config.py
Due: black, mypy, mypy-strict

fix: Detect unresolvable recursions during grammar priming (#926)
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

feat: Return all parse trees for ambiguous grammars (#691)
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/grammar/parser/parse_state.py
Due: black, mypy-strict

Added parallel syntax to antlr parser
  language/FandangoLexer.g4
  language/FandangoParser.g4
  src/fandango/language/cpp_parser/FandangoLexer.cpp
  src/fandango/language/cpp_parser/FandangoLexer.h
  src/fandango/language/cpp_parser/FandangoLexer.interp
  src/fandango/language/cpp_parser/FandangoLexer.tokens
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/cpp_parser/FandangoParser.tokens
  src/fandango/language/cpp_parser/FandangoParserBaseVisitor.h
  src/fandango/language/cpp_parser/FandangoParserVisitor.h
  src/fandango/language/cpp_parser/sa_fandango_translator.cpp
  src/fandango/language/cpp_parser/sa_fandango_translator.h
  src/fandango/language/parse/convert.py
  src/fandango/language/parser/FandangoLexer.interp
  src/fandango/language/parser/FandangoLexer.py
  src/fandango/language/parser/FandangoLexer.tokens
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/parser/FandangoParser.tokens
  src/fandango/language/parser/FandangoParserVisitor.py
Due: black, mypy-strict

Added parallel node type
  src/fandango/language/grammar/node_visitors/node_visitor.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/parallel.py
  src/fandango/language/parse/convert.py
Due: black, mypy-strict

parallel protocol infrastructure for parsing, and state grammar
  src/fandango/io/navigation/graph/stategrammarconverter.py
  src/fandango/io/navigation/graph/visitor/continuing_nodevisitor.py
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
  src/fandango/language/grammar/nodes/parallel.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/parse/parse.py
Due: black, mypy-strict

parallel protocol infrastructure added arrival index
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/population.py
  src/fandango/io/coverage_filter.py
  src/fandango/io/navigation/graph/packetforecaster.py
  src/fandango/io/navigation/graph/packetiterativeparser.py
  src/fandango/io/navigation/selection/packet_guide.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/tree.py
Due: black, mypy-strict

parallel protocol infrastructure added arrival index
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/language/tree.py
Due: black, mypy-strict

Added parallel_io.fan for testing
  tests/resources/parallel_io.fan
Due: none

Updated wireguard grammar to the most up-to-date version
  evaluation/protocol_testing_eval/wireguard/wireguard.fan
  evaluation/protocol_testing_eval/wireguard/wireguard_functions.py
Due: black, mypy

Fix typo
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/wireguard.fan
Due: none

Made NodeType Parallel a subclass of Concatenation
  src/fandango/language/grammar/nodes/parallel.py
Due: black, mypy-strict

Made NodeType Parallel a subclass of Concatenation
  src/fandango/language/grammar/node_visitors/node_visitor.py
  src/fandango/language/grammar/nodes/parallel.py
  src/fandango/language/parser/sa_fandango.py
  tests/resources/parallel_io.fan
  tests/test_forecaster.py
Due: black, mypy, mypy-strict

Added test for forecaster's parallel branch handling
  src/fandango/language/grammar/node_visitors/node_visitor.py
  tests/resources/parallel_io.fan
  tests/test_forecaster.py
Due: black, mypy, mypy-strict

Update pylock.toml
  pylock.toml
Due: none

cleanup
  evaluation/protocol_testing_eval/_stage_fandango.sh
  evaluation/protocol_testing_eval/bind9/Dockerfile-fandango
  evaluation/protocol_testing_eval/bind9/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/experiments/merge_coverage.py
  evaluation/protocol_testing_eval/experiments/scoped_coverage.py
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/ftp.py
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/smtp_test_client.py
  evaluation/protocol_testing_eval/run_coverage.sh
  evaluation/protocol_testing_eval/run_experiments.sh
  evaluation/protocol_testing_eval/wireguard/Dockerfile-fandango
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/run_fandango.sh
Due: black, mypy

cleanup
  evaluation/protocol_testing_eval/stage_fandango.sh
Due: none

cleanup
  evaluation/protocol_testing_eval/run_experiments.sh
Due: none

added testcase for parallel parser
  tests/test_parsing.py
Due: black, mypy

complicate parallel_io test grammar
  tests/resources/parallel_io.fan
  tests/test_forecaster.py
  tests/test_parsing.py
Due: black, mypy

added incomplete flag to parse_state repr
  src/fandango/language/grammar/parser/parse_state.py
Due: black, mypy-strict

added incomplete parsing for the parallel node
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

hardened tests for parallel node
  tests/resources/parallel_io.fan
  tests/test_forecaster.py
  tests/test_parsing.py
Due: black, mypy

More cross-refs; more rules
  docs/Binary.md
  docs/Style.md
  docs/_toc.yml
Due: none

More imperative section titles
  docs/Style.md
Due: none

Minor fixes
  docs/Style.md
Due: none

More minor fixes
  docs/Style.md
Due: none
