Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        files: ^(src|tests|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
        entry: mypy
        language: system

Add more dependency for mypy to run right
  .github/workflows/code-checks.yml
Due: none

Run mypy on eeeeverythign
  .github/workflows/code-checks.yml
  docs/Tree.py
  setup.py
Due: none

Add more dependencies
  pyproject.toml
Due: none

Remove now unnecessary dependencies
  .github/workflows/code-checks.yml
  pyproject.toml
Due: none

Refactor api internal code
  src/fandango/api.py
Due: black, mypy

Introduce constraint.invert()
  src/fandango/constraints/comparison.py
  src/fandango/constraints/conjunction.py
  src/fandango/constraints/constraint.py
  src/fandango/constraints/disjunct.py
  src/fandango/constraints/exists.py
  src/fandango/constraints/expression.py
  src/fandango/constraints/failing_tree.py
  src/fandango/constraints/forall.py
  src/fandango/constraints/implication.py
  src/fandango/constraints/repetition_bounds.py
  tests/test_constraints.py
Due: black, mypy

Fix minor bug in main algorithm init
  src/fandango/evolution/algorithm.py
Due: black, mypy

Refactor cli module into more files
  src/fandango/cli/__init__.py
  src/fandango/cli/utils.py
Due: black, mypy

Introduce inverted constraints to API and CLI
  src/fandango/api.py
  src/fandango/cli/commands.py
  src/fandango/cli/parser.py
  tests/resources/even_numbers.txt
  tests/test_api.py
  tests/test_cli.py
Due: black, mypy

Further limit internal API visibility
  src/fandango/evolution/algorithm.py
  tests/test_optimizer.py
Due: black, mypy

Remove dead code
  tests/test_api.py
Due: black, mypy

Fix evaluation paths
  evaluation/csv/csv_evaluation.py
  evaluation/rest/rest_evaluation.py
  evaluation/scriptsizec/scriptsizec_evaluation.py
  evaluation/tar/tar_evaluation.py
  evaluation/xml/xml_evaluation.py
Due: black

fix: add explanation for tccbox upgrade
  pyproject.toml
Due: none

fixed coverage methods
  evaluation/experiments/smtp/smtp.fan
  src/fandango/evolution/algorithm.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/nodes/concatenation.py
  src/fandango/language/grammar/nodes/repetition.py
Due: black, mypy

Add cProfile script
  scripts/cprofile_profile.py
Due: black, mypy

Upgrade CI dependency
  .github/workflows/build-and-publish.yml
Due: none

Added cache for k-path of grammar
  src/fandango/language/grammar/grammar.py
Due: black, mypy

Added cache for k-path of tree
  src/fandango/language/grammar/grammar.py
Due: black, mypy

Added cache for k-path of tree
  src/fandango/io/io_utils.py
Due: black, mypy

Added controlflow_path to mountingpath
  src/fandango/io/navigation/packetforecaster.py
Due: black, mypy

Better guide to end method
  src/fandango/io/io_utils.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy

Better guide to end method
  src/fandango/evolution/population.py
  src/fandango/io/io_utils.py
  src/fandango/io/navigation/packetforecaster.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/nodes/alternative.py
  src/fandango/language/grammar/nodes/char_set.py
  src/fandango/language/grammar/nodes/concatenation.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
Due: black, mypy

Fix converting graph
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
Due: black, mypy

Better guide to end navigation
  src/fandango/io/io_utils.py
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
Due: black, mypy

Better guide to end navigation
  src/fandango/io/navigation/grammarnavigator.py
Due: black, mypy
