Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

s/leonbett/fandango-fuzzer
  Makefile
Due: none

remove broken uv dependency on linux
  Makefile
Due: none

More PATH fun
  tests/test_execution_feedback.py
Due: black, mypy

remove no-longer-necessary PATH fixing
  .github/workflows/python-tests.yml
Due: none

Exit installation if LLVM version < 18
  Makefile
Due: none

remove dependency on mermaid-cli
  Makefile
Due: none

Fix paths
  Makefile
  pyproject.toml
  src/fandango/constraints/soft.py
  src/fandango/evolution/algorithm/simple.py
  src/fandango/evolution/evaluation.py
  src/fandango/execution/dynamic_analysis.py
  tests/test_execution_feedback.py
  uv.lock
Due: black, mypy, mypy-strict

Make "make fcc" part of "make test_tools"
  .github/workflows/python-tests.yml
  Makefile
Due: none

Fix access to args
  src/fandango/cli/output.py
Due: black, mypy-strict

Improve error handling for docs
  Makefile
Due: none

Fix black
  src/fandango/api.py
Due: black, mypy-strict

Split Makefile into fcc and fcc-local targets
  Makefile
Due: none

Check for use_fcc value to be present before accessing it
  src/fandango/cli/output.py
Due: black, mypy-strict

Exclude fcc from mypy
  pyproject.toml
Due: none

minor change to trigger CI
  src/fandango/api.py
Due: black, mypy-strict

Install telnet on macos
  Makefile
Due: none

Only sudo on ubuntu
  .github/workflows/build-docs.yml
Due: none

Only run install with sudo on ubuntu in docs CI; disable fail-fast
  .github/workflows/build-docs.yml
Due: none

Speed up docs
  docs/Constraints.md
Due: none

Only run grep on the outputs of the docs if there even are error files
  Makefile
Due: none

Use getattr
  Makefile
  src/fandango/cli/output.py
Due: black, mypy-strict

Also build docs on macos
  .github/workflows/build-docs.yml
Due: none
