Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Refactor archive.py to improve clarity of scoring and goal coverage logic
  src/fandango/evolution/algorithms/archive.py
  src/fandango/evolution/algorithms/mio.py
Due: black, mypy-strict

Change archive.py and mio.py to update soft constraints and k-path goals independent of hard constraint satisfaction while ensuring output still satisfies hard constraints
  src/fandango/evolution/algorithms/archive.py
  src/fandango/evolution/algorithms/mio.py
  tests/test_archive.py
  tests/test_mio_algorithm.py
Due: black, mypy, mypy-strict

WIP: kpath algorithm and clean diversity metrics
  Makefile
  src/fandango/cli/parser.py
  src/fandango/cli/utils.py
  src/fandango/evolution/adaptation.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/evolution/mutation.py
  src/fandango/evolution/population.py
  src/fandango/io/navigation/reachability_checker.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/kpath_generator.py
  tcp.fan
  tests/test_cli.py
  tests/test_grammar.py
  tests/test_grammar_coverage.py
  tests/test_optimizer.py
  tests/utils.py
Due: black, mypy, mypy-strict

fix: tar eval
  evaluation/tar/tar_evaluation.py
  src/fandango/evolution/population.py
  src/fandango/language/tree.py
Due: black, mypy, mypy-strict

mypy and black
  evaluation/tar/tar_evaluation.py
  pyproject.toml
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/evolution/population.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/kpath_generator.py
  tests/test_cli.py
  tests/test_optimizer.py
  tests/utils.py
Due: black, mypy, mypy-strict

Add stop options
  src/fandango/cli/parser.py
  src/fandango/cli/utils.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

Move on stop_criterion to CLI
  src/fandango/cli/parser.py
  src/fandango/cli/utils.py
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

Don't use private functions
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

Reset starting time at generation start
  src/fandango/cli/parser.py
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

Add stop options
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

s/leonbett/fandango-fuzzer
  Makefile
Due: none

Exit installation if LLVM version < 18
  Makefile
Due: none

Fix paths
  Makefile
  pyproject.toml
  src/fandango/constraints/soft.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/execution/dynamic_analysis.py
  tests/test_execution_feedback.py
  uv.lock
Due: black, mypy, mypy-strict

remove dependency on mermaid-cli
  Makefile
Due: none

remove broken uv dependency on linux
  Makefile
Due: none

More PATH fun
  tests/test_execution_feedback.py
Due: black, mypy

remove no-longer-necessary PATH fixing
  .github/workflows/python-tests.yml
Due: none

Make "make fcc" part of "make test_tools"
  .github/workflows/python-tests.yml
  Makefile
Due: none

Exclude fcc from mypy
  pyproject.toml
Due: none

minor change to trigger CI
  src/fandango/api.py
Due: black, mypy-strict

Fix black
  src/fandango/api.py
Due: black, mypy-strict

Improve error handling for docs
  Makefile
Due: none

Split Makefile into fcc and fcc-local targets
  Makefile
Due: none

Check for use_fcc value to be present before accessing it
  src/fandango/cli/output.py
Due: black, mypy-strict

Fix access to args
  src/fandango/cli/output.py
Due: black, mypy-strict

Use getattr
  Makefile
  src/fandango/cli/output.py
Due: black, mypy-strict

Speed up docs
  docs/Constraints.md
Due: none

Only run grep on the outputs of the docs if there even are error files
  Makefile
Due: none

Also build docs on macos
  .github/workflows/build-docs.yml
Due: none

Only run install with sudo on ubuntu in docs CI; disable fail-fast
  .github/workflows/build-docs.yml
Due: none

Only sudo on ubuntu
  .github/workflows/build-docs.yml
Due: none

Install telnet on macos
  Makefile
Due: none

Cast a wider net for error detection in book
  Makefile
Due: none

Prevent runaway processes
  docs/Protocols.md
  docs/minitelnet.py
Due: none

Improve access
  src/fandango/cli/utils.py
Due: black, mypy-strict
