Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

fix: wrong set of dependencies
  pyproject.toml
  uv.lock
Due: none

feat: add infinite timeout option for fuzzing campaigns
  src/fandango/api.py
  src/fandango/cli/commands.py
  src/fandango/cli/parser.py
  tests/resources/infinite_timeout.fan
  tests/test_cli.py
Due: black, mypy, mypy-strict

fix: simplify epilog formatting in main parser
  src/fandango/cli/parser.py
Due: black, mypy-strict

fix: add return type annotation to timeout handler
  src/fandango/api.py
Due: black, mypy-strict

fix: add type annotation to timeout handler parameters
  src/fandango/api.py
Due: black, mypy-strict

benchmark
  evaluation/experiments/__init__.py
  evaluation/experiments/chatgpt/chatgpt.fan
  evaluation/experiments/chatgpt/gpt_novel.py
  evaluation/experiments/dns/dns.fan
  evaluation/experiments/dns/dns.py
  evaluation/experiments/dns/docker/wo_coverage/data/cache/cispa.de
  evaluation/experiments/dns/docker/wo_coverage/data/config/named.conf
  evaluation/experiments/ftp/ftp.fan
  evaluation/experiments/ftp/ftp.py
  evaluation/experiments/ftp/ftp_client.fan
  evaluation/experiments/ftp/vsftpd/data/ftp_root/test.txt
  evaluation/experiments/multi_run_merger.py
  evaluation/experiments/run_multiple.py
  evaluation/experiments/smtp/smtp.fan
  evaluation/experiments/smtp/smtp.py
  evaluation/experiments/smtp/utils.py
  evaluation/experiments/utils.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy, mypy-strict

setup experiment
  evaluation/experiments/chatgpt/chatgpt.fan
  evaluation/experiments/dns/docker/data/cache/cispa.de
  evaluation/experiments/dns/docker/data/config/named.conf
  evaluation/experiments/dns/docker/docker-compose.yml
  evaluation/experiments/ftp/docker/data/ftp_root/test.txt
  evaluation/experiments/ftp/docker/docker-compose.yml
  evaluation/experiments/ftp/ftp.fan
  evaluation/experiments/ftp/ftp_client.fan
  evaluation/experiments/run_guidance_eval.py
  evaluation/experiments/run_multiple.py
  evaluation/experiments/smtp/docker/docker-compose.yml
  evaluation/experiments/smtp/docker/opensmtpd/Dockerfile
  evaluation/experiments/smtp/docker/opensmtpd/coverage_snapshots_loop.sh
  evaluation/experiments/smtp/docker/opensmtpd/credentials
  evaluation/experiments/smtp/docker/opensmtpd/smtpd.conf
  evaluation/experiments/smtp/docker/opensmtpd/stunnel.conf
  evaluation/experiments/utils.py
  src/fandango/evolution/algorithm.py
  src/fandango/io/__init__.py
Due: black, mypy, mypy-strict

setup experiment
  evaluation/experiments/utils.py
Due: black, mypy

setup experiment
  evaluation/experiments/utils.py
  src/fandango/io/__init__.py
Due: black, mypy, mypy-strict

setup experiment
  evaluation/experiments/run_guidance_eval.py
  evaluation/experiments/run_throughput_test.py
  src/fandango/evolution/algorithm.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy, mypy-strict

setup experiment
  evaluation/experiments/dns/docker/data/config/named.conf
Due: none

Added ipv6 to dns answer opt
  evaluation/experiments/dns/dns.fan
Due: none

Added ipv6 to dns answer opț
  evaluation/experiments/dns/dns.fan
Due: none

disable dnssec validation in named.conf
  evaluation/experiments/dns/docker/data/config/named.conf
Due: none

added radius config
  evaluation/experiments/radius/docker/data/raddb/clients.conf
  evaluation/experiments/radius/docker/data/raddb/sites-enabled/default
  evaluation/experiments/radius/docker/data/raddb/users
  evaluation/experiments/radius/docker/docker-compose.yml
  evaluation/experiments/radius/radius.fan
Due: none

removed comments
  evaluation/experiments/radius/docker/data/raddb/sites-enabled/default
Due: none

initial radius spec
  evaluation/experiments/radius/radius.py
  evaluation/experiments/radius/radius_spec.fan
Due: black, mypy

Added simple PNG Fandango spec
  docs/1x1.png
  docs/png.fan
Due: none

black
  docs/iso8601.py
  evaluation/vs_isla/tar_evaluation/tar_evaluation.py
  src/fandango/cli/__init__.py
  src/fandango/constraints/predicates.py
  src/fandango/language/parse.py
  tests/test_fan_parsers.py
  tests/test_language.py
Due: black, mypy, mypy-strict

initial radius spec
  evaluation/experiments/radius/radius_spec.fan
Due: none

Cleanup patch files when done
  docs/patch-html.sh
Due: none

Start HTML preview in VS Code
  .vscode/settings.json
Due: none

Added PNG docs
  docs/10x10.png
  docs/Gif.md
  docs/Png.md
  docs/_toc.yml
  docs/png.fan
Due: none

Explian ChatGPT genesis
  docs/Png.md
  docs/png-chatgpt.fan
Due: none

A good prompt fixes everything
  docs/32x32.png
  docs/Png.md
  docs/png.fan
  docs/prompt.txt
Due: none

Added GIF files
  docs/1x1.gif
  docs/Gif.md
  docs/Png.md
  docs/gif.fan
Due: none

New: have PNG and GIF specs from ChatGPT
  docs/10x10.png
  docs/1x1.gif
  docs/1x1.png
  docs/32x32.png
  docs/Gif.md
  docs/Png.md
  docs/_toc.yml
  docs/gif.fan
  docs/png.fan
  docs/prompt.txt
  tcp.fan
Due: none

New: clean up after patching
  docs/patch-html.sh
Due: none

Doc update
  docs/ReleaseNotes.md
Due: none

Make sure `make clean-docs` also clears the jupyter cache
  Makefile
Due: none

New: much more detailed prompt, improving `.fan` files considerably
  docs/prompt.txt
Due: none

Update with more detailed prompt
  docs/32x32.png
  docs/Png.md
  docs/png.fan
Due: none

Minor refinements for readability
  docs/prompt.txt
Due: none

Updated PNG docs
  docs/Png.md
Due: none

Doc update
  docs/Png.md
Due: none

Updated GIF with new, extended prompt
  docs/32x32.gif
  docs/Gif.md
  docs/gif.fan
Due: none

allow None arg in receive method
  src/fandango/evolution/algorithm.py
  src/fandango/io/__init__.py
Due: black, mypy-strict

allow None arg in receive method
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

More .fan files (not working yet)
  docs/mp3.fan
  docs/wav.fan
Due: none
