Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

New: Let Fandango actually run
  docs/Protocols.md
Due: none

New: have our own simulated telnet
  docs/Protocols.md
  docs/minitelnet.py
Due: none

Typo fix: Forcast -> Forecast
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/population.py
  src/fandango/io/packetforecaster.py
  src/fandango/io/packetparser.py
Due: black, mypy-strict

Fix a bunch of other typos
  docs/Contributing.md
  docs/DerivationTree.md
  docs/gif.bt
  docs/gif.fan
  docs/tinytrans.fan
  src/fandango/cli/parser.py
  src/fandango/constraints/comparison.py
  src/fandango/converters/antlr/LexerAdaptor.py
  src/fandango/converters/bt/gif.bt
  src/fandango/evolution/algorithm.py
  src/fandango/io/packetforecaster.py
  src/fandango/language/grammar/parser/iterative_parser.py
  src/fandango/language/parser/sa_fandango.py
  tests/utils.py
Due: black, mypy, mypy-strict

Doc fix
  docs/Protocols.md
Due: none

Proper uv tip
  docs/Contributing.md
Due: none

add populate_sources to parse api
  src/fandango/api.py
  src/fandango/cli/utils.py
Due: black, mypy-strict

Doc fix
  docs/Paths.md
Due: none

Added -n 1 to invocations
  docs/Protocols.md
Due: none

Fix bug where suggestions were created for slices but then broke during application
  src/fandango/constraints/comparison.py
Due: black, mypy-strict

Add tests
  tests/test_evaluate_individual.py
Due: black, mypy

New chapters (yet empty) for describing diversity and party settings
  docs/Parties.md
  docs/_toc.yml
Due: none

Lots of party documentation; some renames
  evaluation/experiments/dns/dns.fan
  evaluation/experiments/ftp/ftp.fan
  evaluation/experiments/smtp/smtp.fan
  src/fandango/cli/utils.py
  src/fandango/io/__init__.py
Due: black, mypy-strict

Fix comparison to handle TreeValue others
  src/fandango/language/tree_value.py
Due: black, mypy-strict

Optimize unit test
  tests/test_optimizer.py
Due: black, mypy

black
  tests/test_evaluate_individual.py
Due: black, mypy

Add default HTML preview path
  .vscode/settings.json
Due: none

Compatibility: Have Intro.html redirect to .
  docs/Intro.md
Due: none

New: Renamed on_send() to send() (since it actually sends things)
  evaluation/experiments/chatgpt/report.fan
  evaluation/experiments/dns/dns.fan
  evaluation/experiments/dune/dune.fan
  evaluation/experiments/ftp/ftp.fan
  src/fandango/io/__init__.py
  tests/resources/minimal_io.fan
Due: black, mypy-strict

New: FandangoParty doc
  docs/FandangoParty.md
  docs/_toc.yml
Due: none

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
