Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

removed guidance toggler
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

fixed batch of mypy errors
  src/fandango/io/navigation/grammarreducer.py
  src/fandango/io/navigation/visitor/continuing_nodevisitor.py
  src/fandango/language/convert.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/node_visitors/disambiguator.py
  src/fandango/language/grammar/node_visitors/node_visitor.py
  src/fandango/language/grammar/nodes/char_set.py
  src/fandango/language/grammar/nodes/node.py
Due: black, mypy-strict

fixed batch of mypy errors
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/packetforecaster.py
  src/fandango/io/navigation/reachability_checker.py
Due: black, mypy-strict

mypy errors
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/packetnavigator.py
Due: black, mypy-strict

mypy errors
  src/fandango/io/navigation/packetnavigator.py
Due: black, mypy-strict

mypy errors
  src/fandango/io/navigation/grammarnavigator.py
Due: black, mypy-strict

fix: implement __str__ method for Symbol subclasses
  src/fandango/language/symbols/non_terminal.py
  src/fandango/language/symbols/terminal.py
Due: black, mypy-strict

Don't use inplicit string conversion in error messages
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/node_visitors/message_nesting_detector.py
Due: black, mypy-strict

warn instead of throw on __str__ and __repr__ on Symbol
  src/fandango/language/symbols/symbol.py
Due: black, mypy-strict

Remove unnecessary assert
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

Add note to report bug on __str__ and __repr__ warnings
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/search.py
  src/fandango/language/symbols/symbol.py
Due: black, mypy-strict

fix: increase MAX_REPETITIONS and adjust test thresholds
  src/fandango/language/grammar/nodes/__init__.py
  tests/test_softconstraint.py
Due: black, mypy, mypy-strict

fix: update expected values in CLI tests for beartype compatibility
  tests/test_cli.py
Due: black, mypy

fix: simplify expected values structure in CLI tests for beartype compatibility
  tests/test_cli.py
Due: black, mypy

fix: update convergence threshold in CLI tests for improved accuracy
  tests/test_cli.py
Due: black, mypy

fix: add TODO comment to verify max repetition parameters functionality
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

fix: add TODO comments for performance checks and method adjustments in algorithm.py
  pyproject.toml
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

Remove population wide constraints
  language/FandangoParser.g4
  src/fandango/constraints/base.py
  src/fandango/constraints/comparison.py
  src/fandango/constraints/conjunction.py
  src/fandango/constraints/constraint.py
  src/fandango/constraints/disjunct.py
  src/fandango/constraints/exists.py
  src/fandango/constraints/expression.py
  src/fandango/constraints/failing_tree.py
  src/fandango/constraints/forall.py
  src/fandango/constraints/implication.py
  src/fandango/constraints/repetition_bounds.py
  src/fandango/constraints/soft.py
  src/fandango/language/convert.py
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
  src/fandango/language/search.py
  tests/test_searches.py
  tests/test_star.py
Due: black, mypy, mypy-strict

Remove more population-dependence
  src/fandango/constraints/base.py
Due: black, mypy-strict

fix: cleanup of `PopulationManager` and now it handles selection (population-wide task)
  src/fandango/evolution/population.py
Due: black, mypy-strict

fix: remove profiler
  src/fandango/evolution/profiler.py
Due: black, mypy-strict

fix: remove adaptator
  src/fandango/evolution/adaptation.py
Due: black, mypy-strict

feat: introduce `HyperparameterManager` (new iteration of `AdaptiveTuner`). No functionality at the moment.
  src/fandango/evolution/hyperparameter.py
Due: black, mypy-strict

fix: adapt current test_suite to new properties
  tests/test_msg_exchange.py
  tests/test_optimizer.py
Due: black, mypy

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
