Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

fixing tests
  src/fandango/api.py
  src/fandango/evolution/algorithm/simple.py
  tests/resources/permutation_io.fan
  tests/test_grammar_graph.py
Due: black, mypy, mypy-strict

fix reachability checker, added one more unit test
  src/fandango/io/navigation/reachability_checker.py
  tests/test_grammar_graph.py
Due: black, mypy, mypy-strict

update eval targets to new algorithm classes
  evaluation/protocol_testing_eval/chatgpt/gpt_novel.py
  evaluation/protocol_testing_eval/dns/dns.py
  evaluation/protocol_testing_eval/dune/dune.py
  evaluation/protocol_testing_eval/ftp/ftp.py
  evaluation/protocol_testing_eval/smtp/smtp.py
  evaluation/protocol_testing_eval/wireguard/wireguard.py
Due: black, mypy

merge feature/timers into io_replication
  evaluation/protocol_testing_eval/Readme.md
Due: none

fix mypy errors
  evaluation/protocol_testing_eval/chatgpt/gpt_novel.py
  evaluation/protocol_testing_eval/dns/dns.py
  evaluation/protocol_testing_eval/dune/dune.py
  evaluation/protocol_testing_eval/ftp/ftp.py
  evaluation/protocol_testing_eval/smtp/smtp.py
  evaluation/protocol_testing_eval/wireguard/wireguard.py
  evaluation/protocol_testing_eval/wireguard/wireguard_functions.py
  src/fandango/api.py
  src/fandango/evolution/algorithm/simple.py
  tests/test_ambiguous_packet_parsing.py
  tests/test_grammar_graph.py
  tests/test_permutation_selector.py
Due: black, mypy, mypy-strict

run ruff fixes
  evaluation/protocol_testing_eval/wireguard/wireguard_functions.py
  src/fandango/evolution/algorithm/__init__.py
  src/fandango/evolution/algorithm/algorithm_selector.py
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/evaluation.py
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/io/navigation/reachability_checker.py
  tests/test_grammar.py
  tests/test_grammar_coverage.py
  tests/test_grammar_graph.py
Due: black, mypy, mypy-strict

mypy fixes
  pyproject.toml
Due: none

update uv
  uv.lock
Due: none

another mypy ruff uv fix commit
  evaluation/protocol_testing_eval/wireguard/wireguard.py
  pylock.toml
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy, mypy-strict

another mypy ruff uv fix commit
  evaluation/protocol_testing_eval/wireguard/wireguard_functions.py
Due: black, mypy

cleanup wireguard functions
  evaluation/protocol_testing_eval/wireguard/wireguard_functions.py
Due: black, mypy

pinned docker image versions
  evaluation/protocol_testing_eval/dns/docker/docker-compose.yml
  evaluation/protocol_testing_eval/wireguard/docker/docker-compose.yml
Due: none

ruff
  evaluation/protocol_testing_eval/wireguard/wireguard_functions.py
Due: black, mypy

Update lockfile
  pylock.toml
Due: none

readme
  evaluation/protocol_testing_eval/Readme.md
Due: none

Add bind9 (dns) instrumented target
  evaluation/protocol_testing_eval/profuzzbench/bind9/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/bind9/cache/0.0.127.in-addr.arpa
  evaluation/protocol_testing_eval/profuzzbench/bind9/cache/cispa.de
  evaluation/protocol_testing_eval/profuzzbench/bind9/config/named.conf
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/bind9/gcov-shutdown.c
Due: none

Add bind9 (dns) instrumented target.
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/dns.py
Due: black, mypy

Add bind9 (dns) instrumented target.
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/dns.py
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/run_fandango.sh
Due: black, mypy

Add lightftp (ftp) instrumented target.
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fandango-scripts/run_fandango.sh
Due: none

Add opensmtpd (smtp) instrumented target.
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/credentials
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/smtp.py
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/gcov-flush-snippet.c
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/smtpd.conf
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/stunnel.conf
Due: black, mypy

Add boringtun (wireguard) instrumented target.
  evaluation/protocol_testing_eval/profuzzbench/wireguard/Dockerfile-fandango
  evaluation/protocol_testing_eval/profuzzbench/wireguard/config/wg0.conf
  evaluation/protocol_testing_eval/profuzzbench/wireguard/docker-args
  evaluation/protocol_testing_eval/profuzzbench/wireguard/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/wireguard/fandango-scripts/wireguard.py
Due: black, mypy

Added overall coverage run script
  evaluation/protocol_testing_eval/profuzzbench/run_coverage.sh
Due: none

Added overall coverage run script
  evaluation/protocol_testing_eval/profuzzbench/bind9/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/wireguard/fandango-scripts/run_fandango.sh
Due: none

Added new smtp grammar
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/smtp.fan
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/smtp.py
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/smtp_client.fan
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/smtp_server.fan
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/smtp_test_client.py
  src/fandango/io/__init__.py
Due: black, mypy, mypy-strict

Added new smtp grammar
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/run_fandango.sh
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/smtp.fan
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/smtp.py
Due: black, mypy

Added new smtp grammar
  evaluation/protocol_testing_eval/profuzzbench/opensmtpd/fandango-scripts/smtp.fan
Due: none

Added new ftp grammar
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fandango-scripts/ftp.fan
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fandango-scripts/ftp_client.fan
  evaluation/protocol_testing_eval/profuzzbench/lightftp/fandango-scripts/ftp_server.fan
Due: none

Fixed a bug in reachability_checker.py
  src/fandango/io/navigation/reachability_checker.py
Due: black, mypy-strict
