Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Cast a wider net for error detection in book
  Makefile
Due: none

exclude dist and build from mypy
  pyproject.toml
Due: none

Only emit one warning per experimental module
  src/fandango/experimental/__init__.py
  tests/test_execution_feedback.py
  tests/test_meta.py
Due: black, mypy, mypy-strict

Introduce --enable-experimental-module
  src/fandango/cli/__init__.py
  src/fandango/cli/parser.py
  src/fandango/evolution/evaluation.py
  src/fandango/experimental/__init__.py
Due: black, mypy-strict

Introduce an experimental module and move FCC to it
  docs/PythonAPI.md
  src/fandango/evolution/evaluation.py
  src/fandango/experimental/__init__.py
  src/fandango/experimental/execution/__init__.py
  src/fandango/experimental/execution/dynamic_analysis.py
  src/fandango/experimental/execution/fcc.py
  src/fandango/experimental/execution/static_analysis.py
  src/fandango/experimental/execution/trace_types.py
  tests/test_execution_feedback.py
  tests/test_meta.py
Due: black, mypy, mypy-strict

Add custom warning type for improved ignorability
  docs/PythonAPI.md
  src/fandango/__init__.py
  src/fandango/experimental/__init__.py
  tests/test_execution_feedback.py
  tests/test_meta.py
Due: black, mypy, mypy-strict

Make tests more stable
  tests/test_meta.py
Due: black, mypy

type annontation
  src/fandango/cli/shell.py
Due: black, mypy-strict

uvlock
  pylock.toml
Due: none

Fail book build on warnings; fix -n for fandango talk in docs
  docs/Protocols.md
  docs/_config.yml
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

increate wait time for aiosmtpd
  docs/Protocols.md
Due: none

Introduce abstract GeneticAlgorithm class
  evaluation/csv/csv_evaluation.py
  evaluation/protocol_testing_eval/chatgpt/gpt_novel.py
  evaluation/protocol_testing_eval/dns/dns.py
  evaluation/protocol_testing_eval/dune/dune.py
  evaluation/protocol_testing_eval/ftp/ftp.py
  evaluation/protocol_testing_eval/smtp/smtp.py
  evaluation/rest/rest_evaluation.py
  evaluation/scriptsizec/scriptsizec_evaluation.py
  evaluation/tar/tar_evaluation.py
  evaluation/xml/xml_evaluation.py
  src/fandango/api.py
  src/fandango/cli/shell.py
  src/fandango/evolution/algorithm/__init__.py
  src/fandango/evolution/algorithm/base.py
  src/fandango/evolution/algorithm/simple.py
  tests/test_evaluate_individual.py
  tests/test_grammar.py
  tests/test_grammar_coverage.py
  tests/test_optimizer.py
  tests/test_softconstraint.py
Due: black, mypy, mypy-strict

added verbose flag
  docs/Protocols.md
Due: none

localhost -> 127.0.0.1 in documentation
  docs/Protocols.md
  docs/minitelnet.py
Due: none

Revert "localhost -> 127.0.0.1 in documentation"
  docs/Protocols.md
  docs/minitelnet.py
Due: none

test without telnet command
  docs/Protocols.md
Due: none

Revert "test without telnet command"
  docs/Protocols.md
Due: none

increase wait time
  docs/Protocols.md
Due: none

Add stop options
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

s/leonbett/fandango-fuzzer
  Makefile
Due: none
