Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

Close fandango spec file after reading
  src/fandango/language/parse.py
Due: black, mypy-strict

Add types-setuptools to development dependencies
  pyproject.toml
Due: none

Downgrade types-setuptools to match setuptools
  pyproject.toml
Due: none

fix for chaining #721
  src/fandango/constraints/comparison.py
  src/fandango/language/convert.py
  tests/resources/chaining.fan
  tests/test_constraints.py
  tests/test_language.py
Due: black, mypy, mypy-strict

micro fix for repr
  src/fandango/constraints/comparison.py
Due: black, mypy-strict

cleanup
  tests/resources/chaining.fan
Due: none

blacked
  src/fandango/constraints/comparison.py
  src/fandango/language/convert.py
  tests/test_constraints.py
Due: black, mypy, mypy-strict

efficency
  src/fandango/constraints/comparison.py
  tests/test_constraints.py
Due: black, mypy, mypy-strict

more cleanup
  src/fandango/constraints/comparison.py
Due: black, mypy-strict

mypy fixes
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

mypy fixes
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
Due: black, mypy-strict

mypy fixes
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/tree.py
  src/fandango/logger.py
Due: black, mypy-strict

mypy fixes
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

mypy fixes
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
  src/fandango/language/grammar/node_visitors/graph_walker.py
Due: black, mypy-strict

mypy fixes
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

mypy fixes
  src/fandango/evolution/population.py
Due: black, mypy-strict

mypy fixes
  src/fandango/evolution/evaluation.py
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

mypy fixes
  src/fandango/io/navigation/grammarreducer.py
  src/fandango/io/navigation/packetnavigator.py
Due: black, mypy-strict

mypy fixes
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/io/navigation/reachability_checker.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

mypy fixes
  src/fandango/io/navigation/grammarreducer.py
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

mypy fixes
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

black
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/io/__init__.py
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/packetforecaster.py
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/io/navigation/pathutils.py
  src/fandango/io/navigation/reachability_checker.py
  src/fandango/io/packetparser.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/node_visitors/disambiguator.py
  src/fandango/language/grammar/node_visitors/grammar_graph_converter.py
  src/fandango/language/grammar/node_visitors/message_nesting_detector.py
  src/fandango/language/grammar/nodes/node.py
  src/fandango/language/grammar/nodes/non_terminal.py
  src/fandango/language/grammar/nodes/repetition.py
Due: black, mypy-strict

Update __init__.py
  src/fandango/io/__init__.py
Due: black, mypy-strict

fix: use \n instead of \r\n in smtp-telnet.fan
  docs/smtp-telnet.fan
Due: none

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
