Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Clear constraint caches
  src/fandango/constraints/conjunction.py
  src/fandango/constraints/constraint.py
  src/fandango/constraints/disjunct.py
  src/fandango/constraints/exists.py
  src/fandango/constraints/forall.py
  src/fandango/constraints/implication.py
  src/fandango/constraints/soft.py
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

ftp.fan
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/ftp.fan
  src/fandango/language/tree.py
Due: black, mypy-strict

stop_on_full_coverage logic
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy-strict

tree size calculation and invalidation
  src/fandango/language/tree.py
Due: black, mypy-strict

Added coverage early abort and k-path cache in dict
  evaluation/protocol_testing_eval/bind9/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/run_coverage.sh
  evaluation/protocol_testing_eval/run_experiments.sh
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/wireguard.fan
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy, mypy-strict

scoped coverage
  evaluation/protocol_testing_eval/README.md
  evaluation/protocol_testing_eval/Readme.md
  evaluation/protocol_testing_eval/bind9/fandango-scripts/dns.fan
  evaluation/protocol_testing_eval/bind9/fandango-scripts/dns_server.fan
Due: none

scoped coverage
  evaluation/protocol_testing_eval/experiments/scoped_coverage.py
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/wireguard_functions.py
Due: black, mypy

better scripts
  evaluation/protocol_testing_eval/experiments/merge_coverage.py
  evaluation/protocol_testing_eval/experiments/merge_coverage.sh
  evaluation/protocol_testing_eval/run_coverage.sh
Due: black, mypy

merge script
  evaluation/protocol_testing_eval/experiments/merge_coverage.py
  evaluation/protocol_testing_eval/experiments/merge_coverage.sh
Due: black, mypy

merge script
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/wireguard_functions.py
Due: black, mypy

merge script
  evaluation/protocol_testing_eval/run_experiments.sh
Due: none

comment
  evaluation/protocol_testing_eval/experiments/scoped_coverage.py
Due: black, mypy

delete old spec
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/wireguard_functions.py
Due: black, mypy

wireguard constraints to spec
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/wireguard.fan
Due: none

merge coverage, allow key collisions
  evaluation/protocol_testing_eval/experiments/merge_coverage.py
Due: black, mypy

experiments readme
  evaluation/protocol_testing_eval/experiments/README.md
Due: none

evaluation readme
  evaluation/protocol_testing_eval/README.md
Due: none

Added info box to main readme
  README.md
Due: none

delete documentation link
  README.md
Due: none

removed feature unsupported by bind9
  evaluation/protocol_testing_eval/bind9/fandango-scripts/dns.fan
Due: none

rep bound fix
  src/fandango/constraints/repetition_bounds.py
Due: black, mypy-strict

allow redirects to external domains
  evaluation/protocol_testing_eval/bind9/fandango-scripts/dns.fan
Due: none

bugfix on violation detection
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/navigation/selection/packetselector.py
Due: black, mypy-strict

bugfix in mutator
  src/fandango/evolution/mutation.py
Due: black, mypy-strict

dont log overlap log
  evaluation/protocol_testing_eval/bind9/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/measure.py
  src/fandango/evolution/algorithm/protocol.py
Due: black, mypy, mypy-strict

grammar fix
  evaluation/protocol_testing_eval/bind9/fandango-scripts/dns.fan
Due: none

added dns measurements
  evaluation/protocol_testing_eval/experiments/bind9/coverage_guided/run_1/coverage_1.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_guided/run_10/coverage_10.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_guided/run_2/coverage_2.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_guided/run_3/coverage_3.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_guided/run_4/coverage_4.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_guided/run_5/coverage_5.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_guided/run_6/coverage_6.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_guided/run_7/coverage_7.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_guided/run_8/coverage_8.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_guided/run_9/coverage_9.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_guided_old/start_at_13
  evaluation/protocol_testing_eval/experiments/bind9/coverage_unguided/run_1/coverage_1.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_unguided/run_10/coverage_10.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_unguided/run_2/coverage_2.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_unguided/run_3/coverage_3.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_unguided/run_4/coverage_4.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_unguided/run_5/coverage_5.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_unguided/run_6/coverage_6.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_unguided/run_7/coverage_7.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_unguided/run_8/coverage_8.csv
  evaluation/protocol_testing_eval/experiments/bind9/coverage_unguided/run_9/coverage_9.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/msgs/dns_median_grammar_coverage_guided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/msgs/dns_median_grammar_coverage_unguided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/msgs/ftp_median_grammar_coverage_guided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/msgs/ftp_median_grammar_coverage_unguided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/msgs/smtp_median_grammar_coverage_guided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/msgs/smtp_median_grammar_coverage_unguided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/msgs/wireguard_median_grammar_coverage_guided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/msgs/wireguard_median_grammar_coverage_unguided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/overall/dns_median_grammar_coverage_guided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/overall/dns_median_grammar_coverage_unguided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/overall/ftp_median_grammar_coverage_guided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/overall/ftp_median_grammar_coverage_unguided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/overall/smtp_median_grammar_coverage_guided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/overall/smtp_median_grammar_coverage_unguided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/overall/wireguard_median_grammar_coverage_guided.csv
  evaluation/protocol_testing_eval/experiments/median_coverage/overall/wireguard_median_grammar_coverage_unguided.csv
Due: none

added throughput runs
  evaluation/protocol_testing_eval/experiments/bind9/throughput/run_1/coverage.txt
  evaluation/protocol_testing_eval/experiments/bind9/throughput/run_1/coverage_branches.csv
  evaluation/protocol_testing_eval/experiments/bind9/throughput/run_1/throughput_1.txt
  evaluation/protocol_testing_eval/experiments/lightftp/throughput/run_1/coverage.txt
  evaluation/protocol_testing_eval/experiments/lightftp/throughput/run_1/coverage_branches.csv
  evaluation/protocol_testing_eval/experiments/lightftp/throughput/run_1/throughput_1.txt
  evaluation/protocol_testing_eval/experiments/opensmtpd/throughput/run_1/coverage.txt
  evaluation/protocol_testing_eval/experiments/opensmtpd/throughput/run_1/coverage_branches.csv
  evaluation/protocol_testing_eval/experiments/opensmtpd/throughput/run_1/throughput_1.txt
  evaluation/protocol_testing_eval/experiments/wireguard/throughput/run_1/coverage.txt
  evaluation/protocol_testing_eval/experiments/wireguard/throughput/run_1/summary.csv
  evaluation/protocol_testing_eval/experiments/wireguard/throughput/run_1/throughput_1.txt
Due: none

dns comment
  evaluation/protocol_testing_eval/bind9/fandango-scripts/dns.fan
Due: none

Update lockfile
  pylock.toml
Due: none

Readme file
  evaluation/protocol_testing_eval/README.md
  evaluation/protocol_testing_eval/experiments/README.md
  evaluation/protocol_testing_eval/experiments/scoped_coverage.py
Due: black, mypy

Readme file
  evaluation/protocol_testing_eval/bind9/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/lightftp/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/opensmtpd/fandango-scripts/measure.py
  evaluation/protocol_testing_eval/wireguard/fandango-scripts/measure.py
Due: black, mypy

comment
  src/fandango/io/navigation/selection/coverage_tracker.py
Due: black, mypy-strict

Readme file
  README.md
  evaluation/protocol_testing_eval/README.md
  evaluation/protocol_testing_eval/experiments/README.md
Due: none

Ruff fixes
  src/fandango/evolution/algorithm/protocol.py
  src/fandango/io/__init__.py
  src/fandango/io/navigation/graph/packetforecaster.py
  src/fandango/io/navigation/graph/packetnavigator.py
  src/fandango/io/navigation/graph/reachability_checker.py
  src/fandango/io/navigation/selection/packet_guide.py
  src/fandango/io/navigation/selection/protocol_model.py
  src/fandango/io/packetparser.py
  tests/test_coverage_tracker.py
  tests/test_forecaster.py
  tests/test_grammar_coverage.py
  tests/test_grammar_graph.py
Due: black, mypy, mypy-strict

mypy
  src/fandango/evolution/algorithm/protocol.py
  tests/test_permutation_selector.py
Due: black, mypy, mypy-strict
