Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

Added protocols
  docs/index.md
Due: none

Added logo
  docs/FandangoIO.png
  docs/Protocols.md
Due: none

Black
  docs/iso8601.py
  src/fandango/cli/parser.py
  tests/test_language.py
Due: black, mypy, mypy-strict

fixed merging of globals on import
  evaluation/experiments/dune/dune.fan
  evaluation/experiments/ftp/ftp.fan
  evaluation/experiments/ftp/ftp_client.fan
  evaluation/experiments/ftp/ftp_server.fan
  evaluation/experiments/smtp/smtp.fan
  src/fandango/cli/utils.py
  src/fandango/io/__init__.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/parse.py
  tests/resources/minimal_io.fan
Due: black, mypy-strict

renamed ftp files
  evaluation/experiments/ftp/ftp.fan
  evaluation/experiments/ftp/ftp.py
Due: black, mypy

Ignore \r in outputs
  docs/FTP.md
Due: none

New: converting grammars to state diagrams now supports DOT format
  docs/Protocols.md
  docs/smtp-extended.fan
  src/fandango/cli/commands.py
  src/fandango/cli/parser.py
  src/fandango/converters/state/FandangoStateConverter.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

Nicer fonts and colors for dot
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

New: show output samples for dot and mermaid
  docs/Protocols.md
  docs/smtp-dot.svg
  docs/smtp-mermaid.svg
Due: none

Doc update
  docs/Protocols.md
  docs/smtp-mermaid.svg
Due: none

Got rid of a beta label
  docs/Outputs.md
Due: none

Minor fixes
  docs/Contributing.md
Due: none

refactored Ownership and EndpointType to ConnectionMode
  docs/FTP.md
  docs/FandangoParty.md
  docs/Parties.md
  evaluation/experiments/chatgpt/report.fan
  evaluation/experiments/dns/dns.fan
Due: none

run black
  src/fandango/cli/parser.py
  src/fandango/io/__init__.py
  tests/test_language.py
Due: black, mypy, mypy-strict

Fix: bad xref
  docs/Parties.md
Due: none

Omit `-o -` as a workaround for #778
  docs/Binary.md
Due: none

Omitted `--validate` as a workaround for #777
  docs/Binary.md
Due: none

Doc fix
  docs/Binary.md
Due: none

Added smtp grammar coverage test
  evaluation/experiments/smtp/smtp.fan
  tests/test_grammar_coverage.py
  tests/utils.py
Due: black, mypy

Added smtp grammar coverage test
  evaluation/experiments/smtp/smtp.fan
  tests/test_grammar_coverage.py
Due: black, mypy

Added smtp grammar coverage test
  evaluation/experiments/smtp/smtp_client.fan
  evaluation/experiments/smtp/smtp_server.fan
Due: none
