Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black .
        language: system
        files: ^(src|tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
-   repo: local
    hooks:
    -   id: mypy
        name: mypy (non-strict)
        entry: mypy
        language: python
        files: ^(tests|evaluation|scripts).*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$
    -   id: mypy-strict
        name: mypy (strict for src/)
        entry: mypy
        language: python
        args:
        - --strict
        files: ^src/.*\.py$
        exclude: |
            (?x)^(
                src/fandango/language/parser/FandangoLexer.py|
                src/fandango/language/parser/sa_fandango\.py|
                src/fandango/language/parser/.*Parser.*\.py|
                src/fandango/converters/antlr/ANTLRv4.*\.py
            )$

fix: add localhost to telnet commands in Protocols.md
  docs/Protocols.md
Due: none

fix: prevent duplicate party assignment in assign_implicit_party
  src/fandango/language/parse.py
Due: black, mypy-strict

Simplify checks
  src/fandango/language/parse.py
Due: black, mypy-strict

mypy
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

fixed assertion error
  evaluation/experiments/smtp/smtp.py
  src/fandango/io/navigation/PacketNonTerminal.py
  src/fandango/io/navigation/packetnavigator.py
Due: black, mypy, mypy-strict

fixed assertion error
  src/fandango/evolution/algorithm.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

merged main again
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/io/packetparser.py
  src/fandango/language/grammar/grammar.py
Due: black, mypy-strict

merged main again
  src/fandango/constraints/repetition_bounds.py
  src/fandango/language/grammar/nodes/char_set.py
Due: black, mypy-strict

merged main again
  src/fandango/evolution/algorithm.py
  src/fandango/io/navigation/packetforecaster.py
Due: black, mypy-strict

black
  src/fandango/language/grammar/grammar.py
  src/fandango/language/grammar/nodes/char_set.py
  src/fandango/language/grammar/parser/iterative_parser.py
Due: black, mypy-strict

fixing tests
  src/fandango/constraints/repetition_bounds.py
  src/fandango/evolution/population.py
  src/fandango/io/navigation/grammarnavigator.py
  src/fandango/io/navigation/packetnavigator.py
  tcp.fan
  tests/test_grammar_graph.py
Due: black, mypy, mypy-strict

fixing tests
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/powerschedule.py
Due: black, mypy-strict

Removed fitness < 1.0 check in unit test because fitness could be larger because of diversity bonus
  tests/test_optimizer.py
Due: black, mypy

test fix
  src/fandango/io/navigation/packetnavigator.py
Due: black, mypy-strict

GrammarReducer -> StateGrammarConverter
  src/fandango/io/navigation/packetforecaster.py
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/io/navigation/stategrammarconverter.py
Due: black, mypy-strict

black
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/evolution/population.py
  src/fandango/io/navigation/packetforecaster.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/io/packetparser.py
Due: black, mypy-strict

black
  docs/smtp-extended.fan
Due: none

black
  grammar.fan
Due: none

black
  src/fandango/io/navigation/packetselector.py
Due: black, mypy-strict

refactor k_path method name add compute_k_path_starters to packetselector
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
  tests/test_grammar.py
Due: black, mypy, mypy-strict

Allow coverage goal selection
  src/fandango/io/navigation/packetforecaster.py
  src/fandango/io/navigation/packetnavigator.py
  src/fandango/io/navigation/packetselector.py
  src/fandango/language/grammar/grammar.py
  src/fandango/language/symbols/symbol.py
  src/fandango/language/symbols/terminal.py
Due: black, mypy-strict
