Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

Fix test
  tests/test_cli.py
Due: black, mypy

Revert changes to beartype expected values
  tests/test_cli.py
Due: black, mypy

more detailed coverage metrics
  evaluation/experiments/chatgpt/gpt_novel.py
  evaluation/experiments/chatgpt/loop.sh
  evaluation/experiments/chatgpt/utils.py
  evaluation/experiments/dns/dns.fan
  evaluation/experiments/dns/docker/wo_coverage/data/cache/fandango.io
  evaluation/experiments/dune/dune.py
  evaluation/experiments/dune/loop.sh
  evaluation/experiments/dune/utils.py
  evaluation/experiments/ftp/docker/coverage/Dockerfile
  evaluation/experiments/ftp/ftp.py
  evaluation/experiments/ftp/loop.sh
  evaluation/experiments/ftp/utils.py
  evaluation/experiments/smtp/__init__.py
  evaluation/experiments/smtp/docker/opensmtpd/image/Dockerfile
  evaluation/experiments/smtp/loop.sh
  evaluation/experiments/smtp/multi_run_merger.py
  evaluation/experiments/smtp/smtp.py
  evaluation/experiments/smtp/utils.py
  src/fandango/evolution/algorithm.py
  src/fandango/io/__init__.py
  src/fandango/io/navigation/packetselector.py
Due: black, mypy

more detailed coverage metrics
  evaluation/experiments/chatgpt/gpt_novel.py
  evaluation/experiments/dns/dns.fan
  evaluation/experiments/dns/dns.py
  evaluation/experiments/dns/loop.sh
  evaluation/experiments/dns/utils.py
  evaluation/experiments/dune/dune.py
  evaluation/experiments/merge_coverage.sh
  evaluation/experiments/multi_run_merger.py
Due: black

more detailed coverage metrics
  evaluation/experiments/chatgpt/gpt_novel.py
  evaluation/experiments/dns/dns.py
  evaluation/experiments/merge_coverage.sh
  evaluation/experiments/multi_run_merger.py
Due: black

more detailed coverage metrics
  evaluation/experiments/merge_coverage.sh
  evaluation/experiments/multi_run_merger.py
Due: black

Fix test_max_nodes_unsat
  scripts/simple_benchmark.py
  src/fandango/evolution/algorithm.py
  src/fandango/language/grammar/parser/parser_tree.py
  src/fandango/language/tree.py
  tests/resources/gen_number.fan
  tests/test_cli.py
  tests/test_grammar.py
  tests/test_optimizer.py
Due: black, mypy

more detailed coverage metrics
  evaluation/experiments/coverage_merged/msgs/dns_median_grammar_coverage_guided.csv
  evaluation/experiments/coverage_merged/msgs/dns_median_grammar_coverage_unguided.csv
  evaluation/experiments/ftp/ftp.py
  evaluation/experiments/merge_coverage.sh
  evaluation/experiments/multi_run_merger.py
Due: black

Add more .venv stuff to gitignore
  .gitignore
Due: none

Change python version in CI unit tests
  .github/workflows/python-tests.yml
Due: none

more detailed coverage metrics
  evaluation/experiments/dns/dns.fan
Due: none

Fix bug with appending an empty TreeValue to another empty TreeValue
  src/fandango/language/tree_value.py
  tests/test_tree_value.py
Due: black, mypy

more detailed coverage metrics
  evaluation/experiments/chatgpt/report.fan
Due: none

Unify handling of parsing of inputs across API and CLI
  src/fandango/api.py
  src/fandango/cli/utils.py
  tests/resources/even_numbers.fan
  tests/test_api.py
Due: black, mypy

readme for io grammars
  README.md
  README_ORIGINAL.md
  evaluation/experiments/chatgpt/novel.fan
Due: none

readme for io grammars
  README.md
Due: none

more detailed coverage metrics
  evaluation/experiments/chatgpt/coverage_wo_guidance/run_11_grammar_coverage.csv
  evaluation/experiments/chatgpt/coverage_wo_guidance/run_11_grammar_coverage_overlap.csv
  evaluation/experiments/chatgpt/coverage_wo_guidance/run_11_metrics.md
  evaluation/experiments/chatgpt/coverage_wo_guidance/run_12_grammar_coverage.csv
  evaluation/experiments/chatgpt/coverage_wo_guidance/run_12_grammar_coverage_overlap.csv
  evaluation/experiments/chatgpt/coverage_wo_guidance/run_12_metrics.md
  evaluation/experiments/chatgpt/multi_run_merger.py
  evaluation/experiments/coverage_merged/msgs/chatgpt_median_grammar_coverage_unguided.csv
  evaluation/experiments/coverage_merged/msgs/ftp_median_grammar_coverage_guided.csv
  evaluation/experiments/coverage_merged/msgs/ftp_median_grammar_coverage_unguided.csv
  evaluation/experiments/coverage_merged/overall/chatgpt_median_grammar_coverage_unguided.csv
  evaluation/experiments/coverage_merged/overall/ftp_median_grammar_coverage_guided.csv
  evaluation/experiments/coverage_merged/overall/ftp_median_grammar_coverage_unguided.csv
  evaluation/experiments/dns/multi_run_merger.py
  evaluation/experiments/dune/multi_run_merger.py
  evaluation/experiments/ftp/coverage_w_guidance/run_11_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/run_11_grammar_coverage_overlap.csv
  evaluation/experiments/ftp/coverage_w_guidance/run_11_metrics.md
  evaluation/experiments/ftp/coverage_w_guidance/run_1_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/run_1_grammar_coverage_overlap.csv
  evaluation/experiments/ftp/coverage_w_guidance/run_1_metrics.md
  evaluation/experiments/ftp/coverage_w_guidance/run_3_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/run_3_grammar_coverage_overlap.csv
  evaluation/experiments/ftp/coverage_w_guidance/run_3_metrics.md
  evaluation/experiments/ftp/coverage_w_guidance/run_4_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/run_4_grammar_coverage_overlap.csv
  evaluation/experiments/ftp/coverage_w_guidance/run_4_metrics.md
  evaluation/experiments/ftp/coverage_w_guidance/run_7_grammar_coverage.csv
  evaluation/experiments/ftp/coverage_w_guidance/run_7_grammar_coverage_overlap.csv
  evaluation/experiments/ftp/coverage_w_guidance/run_7_metrics.md
  evaluation/experiments/ftp/multi_run_merger.py
  evaluation/experiments/smtp/multi_run_merger.py
Due: black

Only run CI on PRs
  .github/workflows/code-checks.yml
  .github/workflows/deploy-book.yml
  .github/workflows/python-tests.yml
Due: none

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(src|tests|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

