Repository fandango-fuzzer/fandango: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, mypy-strict

black:
  name: black
  entry: black .
  language: system

mypy:
  name: mypy (non-strict)
  entry: mypy
  language: python

mypy-strict:
  name: mypy (strict for src/)
  entry: mypy
  language: python
  args:
  - --strict

fix: cleanup diversity boosting methods (didnt work that well). Will bring them back with better tests soonTM
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

fix: initial iteration for alg cleanup
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

fix: back to 14 failing cases
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

fix: blacked
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/hyperparameter.py
  tests/test_optimizer.py
Due: black, mypy, mypy-strict

fix: remove unused parameters and simplify initialization in algorithm
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

fix: remove start_symbol parameter and set default value in algorithm and population classes
  src/fandango/api.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/population.py
  tests/test_optimizer.py
Due: black, mypy, mypy-strict

fix: remove profiling
  src/fandango/api.py
  src/fandango/evolution/algorithm.py
Due: black, mypy-strict

fix: reduce pytest timeout for improved test execution speed
  pyproject.toml
Due: none

fix: remove adaptation logic and adjust test parameters for consistency
  src/fandango/evolution/adaptation.py
  src/fandango/evolution/algorithm.py
  tests/test_grammar.py
  tests/test_softconstraint.py
Due: black, mypy, mypy-strict

fix: remove adaptation logic and adjust test parameters for consistency
  src/fandango/evolution/adaptation.py
Due: black, mypy-strict

fix: remove start_symbol parameter from Fandango instantiation
  src/fandango/__init__.py
Due: black, mypy-strict

fix: simplify algorithm parameters by removing diversity-related options
  src/fandango/evolution/adaptation.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  tests/test_optimizer.py
Due: black, mypy, mypy-strict

fix: simplify algorithm parameters by removing diversity-related options
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/hyperparameter.py
  tests/test_optimizer.py
Due: black, mypy, mypy-strict

fix: refactor hyperparameter management in Fandango algorithm
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/hyperparameter.py
  tests/test_optimizer.py
Due: black, mypy, mypy-strict

fix: improve readability of tournament size calculations in tests
  tests/test_optimizer.py
Due: black, mypy

fix: update tournament_size error message and refactor population manager initialization
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/population.py
  tests/test_optimizer.py
Due: black, mypy, mypy-strict

fix: refactor evaluation metrics and simplify fitness checks in algorithm
  src/fandango/api.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
Due: black, mypy-strict

fix: refactor mutation process and enhance evaluation handling in algorithm
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/evolution/hyperparameter.py
  src/fandango/evolution/mutation.py
Due: black, mypy-strict

fix: refactor selection methods to use population manager in algorithm
  src/fandango/evolution/adaptation.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/evolution/population.py
  src/fandango/evolution/profiler.py
  tests/test_optimizer.py
Due: black, mypy, mypy-strict

Raise custom exception on removed population wide constraints
  language/FandangoParser.g4
  src/fandango/language/convert.py
  src/fandango/language/cpp_parser/FandangoParser.cpp
  src/fandango/language/cpp_parser/FandangoParser.h
  src/fandango/language/cpp_parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.interp
  src/fandango/language/parser/FandangoParser.py
Due: black, mypy-strict

Refactor to 90% correctness
  pyproject.toml
  src/fandango/constraints/comparison.py
  src/fandango/constraints/failing_tree.py
  src/fandango/constraints/fitness.py
  src/fandango/constraints/repetition_bounds.py
  src/fandango/evolution/adaptation.py
  src/fandango/evolution/algorithm.py
  src/fandango/evolution/evaluation.py
  src/fandango/evolution/mutation.py
  src/fandango/evolution/population.py
  src/fandango/language/grammar/grammar.py
  src/fandango/logger.py
  tests/test_cli.py
  tests/test_evaluate_individual.py
  tests/test_grammar.py
  tests/test_optimizer.py
Due: black, mypy, mypy-strict

repetition fix
  src/fandango/constraints/repetition_bounds.py
Due: black, mypy-strict

Improve autofixing in eq constraints to be more general
  src/fandango/constraints/comparison.py
  src/fandango/constraints/repetition_bounds.py
  src/fandango/language/convert.py
Due: black, mypy-strict

Fix a bug where altered nts would still be parsed into
  src/fandango/constraints/comparison.py
  tests/test_evaluate_individual.py
Due: black, mypy, mypy-strict

Remove random seed from benchmarks
  tests/test_benchmarks.py
Due: black, mypy

Allow longer pytest runtimes for benchmarks
  .github/workflows/benchmarks-prs.yml
Due: none

Don't run benchmarks repeatedly if not in benchmark CI
  .github/workflows/benchmarks-main.yml
  .github/workflows/benchmarks-prs.yml
  pyproject.toml
Due: none

Fix autofixing in complex constraints
  src/fandango/constraints/comparison.py
  src/fandango/constraints/conjunction.py
  src/fandango/constraints/disjunct.py
  src/fandango/constraints/exists.py
  src/fandango/constraints/expression.py
  src/fandango/constraints/fitness.py
  src/fandango/constraints/forall.py
  src/fandango/constraints/implication.py
  src/fandango/constraints/repetition_bounds.py
  src/fandango/language/convert.py
  src/fandango/language/parse.py
  src/fandango/language/search.py
  tests/test_fstrings.py
  tests/test_language.py
  tests/test_star.py
Due: black, mypy, mypy-strict

Replace `argparse.FileType` with manual implementations
  src/fandango/cli/parser.py
Due: black, mypy-strict

Close fandango spec file after reading
  src/fandango/language/parse.py
Due: black, mypy-strict

Path conditions:
  black: any of: ^(src|tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy: any of: ^(tests|evaluation|scripts).*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$

  mypy-strict: any of: ^src/.*\.py$, but not: (?x)^(
    src/fandango/language/parser/FandangoLexer.py|
    src/fandango/language/parser/sa_fandango\.py|
    src/fandango/language/parser/.*Parser.*\.py|
    src/fandango/converters/antlr/ANTLRv4.*\.py
)$
